<div class="kt-portlet" [ngClass]="{
    'kt-portlet--body-progress kt-portlet--body-progress-overlay': viewLoading
  }">
  <div class="position-relative" style="padding: 35px">
    <ng-container [ngSwitch]="step">
      <ng-container *ngSwitchCase="1">
        <ng-container *ngTemplateOutlet="buoc1"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <ng-container *ngTemplateOutlet="buoc2"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <ng-container *ngTemplateOutlet="chonstatus"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <ng-container *ngTemplateOutlet="chontag"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="5">
        <div class="cu-view-space">
          <div class="close-dialog d-flex">
            <div>
              <mat-icon class="scale-2 url" (click)="Pre()">chevron_left</mat-icon>
            </div>
            <div class="text-center" style="flex-grow: 1">
              <h1 style="margin-top: -15px; font-size: 40px">
                {{ "department.caidatchedoxem" | translate }}
              </h1>
            </div>
            <div>
              <mat-icon class="scale-2 url" (click)="close()">close</mat-icon>
            </div>
          </div>
          <div class="view-template" style="min-height: 400px">
            <div class="row">
              <div class="col-md-6 pd-0" *ngFor="let view of listDefaultView">
                <div class=" card card-view {{
                    view.isCheck ? 'card-active' : ''
                  }}">
                  <div class="card-body row" style="padding: 2rem 2.25rem;">
                    <div style="flex-grow: 1">
                      <img src="{{ view.icon }}" style="margin-right: 5px" width="20px" alt="" />
                      {{ view.view_name }}
                    </div>
                    <mat-slide-toggle [id]="view.id_row" [disabled]="view.is_default" [(ngModel)]="view.isCheck">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-success btn-next" type="button" (click)="Next(); isComplete = true">
            {{
            (isComplete ? "department.trolaituychinh" : "department.tieptheo")
            | translate
            }}
          </button>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="cu-view-space">
          <div class="close-dialog d-flex">
            <div>
              <mat-icon class="scale-2 url" *ngIf="!IsUpdate" (click)="isComplete = false; Pre()">
                chevron_left</mat-icon>
            </div>
            <div class="text-center" style="flex-grow: 1">
              <h1 style="margin-top: -15px; font-size: 40px">
                {{ getTitle() }}
              </h1>
            </div>
            <div>
              <mat-icon class="scale-2 url" (click)="close()">close</mat-icon>
            </div>
          </div>

          <div class="view-template" style="overflow: auto">
            <div class="w=100" style="margin-top: 25px">
              <table class="w-100 table-bordered table-hover">
                <tbody>
                  <tr>
                    <td class="border line-tab url" (click)="viewDetail(1)">
                      <div *ngIf="item.ParentID > 0; else dep" class="line-title">
                        {{ "JeeWork.ten" | translate }}
                        {{ this._WorkwizardChungService.ts_thumuc }}
                      </div>
                      <ng-template #dep>
                        <div class="line-title">
                          {{ "JeeWork.ten" | translate }}
                          {{ this._WorkwizardChungService.ts_phongban }}
                        </div>
                      </ng-template>
                      <div class="line-value" *ngIf="itemFormGroup">
                        {{ itemFormGroup.controls["title"].value }}
                      </div>
                    </td>
                  </tr>
                  <tr *ngFor="let role of ListRole">
                    <td class="border line-tab url" (click)="viewDetail(2)">
                      <div class="line-title">
                        {{ role.RoleName }}
                      </div>
                      <div class="line-value">
                        <div class="row">
                          <!-- <ng-container *ngFor="let us of getlist_Owners();let index = index">
                                                      <div *ngIf="index < 3" class="url row position-relative mr-2"
                                                          style="justify-content: flex-end; padding: 0; width: 34px">

                                                          <div style="justify-content: flex-end;">
                                                              <ng-container>
                                                                  <kt-avatar-user class="user url" [image]="us.image"
                                                                      size="30" [name]="us.hoten">
                                                                  </kt-avatar-user>
                                                              </ng-container>
                                                          </div>
                                                      </div>
                                                  </ng-container> -->

                          <ng-container *ngFor="
                              let us of getlist_Users(role.RowID, role.IsAdmin);
                              let index = index
                            ">
                            <div *ngIf="index < 3" class="user url position-relative"
                              style=" justify-content: flex-end;height: 34px;padding: 0;"
                              [ngStyle]="{width:getlist_Users(role.RowID).length === 1? '42px': '34px'}">
                              <ng-container>
                                <kt-avatar-user [image]="us.image" size="30" [name]="us.hoten">
                                </kt-avatar-user>
                              </ng-container>
                            </div>
                          </ng-container>

                          <ng-container *ngIf="
                              getlist_Users(role.RowID) &&
                              getlist_Users(role.RowID).length > 3
                            ">
                            <div class="m--img-rounded m--marginless m--img-centered background"
                              [matMenuTriggerFor]="menu1"
                              [ngStyle]="{ 'width.px': 34, 'height.px': 34, 'padding.px': 0 }">
                              <div class="user w-100 h-100" style="
                                  opacity: 1;
                                  color: white;
                                  padding-top: 3px;
                                  text-align: center;
                                  background: grey;
                                " [ngStyle]="{ 'font-size.px': 16 }">
                                +{{ getlist_Users(role.RowID).length - 3 }}
                              </div>
                            </div>
                            <mat-menu #menu1="matMenu">
                              <div *ngFor="
                                  let user of getlist_Users(role.RowID);
                                  let index = index
                                " style="
                                  justify-content: flex-end;
                                  margin-bottom: 5px;
                                ">
                                <ng-container *ngIf="index > 2">
                                  <div class="position-relative">
                                    <div class="row">
                                      <kt-avatar-user [image]="user.image" size="35" [name]="user.hoten"
                                        [showFull]="true" [info]="'@' + user.username">
                                      </kt-avatar-user>
                                    </div>
                                  </div>
                                </ng-container>
                              </div>
                            </mat-menu>
                          </ng-container>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <!-- <tr>
                                      <td class="border line-tab url" (click)="viewDetail(2)">
                                          <div class="line-title">
                                              {{ 'department.nguoigiao'|translate}} {{this._WorkwizardChungService.ts_congviec}}
                                          </div>
                                          <div class="line-value">
                                              <div class="row">
                                                  <ng-container *ngFor="let us of getlist_Assign();let index = index">
                                                      <div *ngIf="index < 3" class="user url position-relative"
                                                          style="justify-content: flex-end; height: 34px; padding: 0"
                                                          [ngStyle]="{'width': (getlist_Assign().length===1) ? '42px' : '34px'}">
                                                          <ng-container>
                                                              <kt-avatar-user [image]="us.image" size="30"
                                                                  [name]="us.hoten">
                                                              </kt-avatar-user>
                                                          </ng-container>
                                                      </div>
                                                  </ng-container>
                                                  <ng-container
                                                      *ngIf="getlist_Assign() && getlist_Assign().length > 3">

                                                      <div class="m--img-rounded m--marginless m--img-centered background"
                                                          [matMenuTriggerFor]="menu1" style="padding:0"
                                                          [ngStyle]="{'width.px': 34,'height.px':34}">
                                                          <div class="user w-100 h-100"
                                                              style="opacity: 1;color:white;padding-top:3px;text-align: center;background: grey;"
                                                              [ngStyle]="{'font-size.px': 16}">
                                                              +{{getlist_Assign().length-3}}
                                                          </div>
                                                      </div>
                                                      <mat-menu #menu1="matMenu">
                                                          <div *ngFor="let user of getlist_Assign();let index = index"
                                                              style="justify-content: flex-end;margin-bottom: 5px;">
                                                              <ng-container *ngIf="index > 2">
                                                                  <div class="position-relative">
                                                                      <div class="row">
                                                                          <kt-avatar-user [image]="user.image"
                                                                              size="35" [name]="user.hoten"
                                                                              [showFull]="true"
                                                                              [info]="'@' + user.username">
                                                                          </kt-avatar-user>
                                                                      </div>
                                                                  </div>
                                                              </ng-container>
                                                          </div>
                                                      </mat-menu>
                                                  </ng-container>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td class="border line-tab url" (click)="viewDetail(2)">
                                        <div class="line-title">
                                            {{ 'department.nguoitaonhiemvu'|translate}}
                                        </div>
                                        <div class="line-value">
                                            <div class="row">
                                                <ng-container *ngFor="let us of getlist_Create();let index = index">
                                                    <div *ngIf="index < 10" class="user url position-relative"
                                                        style="justify-content: flex-end; height: 34px; padding: 0"
                                                        [ngStyle]="{'width': (getlist_Create().length===1) ? '42px' : '34px'}">
                                                        <ng-container>
                                                            <kt-avatar-user [image]="us.image" size="30"
                                                                [name]="us.hoten">
                                                            </kt-avatar-user>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="getlist_Create() && getlist_Create().length > 3">

                                                    <div class="m--img-rounded m--marginless m--img-centered background"
                                                        [matMenuTriggerFor]="menu1"
                                                        [ngStyle]="{'width.px': 34,'height.px':34}">
                                                        <div class="user w-100 h-100"
                                                            style="opacity: 1;color:white;padding-top:3px;text-align: center;background: grey;"
                                                            [ngStyle]="{'font-size.px': 16}">
                                                            +{{getlist_Create().length-10}}
                                                        </div>
                                                    </div>
                                                    <mat-menu #menu1="matMenu">
                                                        <div *ngFor="let user of getlist_Create();let index = index"
                                                            style="justify-content: flex-end;margin-bottom: 5px;">
                                                            <ng-container *ngIf="index > 9">
                                                                <div class="position-relative">
                                                                    <div class="row">
                                                                        <kt-avatar-user [image]="user.image"
                                                                            size="35" [name]="user.hoten"
                                                                            [showFull]="true"
                                                                            [info]="'@' + user.username">
                                                                        </kt-avatar-user>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </mat-menu>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </td>
                                </tr> -->
                  <tr>
                    <td class="border line-tab url" (click)="viewDetail(3)">
                      <div class="line-title">
                        {{ "JeeWork.status" | translate }}
                      </div>
                      <div class="line-value">
                        <div class="row h-100">
                          <div class="box-stt" style="padding: 0" matTooltip="{{ stt.title }}"
                            matTooltipPosition="above" [ngStyle]="{ backgroundColor: stt.color }"
                            *ngFor="let stt of listSTT"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="border line-tab url" (click)="viewDetail(4)">
                      <div class="line-title">
                        {{ "JeeWork.tag" | translate }}
                      </div>
                      <div class="line-value">
                        <div class="row h-100">
                          <div class="box-stt" style="padding: 0" matTooltip="{{ tag.title }}"
                            matTooltipPosition="above" [ngStyle]="{ backgroundColor: tag.color }"
                            *ngFor="let tag of listTagAdd"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="border line-tab url" (click)="viewDetail(5)">
                      <div class="line-title">
                        {{ "department.chedoxem" | translate }}
                      </div>
                      <div class="line-value">
                        <ng-container *ngFor="let view of listDefaultView">
                          <img style="margin: 0 10px" *ngIf="view.isCheck" src="{{ view.icon }}"
                            matTooltip="{{ view.view_name }}" matTooltipPosition="above" width="20px" alt="" />
                        </ng-container>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <button class="btn btn-success btn-next" [disabled]="disabledBtn" type="button" style="margin-top: 30px"
            (click)="SubmitData()">
            {{
            (item.id_row > 0
            ? "department.luuthaydoi"
            : "department.hoanthanh"
            ) | translate
            }}
          </button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #buoc1>
  <div class="cu-view-space" style="min-height: 350px">
    <div class="close-dialog">
      <div class="float-left" *ngIf="isComplete" style="width: 600px !important; float: left !important">
        <mat-icon class="scale-2 url" (click)="Pre()">chevron_left</mat-icon>
      </div>
      <div class="float-right">
        <mat-icon class="scale-2 url" (click)="close()">close</mat-icon>
      </div>
    </div>
    <div class="row">
      <svg style="margin: auto; padding-left: 240px" width="123" height="97" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
          <circle fill="#7B67EE" cx="61.5" cy="56.5" r="39.5"></circle>
          <path d="M54.57 17.6A39.5 39.5 0 0 0 88.44 85.4 39.5 39.5 0 1 1 54.56 17.6z" fill="#6C5AD4"></path>
          <path
            d="M22.25 49.42a39.89 39.89 0 0 0-.54 10.1c-2.55 2.88-3.67 5.68-3.01 8.16 2.2 8.19 23.14 9.7 46.77 3.36 23.64-6.34 41.02-18.11 38.83-26.3-.73-2.74-3.57-4.73-7.9-5.93a39.65 39.65 0 0 0-5.3-7.98c17.32-.7 29.74 2.67 31.64 9.76 3.04 11.32-21.92 27.84-55.75 36.9C33.17 86.57 3.3 84.74.26 73.42c-1.88-7 6.96-16 21.99-24z"
            fill="#C1B6FF" opacity=".4"></path>
          <path
            d="M22 50.97a39.7 39.7 0 0 0-.2 1.54C12.4 58.61 7.24 65.1 8.66 70.37c2.7 10.11 28.57 11.97 57.76 4.15 29.19-7.82 50.65-22.36 47.94-32.47-1.46-5.45-9.64-8.5-21.45-8.94-.26-.36-.54-.72-.82-1.08 15.21-.26 25.97 2.95 27.68 9.36 2.89 10.77-20.86 26.49-53.03 35.11-32.18 8.62-60.6 6.88-63.5-3.89C1.55 66.3 9.04 58.26 22 50.97zm-.32 3.13c-.05.72-.07 1.45-.08 2.18-5.35 4.38-8.05 8.78-7.05 12.5 2.4 9 25.38 10.64 51.3 3.7 25.94-6.95 45.01-19.87 42.6-28.85-1.05-3.94-6.05-6.47-13.52-7.48-.36-.6-.74-1.2-1.13-1.77 9.9.72 16.67 3.57 17.95 8.36 2.58 9.62-17.83 23.44-45.58 30.88-27.76 7.44-52.35 5.67-54.92-3.95-1.24-4.6 2.81-10.19 10.43-15.57z"
            fill="#C1B6FF" opacity=".4"></path>
          <circle fill="#B4A7FF" cx="34.5" cy="29.5" r="12.5"></circle>
          <path d="M29.45 18.06a12.5 12.5 0 0 0 15.1 18.88 12.5 12.5 0 1 1-15.1-18.88z" fill="#9A8CED"></path>
          <path
            d="M104.72 6.72l1.84-5.24a1 1 0 0 1 1.88 0l1.84 5.24 5.24 1.84a1 1 0 0 1 0 1.88l-5.24 1.84-1.84 5.24a1 1 0 0 1-1.88 0l-1.84-5.24-5.24-1.84a1 1 0 0 1 0-1.88l5.24-1.84zM75.93 4.93l.63-1.8a1 1 0 0 1 1.88 0l.63 1.8 1.8.63a1 1 0 0 1 0 1.88l-1.8.63-.63 1.8a1 1 0 0 1-1.88 0l-.63-1.8-1.8-.63a1 1 0 0 1 0-1.88l1.8-.63zM17.78 92.78l.28-.8a1 1 0 0 1 1.88 0l.28.8.8.28a1 1 0 0 1 0 1.88l-.8.28-.28.8a1 1 0 0 1-1.88 0l-.28-.8-.8-.28a1 1 0 0 1 0-1.88l.8-.28z"
            fill="#E6E2FF"></path>
        </g>
      </svg>
    </div>
    <h1 class="text-center" style="margin-top: 10px; margin-bottom: 10px; font-size: 35px">
      <ng-container *ngIf="item.ParentID > 0; else duan">
        <ng-container *ngIf="item.id_row > 0; else them1">
          {{ "JeeWork.chinhsua" | translate }} {{ this._WorkwizardChungService.ts_thumuc }}
        </ng-container>
        <ng-template #them1>
          <ng-container>
            {{ "JeeWork.themmoi" | translate }}
            {{ this._WorkwizardChungService.ts_thumuc }}
          </ng-container>
        </ng-template>
      </ng-container>
      <ng-template #duan>
        <ng-container *ngIf="item.id_row > 0; else them2">
          {{ "JeeWork.chinhsua" | translate }}
          {{ this._WorkwizardChungService.ts_phongban }}
        </ng-container>
        <ng-template #them2>
          <ng-container>
            {{ "JeeWork.taomoi" | translate }}
            {{ this._WorkwizardChungService.ts_phongban }}
          </ng-container>
        </ng-template>
      </ng-template>
    </h1>
    <!-- <div class="row">
      <div class="themoi text-success" style="width: 110px !important">
        {{ item.id_row > 0 ? "Chỉnh sửa" : "Thêm mới" }}
      </div>
      <div
        (click)="AddTemplate()"
        *ngIf="!(item.id_row > 0)"
        class="btn-template text-hover-success"
        style="width: 150px"
        translate="GeneralKey.templatecenter"
      ></div>
    </div> -->
    <form class="kt-form" [formGroup]="itemFormGroup">
      <div class="kt-form__group">
        <div class="row">
          <div class="col-md-12 kt--margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" style="width: 100%;">
              <input *ngIf="item.ParentID > 0; else dep" matInput placeholder="{{ 'JeeWork.ten' | translate }} {{
                  this._WorkwizardChungService.ts_thumuc
                }}" formControlName="title" class="require" required #focusInput />
              <ng-template #dep>
                <input matInput placeholder="{{ 'JeeWork.ten' | translate }} {{
                    this._WorkwizardChungService.ts_phongban
                  }}" formControlName="title" class="require" required #focusInput />
              </ng-template>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
    <button class="btn btn-success btn-next" [disabled]="isCompleteStep1()" type="button" (click)="Next()">
      {{
      (isComplete ? "department.trolaituychinh" : "department.tieptheo")
      | translate
      }}
    </button>
  </div>
</ng-template>
<ng-template #buoc2>
  <div class="cu-view-space">
    <div class="close-dialog d-flex">
      <div>
        <mat-icon class="scale-2 url" (click)="Pre()">chevron_left</mat-icon>
      </div>
      <div class="text-center" style="flex-grow: 1">
        <h1 style="margin-top: -15px; font-size: 40px">
          {{ "department.chonnguoithamgia" | translate }}
        </h1>
      </div>
      <div>
        <mat-icon class="scale-2 url" (click)="close()">close</mat-icon>
      </div>
    </div>

    <!--  -->
    <div class="chonnguoithamgia" style="margin-top: 15px" *ngFor="let _role of ListRole">
      <h3 style="font-weight: 600;line-height: 1.2;margin-bottom: 0.5rem;">{{ _role.RoleName }}</h3>
      <div class="row" style="margin-top: 15px;padding-left:10px;">
        <ng-container *ngFor="let us of getlist_Users(_role.RowID, _role.IsAdmin); let index = index">
          <div *ngIf="index < 3" class="user url scale-hover-02 position-relative" style="
              justify-content: flex-end;
              width: 40px;
              height: 40px;
              padding-left: 0px;
            ">
            <i class="far fa-times-circle url view-hover bg-white" (click)="ItemSelected(us, us.type, _role.IsAdmin)"
              style="
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 50%;
                font-size: 12pt;
              "></i>
            <ng-container>
              <kt-avatar-user [image]="us.image" size="40" [name]="us.hoten">
              </kt-avatar-user>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="getlist_Users(_role.RowID) && getlist_Users(_role.RowID).length > 3">
          <div class="m--img-rounded m--marginless m--img-centered background" [matMenuTriggerFor]="menu1"
            [ngStyle]="{ 'width.px': 40, 'height.px': 40,'padding.px':0 }">
            <div class="user w-100 h-100"
              style="opacity: 1;color: white;padding-top: 3px;text-align: center;background: grey;"
              [ngStyle]="{ 'font-size.px': 20 }">
              +{{ getlist_Users(_role.RowID).length - 3 }}
            </div>
          </div>
          <mat-menu #menu1="matMenu">
            <div *ngFor="let user of getlist_Users(_role.RowID); let index = index" style="justify-content: flex-end;">
              <ng-container *ngIf="index > 2">
                <div class="position-relative" style="padding:5px">
                  <i class="fas fa-times scale-hover-01 url" style="position: absolute; top: 0; right: 0"
                    (click)="ItemSelected(user, user.type)"></i>
                  <div class="row">
                    <kt-avatar-user [image]="user.image" size="40" [name]="user.hoten" [showFull]="true"
                      [info]="'@' + user.username">
                    </kt-avatar-user>
                  </div>
                </div>
              </ng-container>
            </div>
          </mat-menu>
        </ng-container>

        <div matTooltip="Chọn người" matTooltipPosition="above" class="url user" [matMenuTriggerFor]="owner" style="
            border: 1px dashed #676363;
            border-radius: 50%;
            padding: 5px;
            display: inline-block;
            height: 39px;
            width: 39px;
          ">
          <mat-icon style="font-size: 28px !important">person_add</mat-icon>
        </div>
        <div style="font-size: 20px; padding: 7px; width: 162px">
          <span class="url" [matMenuTriggerFor]="owner">{{
            "department.themthanhvien" | translate
            }}</span>
        </div>
      </div>
      <mat-menu #owner="matMenu">
        <div class="page-work-detail">
          <kt-choose-user-v2 [options]="options" (IsSearch)="stopPropagation($event)"
            (ItemSelected)="ItemSelected($event, _role.RowID)">
          </kt-choose-user-v2>
        </div>
      </mat-menu>
    </div>

    <!--  -->

    <!-- ------------------------------------------------------------------------------------------ -->
    <button class="btn btn-success btn-next" type="button" (click)="Next()" style="margin-top: 20px;"
      [ngClass]="{twoitem: check(ListRole)}">
      {{
      (isComplete ? "department.trolaituychinh" : "department.tieptheo")
      | translate
      }}
    </button>
  </div>
</ng-template>

<ng-template #chonstatus>
  <div class="cu-view-space">
    <div class="close-dialog d-flex">
      <div>
        <mat-icon class="scale-2 url" (click)="Pre()">chevron_left</mat-icon>
      </div>
      <div class="text-center" style="flex-grow: 1">
        <h1 style="margin-top: -15px; font-size: 40px">
          {{ "department.chontrangthai" | translate }}
        </h1>
      </div>
      <div>
        <mat-icon class="scale-2 url" (click)="close()">close</mat-icon>
      </div>
    </div>

    <div class="view-template overflow-auto" style="padding-bottom: 0">
      <app-template-chontrangthai [dataInput]="setData()" (selectStatus)="selectStatus($event)"
        (refreshTemplate)="refreshTemplate($event)"></app-template-chontrangthai>
    </div>
    <footer>
      <button class="btn btn-success btn-next" type="button" (click)="Next()">
        {{
        (isComplete ? "department.trolaituychinh" : "department.tieptheo")
        | translate
        }}
      </button>
    </footer>

  </div>
</ng-template>

<ng-template #chontag>
  <div class="cu-view-space">
    <div class="close-dialog d-flex">
      <div>
        <mat-icon class="scale-2 url" (click)="Pre()">chevron_left</mat-icon>
      </div>
      <div class="text-center" style="flex-grow: 1">
        <h1 style="margin-top: -15px; font-size: 40px">
          {{ "department.chonthe" | translate }}
        </h1>
      </div>
      <div>
        <mat-icon class="scale-2 url" (click)="close()">close</mat-icon>
      </div>
    </div>

    <div class="view-template overflow-auto" style="padding-bottom: 0">
      <div class="row w-100">
        <div class="col-md-12">
          <ng-container *ngIf="UseParentTemplate; else templateCustom">
            <div class="header-view row">
              <ng-container *ngFor="let tag of listTag">
                <div class="status-input col-12 form-control">
                  <div class="box-color" [ngStyle]="{ backgroundColor: tag.color }"></div>
                  <div class="input" style="margin-left: 10px;align-items: center;display: flex;">
                    <input type="text" disabled [(ngModel)]="tag.title" class="" />
                  </div>
                  <div class="action-input">
                    <i class="fas fa-ellipsis-h url"></i>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #templateCustom>
            <div class="header-view row mt-4">
              <!-- <div class="row w-100" cdkDropList (cdkDropListDropped)="drop($event)"> -->
              <div style="width: 50%">
                <div class="header-view-title">
                  {{ "department.thehethong" | translate }}&nbsp;({{
                  listTag.length
                  }})
                </div>
                <div style="max-height: 300px;overflow: auto;">
                  <ng-container *ngFor="let tag of listTag; let index = index">
                    <div class="status-input col-12 form-control" *ngIf="true" style="width: 100%">
                      <div class="cu-custom-fields__form-dropdown-option-color"
                        [ngStyle]="{ backgroundColor: tag.color }"></div>
                      <div class="input" style="margin-left:10px;align-items: center;display: flex;">
                        <span>{{ tag.title }}</span>
                      </div>
                    </div>
                  </ng-container>

                </div>
              </div>

              <div style="width: 50%">
                <div class="header-view-title">
                  {{ "department.themthemoi" | translate }}&nbsp;({{
                  listTagAdd.length
                  }})
                </div>
                <div style="max-height: 300px;overflow: auto;">
                  <ng-container *ngFor="let tag of listTagAdd; let index = index">
                    <div class="status-input col-12 form-control" *ngIf="true" style="width: 100%">
                      <div class="cu-custom-fields__form-dropdown-option-color"
                        [ngStyle]="{ backgroundColor: tag.color }"></div>
                      <div class="input" style="margin-left: 10px;align-items: center;display: flex;">
                        <input type="text" #input (focus)="tagFocus(tag.rowid)"
                          (keyup.enter)="tagFocusout($event.target.value, tag)"
                          (focusout)="tagFocusout($event.target.value, tag)" [value]="tag.title" class="" />
                      </div>
                      <button class="pd-0 mg-0" style="visibility: hidden; width: 0" #changeColor
                        [matMenuTriggerFor]="color"></button>
                      <div class="text-color" (click)="changeColor.click()">
                        Chọn màu
                      </div>
                      <div>
                        <button mat-icon-button class="icon-xoa" (click)="Delete_Tag(tag)"
                          matTooltip="{{ 'JeeWork.xoa' | translate }}">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </div>
                    <mat-menu #color="matMenu" yPosition="above" xPosition="after">
                      <div class="row" style="width: 200px">
                        <div class="color-picker" [ngStyle]="{ backgroundColor: color }"
                          (click)="ChangeTagColor(color, tag)" *ngFor="let color of defaultColors"></div>
                      </div>
                    </mat-menu>
                  </ng-container>
                  <div class="status-input col-12 form-control" *ngIf="isAddTag">
                    <div class="input">
                      <app-focus-block type="text" placeholder="{{ 'department.themthe' | translate }}" isbd="true"
                        style="width: 100%" (out)="focusOutTag($event)">
                      </app-focus-block>
                    </div>
                  </div>
                </div>
                <div class="cu-create-custom-field-form__edit-add ng-star-inserted">
                  <button class="cu-btn cu-btn_sm cu-btn_outline ng-star-inserted" (click)="isAddTag = true"
                    style="float: left; width: 52%" *ngIf="!isAddStatus">
                    + Thêm thẻ mới
                  </button>

                  <button *ngIf="check_tags" class="cu-btn cu-btn_sm cu-btn_outline ng-star-inserted"
                    (click)="Submit_Tags()" style="float: left; margin-left: 10px; width: 57%">
                    Cập nhật nhãn từ hệ thống
                  </button>
                </div>
              </div>
              <!-- </div> -->

              <!-- <button class="btn btn-success" style="padding: 5px 10px; margin-left: 10px;width: 120px;" (click)="isAddTag=true"
                            *ngIf="!isAddStatus">
                            <i class="fas fa-plus"></i> &nbsp;
                            {{ 'department.themthe'|translate}}
                        </button> -->
              <!-- <button mat-button style="padding: 5px 10px; margin-left: 10px;width: 120px;" (click)="isAddTag=true">
                            <mat-icon class="material-icons">add_circle</mat-icon>
                            {{ 'department.themthe'|translate}}
                        </button> -->
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div>
      <button *ngIf="!check_tags; else ConfigTag" class="btn btn-success btn-next" type="button" (click)="Next()">
        {{
        (isComplete ? "department.trolaituychinh" : "department.tieptheo")
        | translate
        }}
      </button>
      <ng-template #ConfigTag>
        <button class="jee_button jee_btn-addcontinue btn-next" type="button" (click)="SubmitData()">
          {{ "JeeWork.luudong" | translate }}
        </button>
      </ng-template>
    </div>
  </div>
</ng-template>