<div style="padding-top:10px"></div>
<ngx-content-loading [speed]="'500ms'">
    <svg:g ngx-rect width="270" height="10" y="10" x="45"></svg:g>
    <svg:g ngx-rect width="270" height="10" y="40" x="45"></svg:g>
    <svg:g ngx-circle cy="30" cx="360" r="30" ry="5"></svg:g>
    <svg:g ngx-rect width="340" height="10" y="70" x="45"></svg:g>
    <svg:g ngx-rect width="340" height="10" y="100" x="45"></svg:g>
</ngx-content-loading>

<div class="border-item-yc" style="padding-bottom: 10px;"></div>
<ngx-content-loading [speed]="'500ms'">
    <svg:g ngx-rect width="270" height="10" y="10" x="45"></svg:g>
    <svg:g ngx-rect width="270" height="10" y="40" x="45"></svg:g>
    <svg:g ngx-circle cy="30" cx="360" r="30" ry="5"></svg:g>
    <svg:g ngx-rect width="340" height="10" y="70" x="45"></svg:g>
    <svg:g ngx-rect width="340" height="10" y="100" x="45"></svg:g>
</ngx-content-loading>

<div class="border-item-yc" style="padding-bottom: 10px;"></div>
<ngx-content-loading [speed]="'500ms'">
    <svg:g ngx-rect width="270" height="10" y="10" x="45"></svg:g>
    <svg:g ngx-rect width="270" height="10" y="40" x="45"></svg:g>
    <svg:g ngx-circle cy="30" cx="360" r="30" ry="5"></svg:g>
    <svg:g ngx-rect width="340" height="10" y="70" x="45"></svg:g>
    <svg:g ngx-rect width="340" height="10" y="100" x="45"></svg:g>
</ngx-content-loading>

<div class="border-item-yc" style="padding-bottom: 10px;"></div>
<ngx-content-loading [speed]="'500ms'">
    <svg:g ngx-rect width="270" height="10" y="10" x="45"></svg:g>
    <svg:g ngx-rect width="270" height="10" y="40" x="45"></svg:g>
    <svg:g ngx-circle cy="30" cx="360" r="30" ry="5"></svg:g>
    <svg:g ngx-rect width="340" height="10" y="70" x="45"></svg:g>
    <svg:g ngx-rect width="340" height="10" y="100" x="45"></svg:g>
</ngx-content-loading>

<div class="border-item-yc" style="padding-bottom: 10px;"></div>
<ngx-content-loading [speed]="'500ms'">
    <svg:g ngx-rect width="270" height="10" y="10" x="45"></svg:g>
    <svg:g ngx-rect width="270" height="10" y="40" x="45"></svg:g>
    <svg:g ngx-circle cy="30" cx="360" r="30" ry="5"></svg:g>
    <svg:g ngx-rect width="340" height="10" y="70" x="45"></svg:g>
    <svg:g ngx-rect width="340" height="10" y="100" x="45"></svg:g>
</ngx-content-loading>

<div class="border-item-yc" style="padding-bottom: 10px;"></div>
<ngx-content-loading [speed]="'500ms'">
    <svg:g ngx-rect width="270" height="10" y="10" x="45"></svg:g>
    <svg:g ngx-rect width="270" height="10" y="40" x="45"></svg:g>
    <svg:g ngx-circle cy="30" cx="360" r="30" ry="5"></svg:g>
    <svg:g ngx-rect width="340" height="10" y="70" x="45"></svg:g>
    <svg:g ngx-rect width="340" height="10" y="100" x="45"></svg:g>
</ngx-content-loading>