<div class="cu-task-row-new ng-tns-c79-35 cu-task-row-new_subtask ng-star-inserted cu-task-row-new_active"
    *ngIf="type=='list'">
    <div class="cu-add-new-task pd-0">
        <div class="cu-task-row-new__container" style="display: flex;" [ngStyle]="{'border-color': isError?'red':''}">
            <div class="cu-task-row-new__left">
                <div class="cu-task-row-status_dot cu-task-row-status">
                    <div cudropdown="" class="cu-dropdown ng-star-inserted">
                        <div class="cu-task-row-status__item cu-task-row-status__item_light cu-dropdown__toggle"
                            cudropdowntoggle="" cupreventdefault="" tooltipmargin="10"
                            style="color: rgb(211, 211, 211);">
                        </div>
                    </div>
                </div>
                <div class="cu-task-row-new__close ng-star-inserted" *ngIf="showIconclose">
                    <div icon="cu2-plus" class="icon" (click)="CloseAddnewTask()">
                        <i class="fas fa-plus text-muted" matTooltip="{{'projects.dong'|translate}}"></i>
                    </div>
                </div>

                <div class="cu-task-row-new__main">
                    <div class="input-text">
                        <input #input [(ngModel)]="title" (keyup)="isError=false" (keyup.enter)="AddTask()"
                            autocomplete="off" id="addnewtask" class="cu-task-row-new__input" container="body"
                            cuslashcommandinput="" placement="top" triggers="" type="text" id="input"
                            placeholder=" {{ 'work.taskname' | translate}}">
                    </div>
                </div>
            </div>
            <div class="cu-task-row-new__options ng-star-inserted">
                <ng-container [ngTemplateOutlet]="Assignee"></ng-container>

                <ng-container [ngTemplateOutlet]="Follower" *ngIf="roleassign"></ng-container>

                <ng-container [ngTemplateOutlet]="setPriority" *ngIf="roleprioritize"></ng-container>

                <ng-container [ngTemplateOutlet]="setDate" *ngIf="roledeadline"></ng-container>

                <ng-container [ngTemplateOutlet]="setEstimates" *ngIf="roleestimates"></ng-container>

                <div class="cu-task-row-new__button ng-star-inserted" (click)="AddTask()">
                    {{'landingpagekey.luu' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="type=='board'">
    <div class="cu-quick-create-task-panel">
        <div class="cu-panel-board cu-panel-board_add cu-panel-board_add-active">
            <div class="cu-panel-board__main">
                <div class="cu-panel-board__header">
                    <div class="cu-panel-board__title input-text">
                        <div class="cu-panel-board__close">
                            <div icon="cu2-plus" class="icon" (click)="CloseAddnewTask()">
                                <i class="fas fa-times text-muted" style="font-size: 13px;" matTooltip="Close"></i>
                            </div>
                        </div>
                        <input autocomplete="off" [(ngModel)]="title" (keyup.enter)="AddTask()" id="addnewtask"
                            class="cu-panel-board__input" cuslashcommandinput=""
                            placeholder="{{ 'work.taskname' | translate}}">
                    </div>
                </div>
                <div class="cu-panel-board__footer cu-dropdown">
                    <div class="cu-panel-board__footer_left">
                        <ng-container [ngTemplateOutlet]="setPriority"></ng-container>

                        <ng-container [ngTemplateOutlet]="Assignee" *ngIf="roleprioritize"></ng-container>

                        <ng-container [ngTemplateOutlet]="setDate" *ngIf="roledeadline"></ng-container>
                    </div>
                </div>
            </div>
            <div class="cu-panel-board__enter cu-panel-board__enter_disabled ng-star-inserted">
                <div class="cu-panel-board__enter-button" (click)="AddTask()">Save</div>
            </div>
        </div>
    </div>
</div>

<ng-template #Assignee>
    <div class="cu-task-row-assignee" style="display: flex;">
        <div class="cu-user-group url scale-hover-02 position-relative"
            *ngFor="let user of getAssignees()">
            <i class="far fa-times-circle url view-hover text-dark bg-white" [hidden]="!roleassign"
                style="position: absolute;top:0;right:0;border-radius: 50%;" (click)="ItemSelected(user,1)"></i>
            <kt-avatar-user [image]="user.image" size="26" [name]="user.hoten">
            </kt-avatar-user>
        </div>
        <div class="cu-user-group" [hidden]="!roleassign">
            <div class="cu-user-group__item cu-user-group__item_assign-mono cu-hidden-print" matTooltipPosition="above"
                matTooltip="{{Assign.id_nv>0?Assign.hoten: 'work.assignee' | translate}}">
                <div
                    class="cu-avatar cu-avatar-border cu-avatar_lg cu-avatar_transparent cu-avatar__assign-mono cu-avatar_30">
                    <div class="cu-user-group__icon-mono">
                        <button class="btn -hover text-muted" [matMenuTriggerFor]="assign">
                            <i class="fas fa-user-plus pd-0" style="font-size: 13px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <mat-menu #assign="matMenu">
            <div class="page-work-detail">
                <kt-choose-users [options]="options_assign" (IsSearch)="stopPropagation($event)"
                    (ItemSelected)="ItemSelected($event,1)">
                </kt-choose-users>
            </div>
        </mat-menu>

    </div>
</ng-template>
<ng-template #Follower>
    <div class="cu-task-row-assignee" style="display: flex;">
        <div class="cu-user-group url scale-hover-02 position-relative"
            *ngFor="let user of getFollowers()">
            <i class="far fa-times-circle url view-hover text-dark bg-white"
                style="position: absolute;top:0;right:0;border-radius: 50%;" (click)="ItemSelected(user,2)"></i>
            <kt-avatar-user [image]="user.image" size="26" [name]="user.hoten">
            </kt-avatar-user>
        </div>
        <div class="cu-user-group">
            <div class="cu-user-group__item cu-user-group__item_assign-mono cu-hidden-print" matTooltipPosition="above"
                matTooltip="{{Assign.id_nv>0?Assign.hoten: 'work.follower' | translate}}">
                <div
                    class="cu-avatar cu-avatar-border cu-avatar_lg cu-avatar_transparent cu-avatar__assign-mono cu-avatar_30">
                    <div class="cu-user-group__icon-mono">
                        <button class="btn -hover text-muted" [matMenuTriggerFor]="assign">
                            <i class="fas fa-users pd-0" style="font-size: 13px;"></i>

                        </button>
                    </div>
                </div>
            </div>
        </div>
        <mat-menu #assign="matMenu">
            <div class="page-work-detail">
                <kt-choose-users [options]="options_assign" (IsSearch)="stopPropagation($event)"
                    (ItemSelected)="ItemSelected($event,2)">
                </kt-choose-users>
            </div>
        </mat-menu>

    </div>
</ng-template>
<ng-template #setPriority>
    <div class="cu-task-row-assignee">
        <div class="cu-user-group">
            <div class="cu-user-group__item cu-user-group__item_assign-mono cu-hidden-print" matTooltipPosition="above"
                matTooltip="{{ 'work.gandouutien' | translate }}">
                <div
                    class="cu-avatar cu-avatar-border cu-avatar_lg cu-avatar_transparent cu-avatar__assign-mono cu-avatar_30">
                    <div class="cu-user-group__icon-mono">
                        <button class="btn -hover text-muted" [matMenuTriggerFor]="priority1">
                            <i class="{{getPriority(priority)}} pd-0" style="font-size: 13px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <mat-menu #priority1="matMenu">
            <button mat-menu-item *ngFor="let prio of list_priority" (click)="priority=prio.value">
                <i class="{{prio.icon}} pd-r-10"></i>
                {{ 'priority.'+prio.name | translate }}
            </button>
        </mat-menu>
    </div>
</ng-template>
<ng-template #setDate>
    <div class="cu-task-row-assignee">
        <div class="cu-user-group">
            <div class="cu-user-group__item cu-user-group__item_assign-mono cu-hidden-print" matTooltipPosition="above"
                matTooltip="{{viewdate()}}">
                <div
                    class="cu-avatar cu-avatar-border cu-avatar_lg cu-avatar_transparent cu-avatar__assign-mono cu-avatar_30">
                    <div class="cu-user-group__icon-mono">
                        <button
                            class="btn -hover {{(this.selectedDate.startDate =='' && this.selectedDate.endDate=='')?'text-muted':'text-success'}}"
                            (click)="Selectdate()">
                            <i class="far fa-calendar-check pd-0" style="font-size: 13px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #setEstimates>
    <div class="cu-task-row-assignee">
        <div class="cu-user-group">
            <div class="cu-user-group__item cu-user-group__item_assign-mono cu-hidden-print" matTooltipPosition="above"
                [matMenuTriggerFor]="estimates" #menuTrigger="matMenuTrigger" matTooltip="Thời gian làm">
                <div class="time-estimates-view__toogle">
                    <ng-container *ngIf="+this.time > 0;else settime">
                        <i style="font-size: 13px;" class="fa fa-hourglass-o pd-0"></i>
                        <span class="task-estimate">{{time}}</span>giờ
                    </ng-container>
                    <ng-template #settime>
                        <div class="icon time-estimates-view__icon ng-star-inserted">
                            <i style="font-size: 13px;" class="fa fa-hourglass-o pd-0"></i>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <mat-menu #estimates="matMenu">
            <input type="number" placeholder="Enter để chọn" [value]="time" #times
                (keyup.enter)="submitOut();menuTrigger.closeMenu()" (click)="$event.stopPropagation();">
        </mat-menu>
    </div>
</ng-template>