//=======================CSS THEME DARK OR LIGHT=========
@import "~@angular/material/theming";
@include mat-core();
$mat-primary-scheme: (
    100: #c5cae9,
    500: #61699a,
    700: #303f9f,
    contrast: (100: rgba(0, 0, 0, 0.87), 500: #ffffff, 700: #ffffff, ),
);
$mat-accent-scheme: (
    100: #ff80ab,
    500: #ff4081,
    700: #f50057,
    contrast: (100: rgba(0, 0, 0, 0.87), 500: rgba(0, 0, 0, 0.87), 700: #ffffff, ),
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);
$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

.light-mode {
    @include angular-material-theme($app-light-theme);
    /*#endregion */
    @import "./quy-trinh/light.scss";
}

$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

.dark-mode {
    @include angular-material-theme($app-dark-theme);
    /*#endregion */
    @import "./quy-trinh/dark.scss";
}

/*#region Dùng để show hide waiting div*/

.nemo-process-waiting {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: grey;
    top: 0;
    left: 0;
    z-index: 9999;
    cursor: wait;
    opacity: 0.3;
}

.nemo-process-waiting-loader {
    position: fixed;
    top: 45%;
    left: 50%;
    z-index: 10000;
    cursor: wait;
}

.nemo-show-wait {
    display: block;
}

.nemo-hide-wait {
    display: none;
}

.pulse-loader:not(:required) {
    width: 50px;
    height: 50px;
    -moz-animation: pulse-loader 0.7s linear infinite alternate;
    -webkit-animation: pulse-loader 0.7s linear infinite alternate;
    animation: pulse-loader 0.7s linear infinite alternate;
    border: 0px solid #ae35e6ec;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 50px;
}

@-moz-keyframes pulse-loader {
    0% {
        -moz-box-shadow: #ae35e6ec 0 0 0px 20px;
        box-shadow: #ae35e6ec 0 0 0px 20px;
    }

    40% {
        -moz-box-shadow: none;
        box-shadow: none;
    }

    100% {
        -moz-box-shadow: #ae35e6ec 0 0 0px 25px inset;
        box-shadow: #ae35e6ec 0 0 0px 25px inset;
    }
}

@-webkit-keyframes pulse-loader {
    0% {
        -webkit-box-shadow: #ae35e6ec 0 0 0px 20px;
        box-shadow: #ae35e6ec 0 0 0px 20px;
    }

    40% {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    100% {
        -webkit-box-shadow: #ae35e6ec 0 0 0px 25px inset;
        box-shadow: #ae35e6ec 0 0 0px 25px inset;
    }
}

@keyframes pulse-loader {
    0% {
        -moz-box-shadow: #ae35e6ec 0 0 0px 20px;
        -webkit-box-shadow: #ae35e6ec 0 0 0px 20px;
        box-shadow: #ae35e6ec 0 0 0px 20px;
    }

    40% {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    100% {
        -moz-box-shadow: #ae35e6ec 0 0 0px 25px inset;
        -webkit-box-shadow: #ae35e6ec 0 0 0px 25px inset;
        box-shadow: #ae35e6ec 0 0 0px 25px inset;
    }
}


/*#endregion */