    //    ::ng-deep .fc .fc-col-header-cell-cushion {
    //       color: #898b96 !important;
    //       cursor: pointer;
    //   }
    //    ::ng-deep .fc .fc-timegrid-slot {
    //       height: 2.5em !important;
    //   }
    //   //  ::ng-deep .fc th {
    //   //     text-align: center;
    //   //     padding: 10px !important;
    //   // }
    //    ::ng-deep .fc-day-today {
    //       //  background-color: #F6F5FC !important;
    //   }
     ::ng-deep .loaikhac .mat-checkbox-frame {
        border-color: red;
    }
    
     ::ng-deep .mat-checkbox-checked.loaikhac .mat-checkbox-background {
        background-color: red !important;
    }
    
     ::ng-deep .loai1 .mat-checkbox-frame {
        border-color: #74baf0;
    }
    
     ::ng-deep .mat-checkbox-checked.loai1 .mat-checkbox-background {
        background-color: #74baf0 !important;
    }
    
     ::ng-deep .loai-1 .mat-checkbox-frame {
        border-color: #e8c374;
    }
    
     ::ng-deep .mat-checkbox-checked.loai-1 .mat-checkbox-background {
        background-color: #e8c374 !important;
    }
    
     ::ng-deep .loai3 .mat-checkbox-frame {
        border-color: orange;
    }
    
     ::ng-deep .mat-checkbox-checked.loai3 .mat-checkbox-background {
        background-color: orange !important;
    }
    
     ::ng-deep .loai0 .mat-checkbox-frame {
        border-color: #9699a2;
    }
    
     ::ng-deep .mat-checkbox-checked.loai0 .mat-checkbox-background {
        background-color: #9699a2 !important;
    }
    
    //    ::ng-deep .fc-bgevent {
    //       cursor: no-drop;
    //       background: #ddd;
    //   }
    //    ::ng-deep .hideEvent {
    //       display: none !important;
    //   }