<div class="kt-portlet bg-dark1" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h5 class="kt-portlet__head-title color-dart1">{{getTitle()}}</h5>
		</div>
	</div>
	<form *ngIf="!isLoadding" class="kt-form" [formGroup]="itemForm">
		<div class="kt-portlet__body hide-overflow-x mh-100" style="overflow-y: auto;max-height: 25vw !important;padding: 10px !important;">
			<div class="row">
				<div class="col-md-12 kt--margin-bottom-10-mobile">
					<mat-form-field class="mat-form-field-fluid " style="padding-left:1vw;width: 100%;">
						<input matInput placeholder="{{this._WorkwizardChungService.ts_duan_ToUpper}}" class="require" required
							formControlName="title" />
						<img alt="" class="m--img-rounded m--marginless m--img-centered url"
							style="height: 50px; width: 50px; max-width: inherit !important; border-radius: 50%;"
							src="{{icon.src?icon.src:icon.base64Str}}" matSuffix (click)="chooseFile()">
						<input type="file" hidden accept=".png, .jpg, .jpeg" id="inputIcon"
							(change)="onSelectFile($event)" />
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 kt--margin-bottom-10-mobile">
					<mat-form-field class="mat-form-field-fluid" style="padding-left: 1vw;width: 100%;">
						<mat-select formControlName="id_project_team"
							[attr.disabled]="!isChangeDept || +this.item.id_department == -1 || isQuickChange"
							class="require" required (selectionChange)="BindUserDepartment($event.value)"
							placeholder="{{this._WorkwizardChungService.ts_phongban_ToUpper}}">
							<mat-option class="bg-dark1">
								<ngx-mat-select-search [formControl]="projectFilterCtrl" [placeholderLabel]="''"
									[noEntriesFoundLabel]="''">
								</ngx-mat-select-search>
							</mat-option>
							<mat-option class="bg-dark1 color-dart1" [value]="user.RowID" *ngFor="let user of filtereproject | async">
								<span>{{ user.Title }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group pleft" *ngFor="let role of listRole">
				<div class="col-md-12 row kt--margin-bottom-10-mobile">
					<span
						style="padding-right: 20px; align-items: center; font-size: 18px; padding-left: 1vw; width: auto;"
						class="d-flex"> {{role.RoleName }} : </span>
					<div class="row" style="flex-grow: 1; padding: 0; width: auto">
						<ng-container *ngFor="let us of role.lstUser;let index = index">
							<div *ngIf="index < 10" class="user url scale-hover-02 position-relative"
								style="justify-content: flex-end; width: 29px; padding: 0">
								<i *ngIf="role.isEdit && (us.id_nv != this.UserId || role.RowID==_firstGroupNotAdmin)"
									class="far fa-times-circle url view-hover text-dark bg-white"
									style="position: absolute;top:0;right:0;border-radius: 50%;font-size: 10pt;"
									(click)="ItemSelected(us,role)"></i>
								<ng-container>
									<kt-avatar-user [image]="us.image" size="25" [name]="us.hoten">
									</kt-avatar-user>
								</ng-container>
							</div>
						</ng-container>
						<ng-container *ngIf="role.lstUser && role.lstUser.length > 10">
							<div class="m--img-rounded m--marginless m--img-centered background"
								[matMenuTriggerFor]="menu1" [ngStyle]="{'width.px': 29,'height.px':29,'padding.px': 0}">
								<div class="user w-100 h-100" [ngStyle]="{'font-size.px': 14}"
									style="opacity: 1;color:white;padding-top:3px;text-align: center;background: grey;cursor: pointer;">
									+{{role.lstUser.length-10}}
								</div>
							</div>
							<mat-menu #menu1="matMenu">
								<div *ngFor="let user of role.lstUser; let index = index"
									style="justify-content: flex-end;">
									<ng-container *ngIf="index > 9">
										<div class="position-relative">
											<i class="fas fa-times scale-hover-01 url"
												style="position: absolute;top:0;right:0"
												(click)="ItemSelected(user,role)" *ngIf="role.isEdit"></i>
											<div class="row">
												<kt-avatar-user [image]="user.image" size="35" [name]="user.hoten"
													[showFull]="true" [info]="'@' + user.username">
												</kt-avatar-user>
											</div>
										</div>
									</ng-container>
								</div>
							</mat-menu>
						</ng-container>
						<div matTooltip="Chọn người" matTooltipPosition="above" class="url user"
							[matMenuTriggerFor]="owner" *ngIf="role.isEdit"
							style="border: 1px dashed #676363;border-radius: 50%;padding: 5px;display: inline-block;width: 29px;height: 29px; ">
							<mat-icon style="font-size: 16px!important;">person_add</mat-icon>
						</div>
					</div>
					<mat-menu #owner="matMenu">
						<div class="page-work-detail">
							<kt-choose-user-v3 [options]="options" (IsSearch)="stopPropagation($event)"
								(ItemSelected)="ItemSelected($event,role)">
							</kt-choose-user-v3>
						</div>
					</mat-menu>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 kt--margin-bottom-10-mobile">
					<mat-form-field class="mat-form-field-fluid" style="padding-left:1vw;width: 100%;">
						<mat-select formControlName="statusgroup" class="require" required
							placeholder="Nhóm trạng thái">
							<mat-option [value]="gstatus.id_row" *ngFor="let gstatus of listGroupStatus">
								<span>{{ gstatus.title }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-md-6 kt--margin-bottom-10-mobile" style="display:flex; align-items: center;">
					<div class="url cu-template-center-selected-template__includes-item-bot-item "
						style="padding: 5px 10px; height: auto;">
						<span class="material-icons" matTooltip="Xem trước"
							style="cursor: pointer; padding-right: 10px;" (click)="viewStatus(listGroupStatus)">
							info
						</span>
						<ng-container *ngFor="let status of getStatus()">
							<div matTooltip="{{ status.title }}"
								class="cu-template-center-selected-template__includes-item-bot-item-status-group-bubble"
								style="width: 20px; height: 20px;margin-right: 7px;"
								[ngStyle]="{'backgroundColor': status.color}"></div>
						</ng-container>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 kt--margin-bottom-10-mobile" style="padding-left:1.5vw">
					<mat-form-field class="mat-form-field-fluid"style="padding-top:10px;width: 100%;">
						<mat-select formControlName="TemplateID" [attr.disabled]="!isChangeDept" class="require" required
							placeholder="Chọn mẫu thông báo">
							<mat-option>
								<ngx-mat-select-search [formControl]="TemplateFilterCtrl" [placeholderLabel]="''"
									[noEntriesFoundLabel]="''">
								</ngx-mat-select-search>
							</mat-option>
							<mat-option [value]="temp.id_row" *ngFor="let temp of filtereTemplate | async">
								<span>{{ temp.title }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-md-6 kt--margin-bottom-10-mobile">
					<mat-form-field class="example-full-width" appearance="fill">
						<mat-label>Vị trí</mat-label>
						<input matInput #position class="require" required formControlName="position" placeholder="Nhập vị trí">
						<mat-hint style="color: red;" align="start" *ngIf="position.value < 0"><strong>Vị trí phải lớn hơn hoặc bằng 0</strong></mat-hint>
					</mat-form-field>
				</div>
			</div>
			<mat-accordion multi>
				<mat-expansion-panel style="box-shadow: none;">
					<div class="row align-items-center">
						<div class="col-md-12 kt--margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid " style="width:100%">
								<textarea matInput
									placeholder="{{ 'JeeWork.motangangonve' | translate}} {{this._WorkwizardChungService.ts_duan}}"
									formControlName="description" rows="2"></textarea>
							</mat-form-field>
						</div>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
			<div class="text-center form-group">
				<button class="btn btn-outline-success2" (click)="collapse()">
					<ng-container *ngIf="accordionclose;else dong">
						+ {{'JeeWork.moreoptions'|translate}}
					</ng-container>
					<ng-template #dong>
						+ {{'JeeWork.lessoptions'|translate}}
					</ng-template>
				</button>
			</div>
		</div>
	</form>
	<div class="kt-form" style="min-height: 28vw;justify-content: center;" *ngIf="isLoadding">
		<div class="center-screen">
			<div class="spinner spinner-primary mr-10"></div>
		</div>
	</div>
	<div class="kt-portlet__foot">
		<div class="kt-form__actions kt-form__actions--solid">
			<div class="row text-right">
				<div class="col-lg-12">

					<button *ngIf="isShow" type="button" class="jee_btn-addcontinue btn-custom"
						(click)="onSubmit(false)" [disabled]="disabledBtn" mat-raised-button
						matTooltip="{{ 'JeeWork.luutieptuc' | translate }}">
						<mat-icon class="icon-repeat">repeat</mat-icon><span translate="JeeWork.luutieptuc"></span>
					</button>&nbsp;

					<button type="button" mat-raised-button class="jee_btn-addclose btn-custom" (click)="onSubmit(true)"
						style="margin-right: 10px; margin-left: 10px;" [disabled]="disabledBtn"
						matTooltip="{{ 'JeeWork.luudong' | translate }}">
						<span translate="JeeWork.luudong"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn"
							class="spinner-button-pad"></div>
					</button>&nbsp;

					<button type="button" class="mat-raised-button btn-custom" (click)="close()"
						[disabled]="disabledBtn" cdkFocusInitial matTooltip="{{ 'JeeWork.trolai' | translate }}">
						<span translate="JeeWork.trolai"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn"
							class="spinner-button-pad"></div>
					</button>&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>