.mat-form-field {
	margin-top: 16px;
}

.box-color {
	width: 15px;
    height: 15px;
    /* margin: auto; */
    color: red;
    background: red;
    margin: 5px;
}

.set-color {
	min-width: 100px;
}

.name-desc {
    flex-grow: 1;
}
