<style>
    .card.card-custom>.card-body {
        padding: 2rem 2.25rem 0 2.25rem;
    }
</style>

<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="dialog-title"> {{ 'work.nhanbancongviec' | translate }}</h3>
        </div>
        <!-- <div class="card-toolbar">
    </div> -->
    </div>
    <div class="card-body" [perfectScrollbar]="{wheelPropagation: false}" [ngStyle]="{'max-height': '65vh', 'position': 'relative'}">
        <div [ngStyle]="{'max-height': (type==2||getOnlyIDproject)?'600px':'auto'}">
            <ng-container *ngIf="!getOnlyIDproject">
                <div>
                    <mat-form-field class="example-full-width ">
                        <input matInput [(ngModel)]="this.ItemDuplicate.title" placeholder=" {{ 'work.newtaskname' | translate }}" class="input-thuong" />
                    </mat-form-field>
                </div>

                <div class="task-copy__location-block ng-star-inserted" *ngIf="type==2||getOnlyIDproject">
                    <span translate="work.vitri"></span>
                    <div class="task-copy__category-list">
                        <div class="category-list">
                            <mat-form-field appearance="fill" class="w-100">
                                <span translate="projects.danhsachduan"></span>
                                <mat-select [(ngModel)]="ItemDuplicate.id_project_team">
                                    <mat-option *ngFor="let project of listProject" [value]="project.id_row">
                                        {{project.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="task-copy__options-block">
                    <div class="task-copy__options-column">
                        <div class="task-copy__options-column-title">
                            <span translate="work.whatdoyouwantcopy"></span>
                        </div>
                        <div class="cu-checkbox">
                            <mat-checkbox [(ngModel)]="listKeyDuplicate.checked" (ngModelChange)="updateAllComplete()" [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                                <span>{{ 'work.'+listKeyDuplicate.name | translate }}</span>&nbsp;
                            </mat-checkbox>
                            <label>
                            </label>
                        </div>
                        <div class="cu-checkbox" *ngFor="let item of listKeyDuplicate.subtasks">
                            <mat-checkbox [(ngModel)]="item.checked" (ngModelChange)="updateAllComplete()">
                                <span>{{ 'work.'+item.name | translate }}</span>&nbsp;
                            </mat-checkbox>
                            <label>

                            </label>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>

    <div class="dialog-footer">
        <button mat-raised-button class="ja_button ja_btn-addnew" (click)="DuplicateTask()" *ngIf="!getOnlyIDproject"><span translate="work.nhanban"></span></button>
        <button mat-raised-button class="ja_button ja_btn-addnew" (click)="DuplicateMoreTask()" *ngIf="getOnlyIDproject"><span translate="work.nhanbancongvieckhac"></span>
        </button> &nbsp;
        <button class="ja_button ja_btn-goback" mat-raised-button type="button" (click)="this.dialogRef.close();">
      <span translate="GeneralKey.trolai"></span>
  </button>
    </div>
</div>