<div style="margin:2rem" *ngIf="!ShowChuoi">
  <!--begin::Form-->
  <form class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate" [formGroup]="forgotPasswordForm"
    (ngSubmit)="submit()" id="kt_login_forgot_form" [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">
    <!--begin::Title-->
    <div class="pb-3 pt-lg-0 pt-5">
      <h3 style="font-size: 2rem; font-weight:bold">
        <!-- Forgotten Password ? -->
        Bạn quên mật khẩu !
      </h3>
      <p class="text-muted" style="font-size: 1.35rem;">
        <!-- Enter your email to reset your password -->
        Nhập số điện thoại của bạn và chúng tôi sẽ gửi mã xác nhận để bạn đặt lại mật khẩu của bạn
      </p>
    </div>
    <!--end::Title-->

    <!--begin::Form group-->
    <div class="form-group fv-plugins-icon-container has-danger">
      <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" formControlName="username"
        placeholder="Số điện thoại" autocomplete="off" [ngClass]="{
          'is-invalid': forgotPasswordForm.controls['username'].invalid
        }" />

      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Số điện thoại không hợp lệ',
          control: forgotPasswordForm.controls['username']
        }"></ng-container>
    </div>

    <div style="padding: 25px 0 15px 0;">
      <re-captcha #captchaElem (resolved)="resolved($event)" siteKey="6LfRorsUAAAAAC29pdQ7meQ7NO7ErJiRp7iLzQ_C">
      </re-captcha>
    </div>
    <!--end::Form group-->
    <!--begin::Form group-->
    <div class="form-group pb-lg-0">

      <a routerLink="/" id="kt_login_forgot_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
        Trở lại
      </a>

      <button type="submit" id="kt_login_forgot_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3" style="float: right;">
        Tiếp tục
      </button>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
    <div></div>
  </form>
  <!--end::Form-->
</div>

<div style="margin:2rem" *ngIf="ShowChuoi && this.IsSuDungLienHe == '0'">
  <!--begin::Form-->
  <form class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate" [formGroup]="forgotPasswordForm"
    (ngSubmit)="submit()" id="kt_login_forgot_form" [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">
    <!--begin::Title-->
    <div class="pb-5 pt-lg-0 pt-5">
      <h3 style="font-size: 2rem; font-weight:bold">
        <!-- Forgotten Password ? -->
        Xác minh tài khoản
      </h3>
      <p class="text-muted" style="font-size: 1.35rem;">
        <!-- Enter your email to reset your password -->
        <span>Nhập mã xác minh chúng tôi gửi cho bạn đến [Zalo] hoặc [Tin nhắn] số điện thoại
          {{this.model.username.slice(0,4)}}***{{this.model.username.slice(8)}}
        </span>
      </p>
    </div>
    <!--end::Title-->

    <!--begin::Form group-->
    <div class="form-group fv-plugins-icon-container has-danger">
      <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" formControlName="otp"
        placeholder="Chuỗi ký tự gồm 6 số" autocomplete="off" [ngClass]="{
          'is-invalid': forgotPasswordForm.controls['otp'].invalid
        }" />

      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Chuỗi ký tự gồm 6 số là bắt buộc',
          control: forgotPasswordForm.controls['otp']
        }"></ng-container>
    </div>
    <div class="form-group code" style="text-align: end;cursor: pointer;">
      <span *ngIf="countdown != ''"><i class="far fa-clock"></i></span>&nbsp;<span *ngIf="countdown != ''">{{this.countdown}}</span>&nbsp;<span style="color: red;"
        (click)="GuiMa()">Gửi lại</span>
    </div>
    <!--end::Form group-->
    <!--begin::Form group-->
    <div class="form-group pb-lg-0">

      <a (click)="goBack()" id="kt_login_forgot_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
        Trở lại
      </a>

      <button type="submit" id="kt_login_forgot_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3" style="float: right;">
        Gửi xác nhận
      </button>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
    <div></div>
  </form>
  <!--end::Form-->
</div>
<div style="margin:2rem" *ngIf="ShowChuoi && this.IsSuDungLienHe == '1'">
  <!--begin::Form-->
  <form class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate" [formGroup]="forgotPasswordForm"
    (ngSubmit)="submit()" id="kt_login_forgot_form" [ngStyle]="{
     display: errorState === errorStates.NoError ? 'none' : 'block'
   }">
    <!--begin::Title-->
    <div class="pb-5 pt-lg-0 pt-5">
      <h3 style="font-size: 2rem; font-weight:bold">
        <!-- Forgotten Password ? -->
        Thông Tin Liên Hệ
      </h3>
      <p class="text-muted" style="font-size: 1.35rem;">
        <span [innerHtml]="this.NoiDungLienHe"></span>
      </p>
    </div>
    <!--end::Title-->

    <!--begin::Form group-->
    <div class="form-group code" style="text-align: end;cursor: pointer;">
    </div>
    <!--end::Form group-->
    <!--begin::Form group-->
    <div class="form-group pb-lg-0">

      <a (click)="goBack()" id="kt_login_forgot_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
        Trở lại
      </a>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
    <div></div>
  </form>
  <!--end::Form-->
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="ShowError">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>