 <div class="row container">
    <div class="px-6 py-8 rounded-xl bg-quahan" style="padding-top: 0 !important;">
        <div class="font-weight-bold mt-2 text-color w-100 h-50">
            <span class="css-chu color-quahan">{{
                "jeework.nhiemvuquahan" | translate
                }}</span>
        </div>
        <div class="row w-100 h-50">
            <div class="col-md-6">
                <span class="css-so color-quahan" style="cursor: pointer;" matTooltip="Xem danh sách" (click)="View('6')">{{this.dcg_quahan}}</span>
            </div>
            <div class="col-md-6 css-icon" >
                <img src="" alt="" class="nhacnho_dcGqh" />
            </div>
        </div>
    </div>
    <div class="px-6 py-8 rounded-xl bg-toihan" style="padding-top: 0 !important;">
        <div class="font-weight-bold mt-2 text-color w-100 h-50">
            <span class="css-chu color-toihan">{{
                "jeework.nhiemvutoihan" | translate
                }}</span>
        </div>
        <div class="row w-100 h-50">
            <div class="col-md-6">
                <span class="css-so color-toihan" style="cursor: pointer;" matTooltip="Xem danh sách" (click)="View('5')">{{this.dcg_toihan}}</span>
            </div>
            <div class="col-md-6 css-icon" >
                <img src="" alt="" class="nhacnho_dcGth" />
            </div>
        </div>
    </div>
    <div class="px-6 py-8 rounded-xl bg-saptoihan" style="padding-top: 0 !important;">
        <div class="font-weight-bold mt-2 text-color w-100 h-50">
            <span class="css-chu color-saptoihan">{{
                "jeework.saptoihan" | translate
                }}</span>
        </div>
        <div class="row w-100 h-50">
            <div class="col-md-6">
                <span class="css-so color-saptoihan" style="cursor: pointer;" matTooltip="Xem danh sách" (click)="View('4')">{{this.dcg_saptoihan}}</span>
            </div>
            <div class="col-md-6 css-icon" >
                <img src="" alt="" class="nhacnho_dcGsth" />
            </div>
        </div>
    </div>
    <div class="px-6 py-8 rounded-xl bg-chuatoihan" style="padding-top: 0 !important;">
        <div class="font-weight-bold mt-2 text-color w-100 h-50">
            <span class="css-chu color-tronghan">{{
                "jeework.contronghan" | translate
                }}</span>
        </div>
        <div class="row w-100 h-50">
            <div class="col-md-6">
                <span class="css-so color-tronghan" style="cursor: pointer;" matTooltip="Xem danh sách" (click)="View('3')">{{this.dcg_conhan}}</span>
            </div>
            <div class="col-md-6 css-icon" >
                <img src="" alt="" class="nhacnho_dcGcth" />
            </div>
        </div>
    </div>
</div>