<body class="no-touch">
	<section>
		<div class=" post-container text-container">
			<div class="timeline-wrapper" *ngFor="let item of Loadingbody ">
				<div class="timeline-item">
                    <div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="animated-backgroundavatar facebook"></div>
                            </div>
                            <div class="col-md-9">
                              
                                <div class="animated-background facebook"></div>
                                <div class="animated-backgroundlast facebook"></div>
                            </div>
                          
                        </div>
                        
                    </div>
					<!-- <div class="animated-background facebook">
						
						<div class="background-masker header-bottom"></div>
						<div class="background-masker subheader-left"></div>
						<div class="background-masker subheader-right"></div>
						<div class="background-masker subheader-bottom"></div>
						<div class="background-masker content-top"></div>
						<div class="background-masker content-first-end"></div>
						<div class="background-masker content-second-line"></div>
						<div class="background-masker content-second-end"></div>
						<div class="background-masker content-third-line"></div>
						<div class="background-masker content-third-end"></div>
					</div> -->
				</div>
			</div>
		</div>
	</section>
</body>