.status-items {
    align-items: center; 
    padding: 3px;
  }

  .status-all {
    cursor: pointer; 
    font-size: 20px; 
    color: #ffffff; 
    text-shadow: 0 0 2px #070707
  }

  .status-complete{
    cursor: pointer; 
  }