// .item-field.text-2-line{
//     display: -webkit-box;
// }

.max-size-group{
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}