.workflow-thanhvien{
    margin: auto;
    padding: 2rem;
}

.hoatdong-child{
    margin-bottom: 30px;
    display: contents;
}

.hoatdong-header{
  margin-top: 20px;
  margin-left: 20px;
  color: green;
  font-size: 15px;
  width: 100%;
}

.hoatdong-body{
  width: 113px;
  min-height: 120px;
  margin-top: 20px;
  margin-left: 20px;
  background: #f9fafb;
}

.image{
  text-align: center;
  padding-top: 5px;
  width: auto;
}

.img-circle {
  height: 50px;
  width: 50px;
  border: 2px solid #f1f1f3;
  border-radius: 50%;
}

.info{
  width: 100%;
  text-align: center;
  color: black;
  font-size: 11px;
}

.info-child{
  display: block;
}

