.kt-mat-dialog-container__wrapper .mat-dialog-container .kt-portlet {
    margin-bottom: 0;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #48465b;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label {
    display: flex;
    align-items: center;
    align-content: flex-first;
}
.kt-portlet .kt-portlet__head {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    padding: 0 25px;
    border-bottom: 1px solid #ebedf2;
    min-height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.url {
    cursor: pointer;
}
.btn-close-container .btn-close {
    position: absolute;
    margin-top: -20px;
    z-index: 2;
}
.mat-header-row {
    background-color: #f0f0f0;
    font-weight: 700;
    min-height: 50px;
    border-bottom-style: none;
}
.mat-table__wrapper {
    width: 100%;
    overflow-x: auto;
}
.kt-mat-dialog-container__wrapper .mat-dialog-container .kt-portlet .kt-portlet__body {
    overflow: auto;
    max-height: 60vh;
}
.kt-portlet .kt-portlet__body {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 4px;
}