<style>
	.mat-form-field {
		width: 100%;
	}

	.card-body {
		padding-top: 10px;
	}
</style>
<div class="card card-custom">
	<div class="card-header"  style="padding: 0;min-height: 40px !important;"> 
		<div class="card-title">
			<h3 class="dialog-title"><span>{{ tieude}}</span></h3>
		</div>
		<div class="card-toolbar">

		</div>
	</div>
	<div class="card-body">
    <form [formGroup]="itemForm" class="m-form m-form--group-seperator-dashed">
      <div class="row">

        <div class="col-md-12">
          <mat-form-field class="mat-form-field-fluid">
            <input #focus formControlName="Title" placeholder="Tiêu đề" matInput required />
          </mat-form-field>
        </div>
        <div class="col-md-12" style="padding:0 0 20px 10px;">
          <label style="font-weight: bold;padding: 5px 0 5px 0;">Màu sắc</label>

          <div class="row" #divElement>
              <kt-color-picker2  [selected]="selected" (ItemSelected)="Selected_Color($event)">
              </kt-color-picker2>

          </div>
      </div>


      </div>
      
    </form>
	</div>
	<div class="dialog-footer" style="padding:10px 0 10px 0 !important;">
		
    

    <button *ngIf="this.item.RowID > 0" [disabled]="isLoadingSubmit$ | async"
      [class.spinner]="isLoadingSubmit$ | async" mat-raised-button style="float: right; margin: 0"
      class="ja_btn-addnew" (click)="onSubmit(false)">
      <mat-icon class="icon-repeat">repeat</mat-icon>
      {{ 'JeeTicKet.luu' | translate }}
    </button>&nbsp;&nbsp;

    <button mat-raised-button style="float: right; margin: 0; margin-right: 12px" class="ja_btn-goback"
      (click)="goBack()">
      {{ 'JeeTicKet.trolai' | translate }}
    </button>&nbsp;&nbsp;

  <button *ngIf="this.item.RowID <= 0|| this.item.RowID == undefined" [disabled]="isLoadingSubmit$ | async"
    [class.spinner]="isLoadingSubmit$ | async" mat-raised-button style="float: right; margin-right: 12px"
    class="ja_btn-addnew" (click)="onSubmit(false)">
    {{ 'JeeTicKet.luudong' | translate }}
  </button>&nbsp;&nbsp;
  <button *ngIf="this.item.RowID <= 0|| this.item.RowID == undefined" [disabled]="isLoadingSubmit$ | async"
  [class.spinner]="isLoadingSubmit$ | async" mat-raised-button style="float: right; margin: 0"
  class="ja_btn-addcontinue" (click)="onSubmit(true)">
  <mat-icon class="icon-repeat">repeat</mat-icon>
  {{ 'JeeTicKet.luutieptuc' | translate }}
</button>&nbsp;&nbsp;
	</div>
</div>



