.css-title-task {
  font-size: 12pt;
  cursor: pointer;
}

.text-task {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon-quahan {
  height: 20px;
  width: 20px;
  color: #fff;
  border-radius: 50%;
  background-color: #E2445C;
}

.table-kanban {
  margin-top: 1rem;
}

//===========================Xử lý image========================
.side {
  position: absolute;
  right: 10px;
  z-index: 1;
  width: auto;
}

.users {
  overflow: hidden;
  position: relative;
  float: left;
  padding-left: 10px;
}

.user {
  overflow: hidden;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: -8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #f3f3f3;
}

.manager2 {
  font-size: 10pt;
  cursor: pointer;
  height: 25px;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.manager2:hover {
  background-color: gray;
  color: white;
}

.icon-new {
  width: 23px;
  height: 23px;
  border: 1px solid red;
  border-radius: 50%;
  background: red;
  color: white;
  float: left;
  margin-left: 5px;
}

.icon-new-stage {
  width: 23px;
  height: 23px;
  border: 1px solid red;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
  margin-right: 5px;
}