
  .bubbleWrapper {
	padding: 10px 10px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-self: flex-end;

}
.inlineContainer {
  display: inline-flex;
}
.inlineContainer.own {
  flex-direction: row-reverse;
}
.inlineIcon {
  width:20px;
  object-fit: contain;
}
.ownBubble {
	min-width: 60px;
	max-width: 700px;
    padding: 54px 188px;
  margin: 6px 8px;
	background-color: #5b5377;
	border-radius: 16px 16px 0 16px;
	border: 1px solid #443f56;
 
}
.otherBubble {
	min-width: 60px;
	max-width: 700px;
    padding: 54px 188px;
  margin: 6px 8px;
	background-color: #6C8EA4;
	border-radius: 16px 16px 16px 0;
	border: 1px solid #54788e;
  
}
.own {
	align-self: flex-end;
}
.other {
	align-self: flex-start;
}
span.own,
span.other{
  font-size: 14px;
  color: grey;
}
.animated-backgroundavatar {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #6C8EA4;
    background: #6C8EA4 ;
    background: -webkit-gradient(
      linear, left top, right top, 
      color-stop(8%, #6C8EA4 ), 
      color-stop(18%, #80a3ba ), 
      color-stop(33%, #6C8EA4 )
    );
    background: -webkit-linear-gradient(
      left, #6C8EA4  8%, #80a3ba  18%, #6C8EA4  33%
    );
    background: linear-gradient(
      to right,  #6C8EA4  8%,#80a3ba  18%,#6C8EA4  33%
    );
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    position: relative;
  }
  .animated-own{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #5b5377;
    background: #5b5377 ;
    background: -webkit-gradient(
      linear, left top, right top, 
      color-stop(8%, #5b5377 ), 
      color-stop(18%, #726c86  ), 
      color-stop(33%, #5b5377 )
    );
    background: -webkit-linear-gradient(
      left, #5b5377  8%, #726c86   18%, #5b5377  33%
    );
    background: linear-gradient(
      to right,  #5b5377  8%,#726c86   18%,#5b5377  33%
    );
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    position: relative;
  }