<body class="no-touch">
	<section>
		<div class=" post-container text-container">
			<div class="timeline-wrapper" *ngFor="let item of Loadingbody ">
				<div class="timeline-itemchat">
                    <div>
                     	<div class="bubbleWrapper">
		<div class="inlineContainer">
			<div class="otherBubble other animated-backgroundavatar">
			</div>
		</div>
	</div>
	<div class="bubbleWrapper">
		<div class="inlineContainer own">
			<div class="ownBubble own animated-own">
			</div>
            
		</div>
	</div>
	<div class="bubbleWrapper">
		<div class="inlineContainer">
			<div class="otherBubble other animated-backgroundavatar">
			</div>
		</div>
	</div>
	<div class="bubbleWrapper">
		<div class="inlineContainer own">
			<div class="ownBubble own animated-own">
			</div>
		</div>
	</div>
	<div class="bubbleWrapper">
		<div class="inlineContainer">
			<div class="otherBubble other animated-backgroundavatar">
			</div>
		</div>
	</div>
                        
                    </div>
					
				</div>
			</div>
		</div>
	</section>
</body>