<div class="card card-custom style-wiget" [ngClass]="cssClass">
  <div *ngIf="is_loading" class="card-body py-0">
    <div class="card">
      <div class="card-body">
        <div id="chart-pie" *ngIf="LoaiBD == 1" style="display: block;">
          <canvas baseChart [data]="pieChartData" [legend]="true" [labels]="pieChartLabel" [plugins]="pieChartPlugins" [height]="100"
            [chartType]="pieChartType" [options]="pieChartOptions" [colors]="pieChartColor">
          </canvas>
        </div>
        <div id="chart-pie" *ngIf="LoaiBD == 0" style="display: block;">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [height]="100"
            [chartType]="barChartType" [colors]="barChartColors" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
  <h3  *ngIf="is_loading" style="margin-top: 20px; text-align: center;" class="card-title">BIỂU ĐỒ THEO DÕI TÌNH HÌNH THỰC HIỆN NHIỆM VỤ</h3> 
  <h3 *ngIf="!is_loading" style="margin-top: 20px; text-align: center;" class="card-title">KHÔNG CÓ DỮ LIỆU</h3> 
</div>