<!-- <div class="kt-portlet" [ngClass]="{
		'kt-portlet--body-progress kt-portlet--body-progress-overlay':
			viewLoading
	}">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{ getTitle()}}</h3>
		</div>
	</div>
	<form class="kt-form" [formGroup]="QuanLySoTayGhiChuCuocHopForm">
		<div class="kt-portlet__body" #scrollMe>
			<div class="kt-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>
			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
				(close)="onAlertClose($event)">
				{{ "ComMon.FormError" | translate }}
			</kt-alert>
			<div class="form-group kt-form__group row">
				<div class="col-md-12 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input
							matInput #matFocus
							formControlName="NoiDungGhiChu"
							type="text"/>
						<mat-placeholder>{{'MENU_SOTAYGHICHU.SOTAYGHICHU_NoiDungGhiChu' | translate}} <sup style="color: red;">(*)</sup></mat-placeholder>
					</mat-form-field>
				</div>
			</div>

		</div>
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions">
				<div class="row text-center">
					<div class="col-lg-12">
						<button
							type="button"
							mat-raised-button
							(click)="DongForm()"
							cdkFocusInitial
							matTooltip="{{ 'ComMon.BTN_BACK' | translate }}"
						>
							{{ "ComMon.BTN_BACK" | translate }}</button
						>&nbsp;
						<button
							type="button"
							mat-raised-button
							color="primary"
							(click)="onSubmit()"
							[disabled]="viewLoading"
							matTooltip="{{ 'ComMon.BTN_SAVE' | translate }}"

						>
							{{ "ComMon.BTN_SAVE" | translate }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div> -->
<style>
     :host>>>.table> :not(caption)>*>* {
        padding: 0px !important;
    }
</style>
<div class="card card-custom">
    <div class="card-header">
        <div class="card-title" style="cursor: all-scroll;" mat-dialog-draggable-title>
            <h3 class="card-label card-label-dialog">{{ getTitle()}}
            </h3>
        </div>
    </div>

    <div class="card-body">
        <form class="kt-form" [formGroup]="QuanLySoTayGhiChuCuocHopForm">
            <div class="kt-portlet__body">
                <div class="form-group kt-form__group row">
                    <div class="col-lg-12" style="padding-top: 10px;">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput #matFocus formControlName="NoiDungGhiChu" type="text" />
                            <mat-placeholder>Nội dung ghi chú <sup style="color: red;">(*)</sup></mat-placeholder>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="dialog-footer">
    <button class="jee_button jee_btn-goback" type="button" class="mat-raised-button" (click)="DongForm()" cdkFocusInitial matTooltip="{{ 'COMMON.BACK' | translate }}">
{{'COMMON.BACK' | translate}}
</button>&nbsp;&nbsp;

    <button class="jee_btn-addcontinue" type="button" mat-raised-button (click)="onSubmit()" matTooltip="{{ 'COMMON.LUU_DONG' | translate }}">
{{'COMMON.LUU_DONG' | translate}}
</button>
</div>