<style>
     :host>>>.table> :not(caption)>*>* {
        padding: 0px !important;
    }
</style>

<div class="card card-custom">
    <div class="card-header">
        <div class="card-title" style="cursor: all-scroll;" mat-dialog-draggable-title>
            <h3 class="card-label card-label-dialog">{{getTitle()}}
            </h3>
        </div>
    </div>

    <div class="card-body" style="height: calc(100vh - 280px);     overflow: auto;" #scrollMe>
        <div [formGroup]="BangKhaoSatForm" class="m-form m-form--group-seperator-dashed">
            <div class="row align-items-center" style="padding-top: 10px;">
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <textarea matInput #myInput [readonly]="IsXem" formControlName="TieuDe" type="text"></textarea>
                        <mat-placeholder>{{'MENU_KHAOSAT.CQBH_NHAPTIEUDE_LABEL' | translate}}
                            <!-- <sup style="color: red;">(*)</sup> -->
                        </mat-placeholder>
                    </mat-form-field>
                </div>
                <div class="col-md-6 kt-margin-bottom-20-mobile" *ngIf="IdCuocHop==='0'">
                    <div class="flex row">
                        <div class="col-lg-3 kt-margin-bottom-20-mobile defaultCol">
                            {{"MENU_MEETING.MEETING_STARTTIME" | translate}}<sup style="color: red;">(*)</sup>
                        </div>
                        <div class="col-lg-5 kt-margin-bottom-20-mobile">
                            <mat-form-field style="width: 170px;">
                                <input matInput [matDatepicker]="tungay" [ngModel]="NgayBatDau" formControlName="NgayBatDau" (dateChange)="selectEvent()" readonly>
                                <mat-datepicker-toggle matSuffix [for]="tungay" [disabled]="IsXem">
                                    <mat-icon>calendar_today</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #tungay [startAt]="startDate"></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                            <ngb-timepicker [spinners]="false" formControlName="TuNgayHour" (keypress)="numberOnly($event)" (change)="valuechange($event)" [readonlyInputs]="IsXem">
                            </ngb-timepicker>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 kt-margin-bottom-20-mobile" *ngIf="IdCuocHop==='0'">
                    <div class="flex row">
                        <div class="col-lg-3 kt-margin-bottom-20-mobile defaultCol">
                            {{"MENU_MEETING.MEETING_FINISHTIME" | translate}}<sup style="color: red;">(*)</sup>
                        </div>
                        <div class="col-lg-5 kt-margin-bottom-20-mobile">
                            <mat-form-field style="width: 170px;">
                                <input matInput [matDatepicker]="denngay" [ngModel]="NgayKetThuc" formControlName="NgayKetThuc" (dateChange)="selectEvent()" readonly>
                                <mat-datepicker-toggle matSuffix [for]="denngay" [disabled]="IsXem">
                                    <mat-icon>calendar_today</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #denngay [startAt]="startDate"></mat-datepicker>

                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                            <ngb-timepicker [spinners]="false" formControlName="DenNgayHour" (keypress)="numberOnly($event)" (change)="valuechange($event)" [readonlyInputs]="IsXem">
                            </ngb-timepicker>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 kt-margin-bottom-20-mobile" *ngIf="IdCuocHop === '0'&& !settingsSurvey">
                    <section>
                        <label>{{ "MENU_KHAOSAT.TYPE" | translate }}:
              &nbsp;&nbsp;&nbsp;</label>
                        <mat-radio-group formControlName="Type" [disabled]="IsXem" [(ngModel)]="doituong">
                            <mat-radio-button [value]=0 [disabled]="IsXem" (change)="changeDoiTuong($event)">Cán bộ
                            </mat-radio-button>&nbsp;&nbsp;
                            <mat-radio-button [value]=1 [disabled]="IsXem" (change)="changeDoiTuong($event)">Công dân
                            </mat-radio-button>&nbsp;&nbsp;
                            <mat-radio-button [value]=2 [disabled]="IsXem" (change)="changeDoiTuong($event)">Cả 2
                            </mat-radio-button>
                        </mat-radio-group>
                    </section>
                </div>
                <div class="col-lg-12 kt-margin-bottom-20-mobile" *ngIf="(IdCuocHop === '0'&&doituong===0&&!settingsSurvey)">
                    <div *ngIf="(IsTatCa===true&&IsXem)||!IsXem">
                        <mat-checkbox formControlName="IsTatCa" [(ngModel)]="IsTatCa" [disabled]="IsXem" (change)="changeTatCa($event)">{{ "MENU_KHAOSAT.ISTATCA" | translate }}
                        </mat-checkbox>
                    </div>
                </div>
                <div class="col-lg-12 kt-margin-bottom-20-mobile" *ngIf="IdCuocHop === '0'&&doituong===0&&IsTatCa===false&& !settingsSurvey">
                    <div *ngIf="(IsTatCa===false&&IsXem)||!IsXem">

                        <div class="row" style="flex-grow: 1;padding-top: 10px;">
                            <div class="col-lg-2" style="padding-top: 5px">{{'MENU_KHAOSAT.CANBOTHAMGIA' | translate}}:
                            </div>
                            <div class="col-lg-2" *ngIf="!IsXem" (click)="AddThanhVien()" matTooltip="Chọn người" class="url user" style="border: 1px dashed #676363;border-radius: 50%;padding: 5px;display: inline-block;width: 29px;height: 29px; ">
                                <i class="fas fa-user-plus pd-0" style="font-size: 13px; "></i>
                            </div>
                            <div class="col-lg-12" style="padding-top: 5px">
                                <mat-label>
                                    <i style="
                        font-size: 10px;
                        border-radius: 11px;
                        padding: 3px 3px 3px 3px;
                        color: rgb(171, 6, 6);">(Tổng số lượng:{{countnguoidung}})</i>
                                </mat-label>
                            </div>
                            <div class="col-lg-12 kt-margin-bottom-20-mobile" *ngIf="listUser.length>0">
                                <!-- <label>{{'MODULE.MENU_DANGKYTHANHPHAN.LIST' | translate}}</label> -->
                                <mat-form-field appearance="fill" style="width: 850px;padding-left: 10px;">
                                    <!-- <mat-label>Danh sách mail tham dự</mat-label> -->
                                    <mat-chip-list #chipList style="width: 100%;" *ngIf="!IsXem">
                                        <mat-chip *ngFor="let item of listUser" (removed)="deleteUser(item)">
                                            {{item.HoTen}}
                                            <button matChipRemove mat-icon-button>
                        <mat-icon style=" display: flex;
                                  justify-content: center;
                                  align-items: center;">cancel</mat-icon>
                      </button>
                                        </mat-chip>
                                        <input [matChipInputFor]="chipList" [disabled]="true" />
                                    </mat-chip-list>
                                    <mat-chip-list #chipList style="width: 100%;" *ngIf="IsXem">
                                        <mat-chip *ngFor="let item of listUser">
                                            {{item.HoTen}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 kt-margin-bottom-20-mobile" *ngIf="IdCuocHop !== '0'">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-placeholder>[Chọn người thực hiện phiếu ý kiến]</mat-placeholder>
                        <mat-select (selectionChange)="selectThanhPhan($event)" formControlName="IdThanhPhanThamDu" multiple [disabled]="IsXem">
                            <mat-option>
                                <ngx-mat-select-search [placeholderLabel]="'Tìm kiếm...'" [noEntriesFoundLabel]="
									'Không tìm thấy kết quả phù hợp'
								" [(ngModel)]="searchThanhPhanThamDu" [ngModelOptions]="{ standalone: true }" (ngModelChange)="ThanhPhanThamDuChange()">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option [ngClass]="{'custom-option': true}" *ngFor="let tmp of filteredThanhPhanThamDu | async" [value]="tmp.UserID">
                                {{ tmp.FullName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                    <mat-checkbox formControlName="IsBatBuoc" [disabled]="IsXem">{{"MENU_KHAOSAT.BATBUOC" | translate}}
                    </mat-checkbox>
                </div>
                <div class="col-lg-6 kt-margin- -20-mobile" *ngIf="doituong !== 0&&IdCuocHop === '0'">
                    <mat-checkbox formControlName="IsVangLai" [disabled]="IsXem">{{"MENU_KHAOSAT.VANGLAI" | translate}}
                    </mat-checkbox>
                </div>

                <div class="col-lg-12 kt-margin-bottom-20-mobile flex" style="padding-top: 15px" *ngIf="!(IsXem && isCopy)">
                    <div class="flex row">
                        <div class="kt-margin-bottom-20-mobile defaultCol" style="right: 0.4cm" *ngIf="!IsXem||(IsXem&&ListFileDinhKem.length>0)">
                            File đính kèm
                            <br *ngIf="!IsXem" />
                            <mat-hint *ngIf="!IsXem">
                                {{ "COMMON.DINHDANGPHUHOP" | translate }} (.{{ strExtensionImg }}); Video (.{{ strExtensionVideo }})<br />File (.{{ strExtensionFile }})<br />Kích thước tối đa: {{ sizemaxfile }}MB</mat-hint><br *ngIf="!IsXem" />
                        </div>
                        <div class="col-lg-12  kt-margin-bottom-20-mobile flex" *ngIf="!IsXem||(IsXem&&ListFileDinhKem.length>0)">
                            <table class="table-file table table-bordered">
                                <ng-container>
                                    <tr style="
                              background-color: rgba(
                                128,
                                128,
                                128,
                                0.288
                              );
                            ">
                                        <th style="width: 20%">
                                            Số thứ tự
                                        </th>
                                        <th>
                                            Tên file
                                        </th>
                                        <th style="width: 20%" *ngIf="!IsXem">
                                            {{ "COMMON.DELETE" | translate }}
                                        </th>
                                    </tr>
                                </ng-container>

                                <ng-container *ngFor="
                            let item of ListFileDinhKem;
                            let i = index
                          ">
                                    <tr *ngIf="!item.IsDel" class="p-file-ex" style="
                              background-color: rgba(
                                128,
                                128,
                                128,
                                0.288
                              );
                            ">
                                        <td>{{ i + 1 }}</td>
                                        <td>
                                            <a href="{{ domain + item.Path }}" target="_blank">{{ item.TenFile }}</a>
                                        </td>
                                        <td *ngIf="!IsXem">
                                            <button mat-icon-button attr.aria-label="{{
                                  'COMMON.DELETE' | translate
                                }}" (click)="removeFile(i)" *ngIf="!IsXem">
                        <mat-icon>remove</mat-icon>
                      </button>
                                        </td>
                                    </tr>
                                </ng-container>

                                <ng-container *ngIf="!IsXem">
                                    <tr>
                                        <td colspan="3">
                                            Đính kèm file mới
                                        </td>
                                    </tr>

                                    <tr *ngFor="let item of files; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>
                                            &nbsp;
                                            <div>
                                                <button type="button" color="primary" mat-raised-button (click)="selectFile(i)" matTooltip="{{ 'COMMON.CHONFILE' | translate }}">
                          {{ "COMMON.CHONFILE" | translate }}
                        </button>
                                            </div>
                                            {{item.data ? item.data.filename : ""}}
                                            <input #fileInput type="file" id="FileUpLoad{{ i }}" (click)="fileInput.value = null" value="" (change)="FileChoose($event, i)" style="display: none" />
                                        </td>
                                        <td>
                                            <button mat-icon-button attr.aria-label="{{'COMMON.DELETE' | translate}}" (click)="remove(i)" matTooltip="{{ 'COMMON.DELETE' | translate }}">
                        <mat-icon>remove</mat-icon>
                      </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ files.length + 1 }}</td>
                                        <td></td>
                                        <td>
                                            <button mat-icon-button [attr.aria-label]="'COMMON.ADDROW'| translate" (click)="new_row()">
                        <mat-icon matTooltip="{{ 'COMMON.ADDROW' | translate }}">add</mat-icon>
                      </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 kt-margin-bottom-20-mobile" *ngIf="!IsXem">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-placeholder>[Nội dung câu hỏi]<sup style="color: red;">(*)</sup></mat-placeholder>
                        <mat-select (selectionChange)="selectCauHoi($event)" formControlName="Id" multiple>
                            <mat-option>
                                <ngx-mat-select-search [placeholderLabel]="'Tìm kiếm...'" [noEntriesFoundLabel]="'Không tìm thấy kết quả phù hợp'" [(ngModel)]="searchCauHoi" [ngModelOptions]="{ standalone: true }" (ngModelChange)="CauHoiChange()">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option [ngClass]="{'custom-option': true}" *ngFor="let tmp of filteredndchs | async" [value]="tmp.Id">
                                {{ tmp.NoiDungCauHoi }}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error
                    >Nội dung câu hỏi<strong>
                      là bắt buộc</strong
                    ></mat-error
                  >
                  <mat-hint align="start"
                    >Vui lòng chọn<strong>
                      nội dung câu hỏi</strong
                    ></mat-hint
                  > -->
                    </mat-form-field>
                </div>

                <div class="col-lg-2 kt-margin-bottom-20-mobile" *ngIf="!IsXem" style="padding-left: 5%;">
                    <ng-container>
                        <button mat-icon-button color="primary" type="button" (click)="addAsk()" matTooltip="Thêm câu hỏi khảo sát">
              <mat-icon>add_circle</mat-icon>
            </button>
                    </ng-container>
                </div>
                <div class="col-md-12">
                    <table mat-table [dataSource]="dataSource" style="width: 100%">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef style="width: 10%">
                                STT
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index" style="width: 10%">
                                {{ i + 1 }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Id">
                            <th mat-header-cell *matHeaderCellDef matSortDisableClear="true" style="text-align: center; width: 70%">
                                Nội dung câu hỏi
                            </th>
                            <td mat-cell *matCellDef="let element" style="width: 20%">
                                <span style="
                          display: flex;
                          flex-direction: column;
                          justify-content: center;
                          text-align: center;
                          margin: 14px auto;
                        ">{{ element.NoiDungCauHoi }}
                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef matSortDisableClear="true">
                                <span *ngIf="!IsXem">Thao tác</span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <button mat-icon-button color="warn" type="button" matTooltip="Xoá" (click)="deleteCauHoi(element, i)" [disabled]="IsXem">
                  <mat-icon>delete</mat-icon>
                </button>&nbsp;
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                </div>



            </div>
        </div>
    </div>

    <div class="dialog-footer">
        <button *ngIf="!IsXem" type="button" class="button-cancel" mat-raised-button (click)="close_ask()" [disabled]="disabledBtn" cdkFocusInitial matTooltip="{{ 'COMMON.BACK' | translate }}">
      {{'COMMON.BACK' | translate}}
    </button>&nbsp;&nbsp;
        <button *ngIf="IsXem" type="button" class="button-cancel" mat-raised-button (click)="close()" [disabled]="disabledBtn" cdkFocusInitial matTooltip="{{ 'COMMON.BACK' | translate }}">
      {{'COMMON.BACK' | translate}}
    </button>&nbsp;&nbsp;

        <button class="jee_button jee_btn-addcontinue" type="button" mat-raised-button *ngIf="!IsXem" (click)="onSubmit(true)" [disabled]="disabledBtn" matTooltip="Lưu">
      Lưu
    </button> &nbsp;&nbsp;
    </div>
</div>