<style>
    .avatar-groupEdit
  {
    display: flex;
    border-radius: 50%;
    width: 80px;
    height: 70px;
    flex-wrap: wrap;
  }
    .post {
        text-align: center;
      
        height: 35px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        border-radius: 5px;
        /* background-color:lightgreen;
            color:#FFf; */
            color: white;
        background-color:green;
        border: none;


    }
    ::placeholder {
        color: black;
        padding: 10px;
    }
    .mat-form-field-wrapper
    {
            padding-bottom: none !important;
    }
    .avatar {
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          width: 42px;
          height: 40px;
          background-size: cover;
        }
   
</style>
<div class="row">
    <div class="col-md-12" >
        <div   class="__dialogwrapper" 
        >
        <div class="__dialogwrapper-inner">
            <div class="__dialogmain">
    
                <div class="__dialogcontent simple-form">
                    <div id="post-status" class="__apdialog" title="">
                        <div class="title">
    
                            <span style="font-size:20px;text-align:center;">Đổi tên nhóm</span>
                        
                            
                            <button (click)="goBack()" style="float: right;margin-top: -5px;"  mat-button
                                mat-icon-button>
                                <mat-icon style="font-size: 15px;">clear</mat-icon>
                             
                            </button>
                        </div>
                        <hr>
                      <div style="display: flex;justify-content: center;">

                     
                     
                    
                    </div>
                    <span style="padding-bottom: 10px;">Bạn có chắc muốn đổi tên nhóm, khi xác nhận tên nhóm mới sẽ
                        hiển thị với tất cả thành viên
                    </span>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="Teamname" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <div style="float: right;">
                        <button (click)="goBack()" type="button" class="btn btn-light">Hủy</button>
                        <button (click)="submit()" style="margin-left: 15px;" type="button" class="btn btn-primary">Xác Nhận</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
   
</div>
