// add new task
.cu-task-row-new {
    display: block;
    min-width: 100%;
    z-index: 15;
    position: relative;
}

.cu-task-row-new__container {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    border: 1px solid #1db954;
}

.cu-task-row-new__left {
    display: flex;
    align-items: center;
    position: sticky;
    left: 0;
    flex-grow: 1;
    padding-right: 50px;
}

.cu-task-row-status .cu-dropdown,
.cu-task-row-status .cu-status-list {
    height: 100%;
    width: 100%;
}

.cu-task-row-new_subtask .cu-task-row-status {
    order: 2;
}

.cu-task-row-status_dot .cu-dropdown {
    display: flex;
    align-items: center;
}

.cu-task-row-status_dot .cu-task-row-status__item {
    position: relative;
    margin: 0 11px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: .1s;
    cursor: pointer;
    color: transparent;
}

.cu-task-row-status_dot .cu-task-row-status__item_light:after {
    box-shadow: 0 0 1px 0 #828588;
}

.cu-task-row-status_dot .cu-task-row-status__item:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background: currentColor;
    transition: .1s;
}

.cu-task-row-new_subtask .cu-task-row-new__close {
    order: 1;
    margin: 0 -6px 0 9px;
}

.cu-task-row-new_active .cu-task-row-new__close {
    visibility: visible;
}

.cu-task-row-new__close {
    visibility: hidden;
    cursor: pointer;
    padding: 4px;
    margin: 0 4px 0 -4px;
    fill: #bcc0c7;
    z-index: 1;
    order: 2;
}

.cu-task-row-new__close .icon {
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
}

.icon,
.icon svg {
    width: 100%;
    height: 100%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.cu-task-row-new__main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-width: 200px;
    order: 3;
}

.input-text {
    input:focus {
        outline: none;
    }
}

.cu-task-row-new__input {
    font-family: Gotham Pro, Proxima Nova, arial, serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1;
    cursor: text;
    color: #343434;
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: 0;
    height: 36px;
}

.cu-task-row-new__options {
    display: flex;
    align-items: center;
    position: sticky;
    right: 0;
    flex-shrink: 0;
    min-width: 50px;
}

.cu-task-row-new_active .cu-task-row-new__shortkey {
    opacity: 1;
}

.cu-task-row-new__shortkey {
    transition: opacity .2s cubic-bezier(.785, .135, .15, .86) 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 11px/1 Gotham Pro, Proxima Nova, arial, serif;
    color: #cbc9cf;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
}


.cu-task-row-new__button {
    background: #7b68ee;
    min-width: 54px;
    padding: 0 10px;
    height: 20px;
    border-radius: 2px;
    color: #fff;
    font: 500 11px/1 Gotham Pro, Proxima Nova, arial, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 10px;
    flex-shrink: 0;
}

.cu-task-row-new__button {
    background: green;
}
.cu-add-new-task {
    padding-left: 40px;
    // height: 30px;
    .btn-add-new {
        opacity: 0;
        transition: background 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
        position: relative;
        cursor: pointer;
        display: inline-flex;
        // height: 20px;
        border-radius: 3px;
        .cu-dropdown-head {
            padding: 2px 10px;
        }
    }
}

// add kanban
.cu-quick-create-task-panel {
    display: block;
}

.cu-panel-board_add.cu-panel-board_add-active {
    border: 1px solid;
}
.cu-panel-board_add.cu-panel-board_add-active {
    border-color:  #16a850;
}

.contrast_high .cu-panel-board {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}
.cu-panel-board_add {
    // max-width: 250px;
    display: flex;
    flex-direction: row;
    margin-right: 7px;
    padding: 2px 10px 2px 0;
    border: 1px solid #f4f4f4;
    box-shadow: none;
    position: relative;
}
.cu-panel-board {
    margin: 6px 0 6px 6px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.06);
    cursor: pointer;
    position: relative;
}
.cu-panel-board_add .cu-panel-board__main {
    flex-grow: 1;
    min-width: 0;
}

.cu-panel-board__header {
    display: flex;
    flex-direction: column;
}
.cu-panel-board_add .cu-panel-board__header {
    padding-top: 6px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cu-panel-board_add .cu-panel-board__title {
    flex-grow: 1;
}
.cu-panel-board__title {
    margin: 0;
    color: #544d61;
    font-size: 0;
    position: relative;
}
.cu-panel-board_add-active .cu-panel-board__close {
    visibility: visible;
}
.cu-panel-board__close {
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    left: -2px;
    top: 2px;
    z-index: 1;
    width: 15px;
    height: 15px;
    padding: 2px;
    fill: #bcc0c7;
}

.cu-panel-board_add .cu-panel-board__input {
    font-family: var(--global-font-support);
}
.cu-panel-board_add .cu-panel-board__input {
    font-family: Gotham Pro,Proxima Nova,arial,serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    color: #544d61;
    width: 100%;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    resize: none;
    padding-right: 5px;
    padding-left: 15px;
}

.cu-panel-board_add .cu-panel-board__footer {
    margin-right: 40px;
    min-height: 30px;
}
.cu-panel-board__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 4px 0 6px;
}
.cu-dropdown {
    position: relative;
}
.cu-panel-board_add .cu-panel-board__footer_left {
    min-height: 30px;
}
.cu-panel-board__footer_left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
}
.cu-panel-board__footer_left .cu-priority-list-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.cu-panel-board_add-active .cu-panel-board__enter {
    visibility: visible;
}
.cu-panel-board__enter {
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    right: 9px;
}
.cu-panel-board__enter-button {
    background: green;
    width: 38px;
    height: 17px;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.cu-panel-board__enter-button {
    background: green;
}
.view-hover{
    display: none;
}
.scale-hover-02{
    &:hover{
        z-index: 10;
        transform: scale(1.05);
        transition:all .05s;
        border: 0;
        .view-hover{
            display: block;
        }
        &.user{
            border-radius: 0;
            background: rgba(253, 253, 253, 0)
        }
    }
}