.workflow-baocao{
    width: 100%;
    padding: 0 100px;
}
.header-color{
    color: #0A9562;
}
.circle {
    position: absolute;
    top: 4px;
    left: -3px;
    width: 10px !important;
    height: 10px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.title-thoigianhoanthanh{
    justify-content: center;
    font-size: 18px;
    padding-bottom: 10px;
}


