<style>
	.mat-form-field {
		width: 100%;
	}

	.card-body {
		padding-top: 10px;
	}
</style>
<div class="card card-custom">
	<div class="card-header">
		<div class="card-title">
			<h3 class="dialog-title"><span>{{ getTitle() }}</span></h3>
		</div>
		<div class="card-toolbar">

		</div>
	</div>
	<div class="card-body">
		<form [formGroup]="itemForm" class="m-form m-form--group-seperator-dashed">
			<div class="m-form__section m-form__section--first">
				<div class="m-form__group">
					<div class="row">
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput class="input-batbuoc" autocomplete="off" #focusInput
									placeholder="{{ten}} *" formControlName="tenLMH" type="text">
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="{{cha}}" formControlName="idLMHParent" class="input-thuong">
									<mat-option>
										<ngx-mat-select-search [placeholderLabel]="'Tìm kiếm...'"
											[noEntriesFoundLabel]="'Không tìm thấy kết quả phù hợp'" [(ngModel)]="Filter1"
											[ngModelOptions]="{standalone: true}" (ngModelChange)="filter1()">
										</ngx-mat-select-search>
									</mat-option>
									<mat-option *ngFor="let tmp of filteredIdLMHParents | async " value="{{tmp.IDLoaiMH}}">
										{{tmp.TenLoaiMH}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Ưu tiên hiển thị" 
									formControlName="doUuTien" class="input-thuong" type="number">
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Ghi chú" formControlName="ghiChu" class="input-thuong" autocomplete="off" type="text">
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Mô tả" formControlName="mota" class="input-thuong" autocomplete="off" type="text">
							</mat-form-field>
						</div>
						<!-- <div class="col-md-6 kt-margin-bottom-10-mobile">
							<dl-image-control [data]="imagedata" formControlName="imageControl" type="image/*"
								nameButton="Chọn hình ảnh" [multiple]="true" [required]="false">
							</dl-image-control>
						</div> -->
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="dialog-footer" style="padding-top:20px">
		<button type="button" mat-raised-button class="ja_button ja_btn-goback" (click)="goBack()">
			<span translate="landingpagekey.trolai"></span>
		</button>&nbsp;&nbsp;
		<button type="button" (click)="onSubmit(true)" mat-raised-button class="ja_button ja_btn-addcontinue"
			[disabled]="disabledBtn" matTooltip="{{ 'landingpagekey.luudong' | translate }}"><span
				translate="landingpagekey.luudong"></span></button>&nbsp;&nbsp;
		<button type="button" mat-raised-button class="ja_button ja_btn-addnew" (click)="onSubmit(false)"
			*ngIf="!viewLoading" [disabled]="disabledBtn" matTooltip="{{ 'landingpagekey.luutieptuc' | translate }}">
			<span translate="landingpagekey.luutieptuc"></span>
		</button>
	</div>
</div>