<style>
    .class-width {
        width: 100%;
    }

    m-dropdown-struct-control .show {
        display: flex !important;
    }

    .btn.dl-drop-tree-custom-css.dropdown-toggle .mat-form-field::after {
        right: 0px !important;
        margin-top: -5.5px !important;
        color: rgba(0, 0, 0, 0.54);
    }

    .dropdown-tree {
        overflow: auto;
        height: 250px;
        overflow-y: auto;
        width: 100%;
        display: block;
    }

    .require .dl-dropdown-tree-control input {
        color: #16A851 !important;
    }

    .text-task {
        display: block;
        width: 90% !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
    }
</style>
<div ngbDropdown #dropdownCustom class="dl-dropdown-tree-control d-inline-block class-width dropup" autoClose="outside"
    [placement]="Placement" (click)="changePlacement($event)">
    <div style="padding:0 !important" data-boundary="window" class="btn btn-outline-primary dl-drop-tree-custom-css "
        id="dropdownForm1" ngbDropdownToggle>
        <mat-form-field class="mat-form-field-fluid"
            [ngClass]="{'mat-form-field-should-float ': valid,'mat-focused': focus}">
            <input matInput class="input-drop text-task" placeholder=" {{DropdownTitle}}"
                [formControl]="dropdowntreeControl" readonly matTooltip="{{current_item_select}}">
            <i class="fa fa-times drp-clear" (click)="ClearData()"></i>
        </mat-form-field>
    </div>
    <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="background: #fff !important;" class="dl-drop-menu-tree" *ngIf="type == 1">
        <cdk-tree [dataSource]="dataSource " [treeControl]="treeControl " class="dl-tree-dropdown dropdown-tree ">
            <cdk-nested-tree-node *cdkTreeNodeDef="let node " class="example-tree-node ">
                <div class="dl-cover-tree-node " (click)="SelectItemTree(node) "
                    [ngClass]="{ 'active': selectedNode.RowID == node.RowID} ">
                    <div class="dl-name-node ">
                        <div class="name-txt" *ngIf="node.RowID > 0"><span
                                style="padding-left: 5px;">{{node.Title}}</span>&nbsp;
                            <!-- <mat-icon
                                style="padding-top: 10px;" class="icon-them" (click)="ThemMoiCoCauCon(node)"
                                *ngIf="node.Children == 0" matTooltip="Thêm phòng ban/bộ phận">add_circle</mat-icon> -->
                        </div>
                        <!-- <div class="name-txt" *ngIf="node.RowID == 0">
                            <mat-icon class="icon-them" (click)="ThemMoiCoCau(node)"
                                matTooltip="Thêm phòng ban/bộ phận">add_circle</mat-icon>
                        </div> -->
                    </div>
                </div>
            </cdk-nested-tree-node>

            <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild " class="example-tree-node ">
                <div class="dl-cover-tree-node " (click)="SelectItemTree(node) "
                    [ngClass]="{ 'active': selectedNode.RowID == node.RowID} ">
                    <div class="dl-name-node ">
                        <div class="name-txt" *ngIf="node.RowID > 0">
                            <button mat-icon-button [attr.aria-label]=" 'toggle ' + node.Title " cdkTreeNodeToggle
                                style="border: none">
                                <img src="/assets/images/_plus.png " *ngIf="!treeControl.isExpanded(node) ">
                                <img src="/assets/images/_sub.png " *ngIf="treeControl.isExpanded(node) ">
                            </button>
                            <span style="padding-left: 5px;">{{node.Title}}</span>&nbsp;
                            <!-- <mat-icon
                                style="padding-top: 10px;" class="icon-them" (click)="ThemMoiCoCauCon(node)"
                                *ngIf="node.Children == 0" matTooltip="Thêm phòng ban/bộ phận">add_circle</mat-icon> -->
                        </div>
                        <!-- <div class="name-txt" *ngIf="node.RowID == 0">
                            <mat-icon class="icon-them" (click)="ThemMoiCoCau(node)"
                                matTooltip="Thêm phòng ban/bộ phận">add_circle</mat-icon>
                        </div> -->
                    </div>
                </div>
                <div [class.example-tree-invisible]="!treeControl.isExpanded(node) " class="dl-out-let ">
                    <ng-container cdkTreeNodeOutlet></ng-container>
                </div>
            </cdk-nested-tree-node>
        </cdk-tree>
    </div>
    <div ngbDropdownMenu aria-labelledby="dropdownForm2" class="dl-drop-structure" *ngIf="type == 2">
        <div class="search-input">
            <input class="drp-input-search" [placeholder]="'Tìm kiếm'" #drpsearch />
        </div>
        <div class="back-menu" (click)="backMenu()" *ngIf="current_menu > 0"><i class="fa fa-angle-left"
                aria-hidden="true"></i> {{current_item_select}}
        </div>
        <div class="list-drp-item">
            <div class="dropdown-custom-item" *ngFor="let item of dataSourcesNew; let i = index">
                <div class="col-md-11" style="padding: 0;" (click)="ChangeDropdown(item)">
                    {{item.title}}
                </div>
                <div class="col-md-1" style="padding: 0;" (click)="Choose(item)" *ngIf="item.IsUnit">
                    <mat-icon class="icon-them">check</mat-icon>
                </div>
            </div>
        </div>
    </div>

    <!-- Công việc -->
    <div ngbDropdownMenu aria-labelledby="dropdownForm3" class="dl-drop-structure" *ngIf="type == 3">
        <div class="search-input">
            <input class="drp-input-search" [placeholder]="'Tìm kiếm'" #drpsearch />
        </div>
        <div class="back-menu" (click)="backMenuCV()" *ngIf="current_menu > 0"><i class="fa fa-angle-left"
                aria-hidden="true"></i> {{current_item_select}}
        </div>
        <div class="list-drp-item">
            <div class="dropdown-custom-item" *ngFor="let item of dataSourcesNew; let i = index">
                <div class="col-md-11" style="padding: 0;" (click)="ChangeDropdownCV(item)">
                    {{item.title}}
                </div>
                <div class="col-md-1" style="padding: 0;" (click)="ChooseCV(item)" *ngIf="item.iswork">
                    <mat-icon>check</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>