.btn.btn-outline-primary.dl-drop-tree-custom-css {
    color: #5867dd !important;
    padding-left: 0;
    border: none;
    border-radius: 0;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
}

.btn.btn-outline-primary.dl-drop-tree-custom-css .mat-form-field {
    border: none;
}

.btn.btn-outline-primary:hover:not(.btn-text):not(:disabled):not(.disabled), 
.btn.btn-outline-primary:focus:not(.btn-text), 
.btn.btn-outline-primary.focus:not(.btn-text),
.btn.btn-outline-primary.dl-drop-tree-custom-css.active,
.btn.btn-outline-primary.dl-drop-tree-custom-css.focus,
.btn.btn-outline-primary.dl-drop-tree-custom-css:focus,
.btn.btn-outline-primary.dl-drop-tree-custom-css:hover:not(:disabled),
.btn-outline-primary.dl-drop-tree-custom-css:not(:disabled):not(.disabled):active,
.btn-outline-primary.dl-drop-tree-custom-css:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dl-drop-tree-custom-css.dropdown-toggle {
    color: #5867dd !important;
    background-color: transparent;
}

.btn.dl-drop-tree-custom-css.dropdown-toggle .mat-form-field::after {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin: 0 4px;
    content: "";
    margin-top: -2.5px;
}

.btn.dl-drop-tree-custom-css.dropdown-toggle::after {
    display: none;
}

.btn.dl-drop-tree-custom-css.dropdown-toggle .mat-form-field-invalid.mat-form-field::after {
    color: #f4516c;
}

.btn.dl-drop-tree-custom-css.dropdown-toggle {
    .drp-clear {
        color: #000;
        position: absolute;
        right: 18px;
        font-size: 10px;
        top: 50%;
        margin-top: -5px;
    }
    &:hover {
        .drp-clear {
            display: block;
        }
    }
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree-node {
    display: block;
    white-space: nowrap
}

.example-tree-node .example-tree-node {
    padding-left: 40px;
}

.example-tree-node .example-tree-node .dl-out-let {
    background: url(/assets/images/dot.png) repeat-y;
    background-position: 9px;
}

.dl-tree-dropdown .dl-out-let .example-tree-node:last-child .mat-icon-button {
    background-repeat: no-repeat;
}

html .m-body .m-content {
    min-height: 100%;
}

.dl-drop-menu-tree.dropdown-menu {
    padding: 0;
    min-width: 100%;
    border-radius: unset;
}

.dl-tree-dropdown .example-tree-node[aria-expanded='true'] .dl-leaf-node {
    background-position: -34px -4px;
}

.dl-tree-dropdown .dl-out-let .example-tree-node[aria-expanded='true'] .dl-leaf-node {
    background-position: -31px -4px;
}

.dl-tree-dropdown .example-tree-node .dl-name-node .mat-icon-button {
    width: auto;
    height: auto;
    line-height: 30px;
    border-radius: unset;
}

.dl-tree-dropdown .example-tree-node[aria-expanded='false'] .dl-leaf-node {
    background-position: -99px -4px;
}

.dl-tree-dropdown .dl-out-let .example-tree-node .mat-icon-button {
    width: auto;
    height: auto;
}

.dl-tree-dropdown .example-tree-node .dl-leaf-icon {
    background-position: -67px -4px;
    vertical-align: middle;
}

.dl-tree-dropdown .example-tree-node .icon-check {
    color: #0ebb0e;
}

.dl-tree-dropdown .example-tree-node .dl-name-node {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    padding-left: 15px;
    width: 100%;
    background: url(/assets/images/dot.png) repeat-x center;
    margin-left: 9px;
    display: flex;
    position: relative;
}

.dl-tree-dropdown .example-tree-node .dl-name-node .name-txt {
    background: #fff;
    width: 100%;
    padding-right: 15px;
    font-size: 14px;
    line-height: 3em;
}

.dl-tree-dropdown .example-tree-node .dl-cover-tree-node {
    background: url(/assets/images/dot.png) repeat-y;
    display: flex;
    line-height: 30px;
    background-position: 9px;
    cursor: pointer;
}

.dl-tree-dropdown .dl-out-let .example-tree-node:last-child>.dl-cover-tree-node {
    background-image: linear-gradient(to top, white 50%, black 50%);
    background-size: 1px 100%;
}

.dl-tree-dropdown .dl-out-let .example-tree-node:last-child>.dl-cover-tree-node~.dl-out-let {
    background: none;
}

.dl-tree-dropdown .example-tree-node .dl-cover-tree-node.active .dl-name-node .name-txt {
    background-color: #f5f5f5
}

.dl-tree-dropdown .example-tree-node .dl-cover-tree-node.active .dl-name-node {
    color: #5867dd;
}

.dl-tree-dropdown .example-tree-node .dl-cover-tree-node:hover .dl-name-node .name-txt {
    background-color: #f5f5f5
}

.cdk-tree>cdk-nested-tree-node.example-tree-node.cdk-tree-node.cdk-nested-tree-node>.dl-out-let {
    background: url(/assets/images/dot.png) repeat-y;
    background-position: 9px;
}

.cdk-tree>cdk-nested-tree-node.example-tree-node.cdk-tree-node.cdk-nested-tree-node:last-child>.dl-out-let {
    background: none;
}

.cdk-tree>cdk-nested-tree-node.example-tree-node.cdk-tree-node.cdk-nested-tree-node:last-child>.dl-cover-tree-node {
    background-image: linear-gradient(to top, white 50%, black 50%);
    background-size: 1px 100%;
}

.btn.btn-outline-primary.dl-drop-tree-custom-css .input-tree {
    border: none;
    text-overflow: ellipsis;
    outline: none;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    padding-right: 25px;
}
//=====================================================================================
.dl-dropdown-tree-control {
    width: 100%;
}

.btn.btn-outline-primary.dl-drop-custom-css {
    color: #5867dd !important;
    padding-left: 0;
    border: none;
    border-radius: 0;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    padding-bottom: 0;
}

.dl-drop-structure.dropdown-menu {
    padding: 0;
    min-width: 100%;
    border-radius: unset;
}

.btn.btn-outline-primary.dl-drop-custom-css .mat-form-field {
    border: none;
}

.btn.btn-outline-primary.dl-drop-custom-css.active,
.btn.btn-outline-primary.dl-drop-custom-css.focus,
.btn.btn-outline-primary.dl-drop-custom-css:focus,
.btn.btn-outline-primary.dl-drop-custom-css:hover:not(:disabled),
.btn-outline-primary.dl-drop-custom-css:not(:disabled):not(.disabled):active,
.btn-outline-primary.dl-drop-custom-css:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dl-drop-custom-css.dropdown-toggle {
    color: #5867dd!important;
    background-color: transparent;
}

.btn.dl-drop-custom-css.dropdown-toggle .mat-form-field::after {
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin: 0 4px;
    content: "";
    margin-top: -2.5px;
}

.btn.dl-drop-custom-css.dropdown-toggle::after {
    display: none;
}

.btn.dl-drop-custom-css.dropdown-toggle .mat-form-field-invalid.mat-form-field::after {
    color: #f4516c;
}

.btn.dl-drop-custom-css.dropdown-toggle {
    .drp-clear {
        color: #000;
        position: absolute;
        right: 18px;
        font-size: 10px;
        top: 50%;
        margin-top: -5px;
        display: none;
    }
    &:hover {
        .drp-clear {
            display: block;
        }
    }
}

.btn.btn-outline-primary.dl-drop-custom-css .input-drop {
    border: none;
    text-overflow: ellipsis;
    outline: none;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    padding-right: 25px;
}

.dl-dropdown-tree-control .dl-drop-structure .dropdown-custom-item {
    padding: 10px 15px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
}

.dl-dropdown-tree-control .dl-drop-structure.show {
    display: block!important;
}

.dl-dropdown-tree-control .search-input {
    padding: 5px 10px;
}

.dl-dropdown-tree-control .search-input .drp-input-search {
    width: 100%;
    border-radius: 2px;
    padding: 5px;
    border: none;
    background-color: #f5f5f5;
}

.dl-dropdown-tree-control .back-menu {
    padding: 5px 10px;
    background: #f5f5f5;
    color: #d0011b;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
}

.dl-dropdown-tree-control .back-menu i {
    padding-right: 5px;
}

.list-drp-item {
    overflow-y: auto;
    max-height: 250px;
}

.require .dl-dropdown-tree-control .input-drop {
    color: #16A851 !important;
}