:host {
  height: 100%;
  margin: 0;
}

.p-10{
  padding: 2.5rem !important;
}

.py-lg-20{
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.mb-10{
  margin-bottom: 2.5rem !important;
}

.pt-lg-20{
    padding-top: 5rem !important;
}

.mb-15{
  margin-bottom: 3.75rem !important;
}