<style>
  .scrollVirtual {
    height: 87vh;
    width: 100%;
    flex-grow: 1;
  }

  @media only screen and (max-width: 1566px) {
    .scrollVirtual {
      height: 82vh;
      width: 100%;
      flex-grow: 1;
    }
  }



  .name {
    margin: 0px;
    font-size: 17px;
    font-weight: bold;
  }

  .hidenmess {
    display: inline-block !important;
    color: gray !important;
    background-color: #E5EFFF !important;
  }

  .leave {
    display: flex;
    padding: 10px;
    background: rgb(0 0 0 / 8%);
    display: flex;
    border-radius: 10px;
  }

  .insert {
    /* margin-left: -40px; */
    display: flex;
    padding: 10px;
    background: rgb(0 0 0 / 8%);
    display: flex;
    border-radius: 10px;
  }

  .btn-class {
    margin-left: 10px;
    border-radius: 10px;
    background: #0829711f;
  }

  .example-container {
    /* width: 400px; */
    height: 100vh;
    /* margin: 10px;
    border: 1px solid #555; */
  }

  .back {
    border-bottom: 1px solid #d1d6dc;
    cursor: pointer;

    height: 60px;

    display: flex;
    align-items: center;
  }
</style>
<iframe style=" background: white;    width: 100%;
height: 100%;" title="widget11-video" class="embed-responsive-item rounded " [src]="urlSafe"
  allowFullScreen="true"></iframe>