.item-status{
    height: 45px;
    align-items: cente;
    justify-content: center;
    display: flex;
    align-items: center;
}
 
.row-box{
    align-items: center;
    display: flex;
}
.row{
    margin: 0;
}
table td{
    padding: 0;
}

mat-icon{
    font-size: inherit;
}
