<style>
    .card.card-custom>.card-body {
        padding: 0 !important;
    }
</style>
<div class="card card-custom card-sticky gutter-b">
    <div class="card-header">
        <div class="card-title">
            <span class="card-label card-label-dialog">Quản lý phát biểu</span>
        </div>

        <div class="card-toolbar">
            <!-- <button mat-icon-button class="close-button" [mat-dialog-close]="data.animal" matTooltip="Đóng">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
          </button> -->
            <button class="jee_button jee_btn-goback" type="button" class="mat-raised-button"
                [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="{{ 'COMMON.BACK' | translate }}">
                {{'COMMON.BACK' | translate}}
            </button>
        </div>
    </div>
    <div class="card-body">
        <div [ngStyle]="{'height': getHeight()}" style="overflow-y: auto;"
            class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th class=" text-center" style=" text-align: center">
                        <span>STT</span>
                    </th>
                    <th style=" text-align: center">
                        <span> Thành viên</span>
                    </th>

                    <th style=" text-align: center">
                        <span>Chức vụ</span>
                    </th>

                    <th style=" text-align: center">
                        <span>Trạng thái</span>
                    </th>

                    <th style="text-align: center">
                        <span> Hành động</span>
                    </th>

                </thead>
                <tbody *ngIf="productsService.items$ | async">

                    <tr *ngFor="let item of (productsService.items$ | async); let i = index;">
                        <td class="text-center">
                            {{ (this.paginator.pageSize * (this.paginator.page - 1)) + i + 1 }}
                        </td>
                        <td style="text-align: center">
                            <span>{{item.FullName}}</span>
                        </td>

                        <td style="text-align: center">
                            <span>{{item.ChucVu}}</span>
                        </td>

                        <td style="text-align: center">
                            <span> {{getTitleStatus(item.Status)}}</span>
                        </td>
                        <td style="text-align: center">
                            <div *ngIf="item.Status === 1">
                                <button (click)="XinPhatBieu(item.UserID,2)" type="button" mat-icon-button
                                    color="primary" matTooltip="Đã Phát biểu">
                                    <i class="far fa-thumbs-up"></i></button>&nbsp;
                                <button (click)="XinPhatBieu(item.UserID,3)" type="button" mat-icon-button color="warn"
                                    matTooltip="Hủy">
                                    <mat-icon>cancel</mat-icon></button>&nbsp;
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: center;font-size: 20px" class="mat-table__message"
                *ngIf="(productsService.items$ | async).length === 0">
                <img class="icon-btn-data" src="../../../../../../assets/images/download.png"
                    style="width: 80px; margin-bottom: 15px" />
                <br /> Không có dữ liệu
            </div>
        </div>
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
    </div>
</div>