<!-- <div style="background-color: white; text-align: center">
  <img src="{{ img }}" style="width: 50%" />
</div>
<div style="height: 30px; background-color: #f1f1f1; text-align: center">
  <span style="color: black; font-weight: 800">{{ number }}</span>
</div> -->
<div class="comment-container" *ngIf="!(service.isLoading$ | async) && (isviewcomment || iscomment)" style="margin-bottom: 30px">
    <div class="comment-header-container">
        <div *ngIf="!hiddenLike" class="comment-header comment-header-like">
            <div class="comment-header-reaction">
                <jeecomment-reaction-content></jeecomment-reaction-content>
            </div>
            <mat-icon data-visualcompletion="css-img" class="icon-like item-align-middle"></mat-icon>
            <span style="vertical-align: bottom"> {{ 'JEECOMMENT.THICH' | translate }} </span>
        </div>
        <div class="comment-header" (click)="clickButtonComment()">
            <mat-icon data-visualcompletion="css-img" class="item-align-middle" id="icon-comment">chat_bubble_outline</mat-icon>
            <span style="vertical-align: bottom"> {{ 'JEECOMMENT.BINHLUAN' | translate }} </span>
        </div>
        <div *ngIf="!hiddenShare" class="comment-header">
            <mat-icon data-visualcompletion="css-img" id="icon-share" class="item-align-middle"></mat-icon>
            <span style="vertical-align: bottom"> {{ 'JEECOMMENT.CHIASE' | translate }} </span>
        </div>
    </div>
    <div *ngIf="ShowSpinner$.asObservable() | async; else loading" class="click-show-spinner" [class.spinner]="true"></div>
    <div *ngIf="(errorMessage$ | async) !== ''" class="show-error">{{ 'JEECOMMENT.KHONGHOPLE' | translate }}</div>
    <ng-template #loading>
        <div class="comment-content-container" *ngIf="item">
            <ng-container *ngIf="isviewcomment">
                <div class="comment-filter">
                    <div class="view-more-comment" *ngIf="item.ViewLengthComment < item.TotalLengthComment">
                        <span (click)="viewMoreComment()" class="text-filter">{{ 'JEECOMMENT.XEMTHEMBINHLUAN' | translate }} ({{ item.ViewLengthComment }}/{{ item.TotalLengthComment }})
            </span>
                        <span class="click-show-spinner-view-more-comment" [class.spinner]="ShowSpinnerViewMore$.asObservable() | async"></span>
                    </div>
                    <div class="filter" [matMenuTriggerFor]="menu">
                        <span> {{ labelFilterComment }}</span>
                        <i data-visualcompletion="css-img" class="item-align-middle" id="filter-icon"></i>
                    </div>
                    <mat-menu #menu="matMenu">
                        <button (click)="showAllComment()" mat-menu-item>
              <span>{{ 'JEECOMMENT.TOANBOBINHLUAN' | translate }}</span>
            </button>
                        <button (click)="showNewComment()" mat-menu-item>
              <span>{{ 'JEECOMMENT.BINHLUANMOINHAT' | translate }}</span>
            </button>
                    </mat-menu>
                </div>
                <ng-container *ngFor="let comment of item.Comments">
                    <jeecomment-post-comment-content [isDeteachChange$]="isDeteachChange$" [inputLstObjectID]="lstObjectID" [comment]="comment" [appCode]="appCode">
                    </jeecomment-post-comment-content>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="(errorMessage$ | async) === '' && iscomment">
                <jeecomment-enter-comment-content *ngIf="!isFirstTime"  [objectID]="objectID" [appCode]="appCode" (isEditEvent)="IsEditEvent($event)"> </jeecomment-enter-comment-content>
            </ng-container>
        </div>
    </ng-template>
</div>