.workflow-bieumau{
    width: 100%;
    padding: 1rem 200px;
}
.m-top20{
    margin-top: 20px;
}
.header-color{
    color: #0A9562;
}
.circle {
    position: absolute;
    top: 3px;
    left: 5px;
    width: 10px !important;
    height: 10px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.title-thoigianhoanthanh{
    justify-content: center;
    font-size: 18px;
    padding-bottom: 10px;
}
.mg-bt10{
    margin-bottom: 10px;
}


