app-guide-system {
  .card.card-custom{
    .card-header{
      .card-title{
        font-weight: 500;
      }
    }
    .card-body{
      
    }
    .card-footer{
      text-align: right;
      padding: 1rem 2rem !important;
    }
  }

  .class-text-home {
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
    margin-top: 80px;
  }

  .class-text-step {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.5;
    margin: 20px;
  }

  .mat-table__wrapper .mat-table .mat-header-cell {
    padding-right: 10px !important;
    ;
    border-top: 0.5px solid rgb(222, 222, 222) !important;
    padding-left: 10px !important;
    font-size: 14px !important;
    color: #525e64 !important;
    ;
    background: #f0f0f0;
  }

  .mat-table__wrapper .mat-table .mat-cell {
    color: rgb(50, 50, 50);
    font-size: 14px !important;
  }
}