@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 735px) {
  // #frame #sidepanel {
  //   width: 58px;
  //   min-width: 58px;
  // }
}

#frame #sidepanel #profile {
  width: 100%;

}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #32465a;
  }
}

.menu-item-active {
  background: #e9e5e5;
}

#frame #sidepanel #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}

#frame #sidepanel #profile.expanded .wrap p {
  margin-top: 20px;
}

#frame #sidepanel #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#frame #sidepanel #profile .wrap {
  // height: 60px;

  line-height: 10px;
  // overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap {
    height: 55px;
  }
}

.list-contact {
  padding-right: 0;
  border-right: 1px solid #E1E4EA;
  background-color: #FFFFFF !important;
  min-width: 350px;
  max-width: 350px;
  height: 100vh;
}

#frame #sidepanel #profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #2777da;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}

#frame #sidepanel #profile .wrap img.online {
  border: 3px solid #2ecc71;
}

#frame #sidepanel #profile .wrap img.away {
  border: 2px solid #f1c40f;
}

#frame #sidepanel #profile .wrap img.busy {
  border: 2px solid #e74c3c;
}

#frame #sidepanel #profile .wrap img.offline {
  border: 2px solid #95a5a6;
}

#frame #sidepanel #profile .wrap p {
  float: left;
  margin-left: 15px;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap p {
    display: none;
  }
}

#frame #sidepanel #profile .wrap i.expand-button {
  float: right;
  margin-top: 23px;
  font-size: 0.8em;
  cursor: pointer;
  color: #435f7a;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap i.expand-button {
    display: none;
  }
}

#frame #sidepanel #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: #435f7a;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options {
    width: 58px;
    margin-top: 57px;
  }
}

#frame #sidepanel #profile .wrap #status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options.active {
    margin-top: 62px;
  }
}

#frame #sidepanel #profile .wrap #status-options:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #435f7a;
  margin: -8px 0 0 24px;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options:before {
    margin-left: 23px;
  }
}

#frame #sidepanel #profile .wrap #status-options ul {
  overflow: hidden;
  border-radius: 6px;
}

#frame #sidepanel #profile .wrap #status-options ul li {
  padding: 15px 0 30px 18px;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px;
  }
}

#frame #sidepanel #profile .wrap #status-options ul li:hover {
  background: #F5F5F5;
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}

#frame #sidepanel #profile .wrap #status-options ul li p {
  padding-left: 12px;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li p {
    display: none;
  }
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
  background: #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
  border: 1px solid #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
  background: #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
  border: 1px solid #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
  background: #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
  border: 1px solid #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
  background: #95a5a6;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
  border: 1px solid #95a5a6;
}

#frame #sidepanel #profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial !important;
}

#frame #sidepanel #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}

#frame #sidepanel #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: #32465a;
  border-radius: 3px;
  color: #f5f5f5;
  padding: 7px;
  width: calc(100% - 43px);
}

#frame #sidepanel #profile .wrap #expanded input:focus {
  outline: none;
  background: #435f7a;
}

#frame #sidepanel #search {
  border-bottom: 1px solid #323248;
  font-weight: 300;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #search {
    display: none;
  }
}

#frame #sidepanel #search label {
  position: absolute;
  margin: 7px 0 0 20px;
}

#frame #sidepanel #search input {
  font-family: 'Roboto, Verdana, Arial, Helvetica, sans-serif';
  // padding: 10px 0 10px 46px;
  padding: 7px 0 7px 46px;
  width: 100%;
  // margin-bottom: 10px;
  border: none;
  background: #F0F2F5;
  color: #65676B;
  border-radius: 25px;
}

#frame #sidepanel #search input:focus {
  outline: none;
  // background: #435f7a;
  // click vào thì sẽ đổi bg search
}

#frame #sidepanel #search input::-webkit-input-placeholder {

  color: #65676B;
}

#frame #sidepanel #search input::-moz-placeholder {
  color: #65676B;
}

#frame #sidepanel #search input:-ms-input-placeholder {
  color: #65676B;
}

#frame #sidepanel #search input:-moz-placeholder {
  color: #65676B;
}

#frame #sidepanel #contacts {
  height: calc(100% - 177px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 15px;

}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts {
    height: 100%;
    overflow: scroll;
    width: 287px;
  }

  #frame #sidepanel #contacts::-webkit-scrollbar {
    display: block;
  }
}

#frame #sidepanel #contacts.expanded {
  height: calc(100% - 334px);
}

#frame #sidepanel #contacts::-webkit-scrollbar {
  width: 4px;
  // background: #2c3e50;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #BCC0C4;
}

#frame #sidepanel #contacts ul li.contact {
  display: flex; // mới thêm
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  outline: none;
  cursor: pointer;
  margin-left: -3rem;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}

#frame #sidepanel #contacts ul li.contact:hover {
  background: #F5F5F5;
}

#frame #sidepanel #contacts ul li.contact.active {
  background: #32465a;
  border-right: 5px solid #435f7a;
}

#frame #sidepanel #contacts ul li.contact.active span.contact-status {
  border: 2px solid #32465a !important;
}

#frame #sidepanel #contacts ul li.contact .wrap {
  width: 88%;
  display: flex;
  // margin: 0 auto;
  margin-left: 15px;
  position: relative;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
  }
}

// #frame #sidepanel #contacts ul li.contact .wrap  span {
//   position: absolute;
//   left: 0;
//   margin: -2px 0 0 -2px;
//   // width: 10px;
//   // height: 10px;
//   // background: #95a5a6;
// }



ul {
  list-style-type: none;
  // padding: 0px;
}

#frame #sidepanel #contacts ul li.contact .wrap img {
  width: 45px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0px;
  }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    display: none;
  }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
  font-weight: 600;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: .5;
}

#frame #sidepanel #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#frame #sidepanel #bottom-bar button {
  float: left;
  border: none;
  width: 50%;
  padding: 10px 0;
  background: #32465a;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 0.85em;
  font-family: 'Roboto, Verdana, Arial, Helvetica, sans-serif';
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button {
    float: none;
    width: 100%;
    padding: 15px 0;
  }
}

#frame #sidepanel #bottom-bar button:focus {
  outline: none;
}

#frame #sidepanel #bottom-bar button:nth-child(1) {
  border-right: 1px solid #2c3e50;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #2c3e50;
  }
}

#frame #sidepanel #bottom-bar button:hover {
  background: #435f7a;
}

#frame #sidepanel #bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button i {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button span {
    display: none;
  }
}

#frame .content {
  float: right;
  // width: 65%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100%);
    min-width: 300px !important;
  }
}

@media screen and (max-width: 735px) {
  .iconcall {
    margin-top: -18% !important;
  }
}

@media screen and (max-width: 869px) and(min-width: 734px) {
  #frame .content {
    // width: calc(100% - 58px);
    // width: 60% !important;
  }
}

@media screen and (max-width: 1189px) and (min-width: 900px) {
  #frame .content {
    // width: calc(100% - 325px);
    // width: 74.6%;
    // width: calc(100% - 280px);
  }
}

#frame .content .contact-profile {
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
  // line-height: 60px;
  background: #f5f5f5;
}

#frame .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  // margin: 9px 12px 0 9px;
}

#frame .content .contact-profile p {
  float: left;
}

#frame .content .contact-profile .social-media {
  float: right;
  display: flex;
  align-items: center;
}

#frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}

#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}

#frame .content .contact-profile .social-media i:hover {
  color: #435f7a;
}

#frame .content .messages {
  // height: auto;
  height: 100%;
  width: 100%;
  min-height: calc(100% - 130px);
  max-height: calc(100% - 200px);
  // overflow-y: scroll;
  // overflow-x: hidden;
}

@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}

#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  // margin: 0px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
  // flex-direction: row-reverse; display: flex;
}

#frame .content .messages ul li:nth-last-child(1) {
  // margin-bottom: 20px;
}

#frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}

#frame .content .messages ul li.sent p {
  // background: #435f7a;
  // color: #f5f5f5;

  background: #E5EFFF;
  color: black;
  margin-bottom: 5px; // mưới thêm
  font-size: 17px;
}

.sent {
  // padding-bottom: 15px;
  display: flex !important;
}

.replies {
  // padding-bottom: 15px;
  flex-direction: row-reverse !important;
  display: flex !important;
}

#frame .content .messages ul li.replies img {
  // float: right;
  margin: 6px 0 0 8px;
}

#frame .content .messages ul li.replies p {
  background: #f5f5f5;
  // float: right;
  padding-bottom: 0px;
  margin-bottom: 5px;
  display: block;
  // margin-bottom: 5px;
  font-size: 17px;

}

#frame .content .messages ul li img {
  width: 20px;
  height: 20px;
  float: left;
}

#frame .content .messages ul li p {
  // display: flex;
  // flex-direction: column;
  // padding: 10px 15px;
  padding: 5px;
  border-radius: 10px 10px 10px 0px;
  max-width: 205px;
  line-height: 130%;
  word-wrap: break-word;
}

@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}

@media screen and (min-width: 1367px) {
  #frame .content .messages ul li p {
    max-width: 450px;
    // max-width: 100vh;
  }
}

@media screen and (min-width: 1667px) {
  #frame .content .messages ul li p {
    // max-width: 450px;
    max-width: 100vh;
  }
}

#frame .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

#frame .content .message-input .wrap {
  position: relative;
}

#frame .content .message-input .wrap input {
  font-family: 'Roboto, Verdana, Arial, Helvetica, sans-serif';
  float: left;
  border: none;
  // width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
  // border-radius: 20px;
  width: 100%;
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}

#frame .content .message-input .wrap input:focus {
  outline: none;
}

#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}

#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}

// #frame .content .message-input .wrap button {
//   float: right;
//   border: none;
//   width: 50px;
//   padding: 8px 0;
//   cursor: pointer;
//   background: #32465a;
//   color: #f5f5f5;
// }
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 16px 0;
  }
}

#frame .content .message-input .wrap button:hover {
  // background: #187ddb;
  color: rgb(29, 80, 221);
}

#frame .content .message-input .wrap button:focus {
  outline: none;
}

.chatbody {
  background: white !important;
}

.iconsocial {
  color: black !important;
}

.iconvideoandcall {
  margin-right: 5px;

}

.createcv {
  font-size: 20px;
  color: black !important;
}

.unread {
  font-weight: bold;
  color: black !important;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}

.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.inpuchat {
  display: flex;
  background: #FFFF;
  border-top: 1px solid lightgray;
}

.colortextchat {
  color: black;
}

.listreply {
  margin: 0 5px 0 5px;
  font-size: 13px;
  border-radius: 10px;
  background: lightgray;
  border-radius: 10px;
}

.iconreply {
  font-size: 20px;
  font-weight: bold;
}

.headerchat {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid #e1dada;

}

.displaytimethem {
  padding: 0px 10px;
  color: white;
  background: #8d8d9c;
  border-radius: 10px;
}

.titledraw {
  display: flex;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid #d1d6dc;
  align-items: center;
}

.drawertheme {
  max-width: 400px;
  width: 350px;
}

.mat-expansion-panel {
  margin-bottom: 10px;
}

.displayfileall {
  text-align: center;
  background: #E4E6EB;
  width: 100%;
}

.reply {
  display: flex;
  background: lightblue;
  padding: 10px;
  border-radius: 10px;
  align-items: center;

}

.composing {
  font-size: 13px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.fileloading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.headerchatgroup {
  width: 100%;
  height: 60px;
  display: flex;
  border-bottom: 1px solid #d1d6dc;
  padding: 0 20px 0 20px;
}

.thanhvien {
  color: black;
  margin-left: -10px;
  text-decoration: none;
}

.bodyfile {
  border: dashed 1px #979797;
  background: #FFFF;
  height: 50px;
  display: flex;
  overflow-x: auto;
  // overflow-y: hidden;
}

.reply-user {
  display: flex;
  background: #b9b4b4;
  padding: 10px;
  border-radius: 10px;
}


.file {
  margin-left: 10px;
  display: flex;
  background: #dae5e8;
  margin-top: 5px;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  align-items: center;
}

.loadcssfilelefthidden {
  float: left;
  margin-bottom: 5px;
  background: #c3dcc3;
  max-width: 102vh;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  margin-left: 37px;
}

.Ghim {
  z-index: 99999;
  background: aliceblue;
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid #d1d6dc;
  padding: 0 20px 0 20px;
}

.loadcssfileleft {
  float: left;
  margin-bottom: 5px;
  background: #c3dcc3;
  max-width: 102vh;
  // margin-left: 30px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
}

.loadcssfileright {
  float: right;
  margin-bottom: 5px;
  background: #c3dcc3;
  max-width: 102vh;
  // margin-left: 30px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
}

.sharessfile {
  height: 100px;
  background: #c3dcc3;
  max-width: 102vh;
  width: 100%;
  // margin-left: 30px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
}

.selectmessage {
  border: none;
  outline: none;
  border-radius: 7px;
  margin-top: 5px;
  background-color: transparent;
  color: black;
  margin-bottom: 15px;
  font-size: 13px;
  cursor: pointer;
}

.timeline-itemchat {
  background: #FFFF;
  padding: 12px 12px 12px 0px;
  margin: 0 auto;

}

.timeline-item {
  background: white;

  border-radius: 3px;
  padding: 12px 12px 12px 0px;
  margin: 0 auto;
  max-width: 590px; //chiều dài 
  min-height: 100px;
}

.namecall {
  font-weight: bold;
  text-align: center;
}

.timecv {
  width: 28px;
  height: 28px;
  color: black;
}

.cvchat {
  display: block;
  width: 210px;
  font-size: 12pt;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #404040;
}

.timechat {
  font-size: 9pt;
  width: 50px;
  color: #A0A0A0;
}

.bodysearchchat {
  z-index: 99999999;
  display: flex;
  height: 50px;
  width: 100%;
  background: white;
  position: absolute;
}

.iconsearchchat {
  margin-top: -3px;
  margin-right: -30px;
  margin-left: 20px;
}

.votechat {
  padding: 10px;
  background: rgb(0 0 0 / 8%);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.ndvote {
  z-index: 1;
  position: absolute;
  margin-top: 3px;
  height: 30px;
}

.shareiconchat {
  margin-top: -3px;
  margin-right: -30px;
  margin-left: 20px;
}

.chattapgr {
  background: white;
}

.stickerdownload {
  cursor: pointer;
  height: 26px;
  width: 50px;
  border: 2px solid lightblue;
  border-radius: 7px;
}

::ng-deep .mention {
  width: 100%;
  color: black !important;
  background-color: rgba(0, 0, 0, 0.12) !important;
  padding: 2px 5px;
  border-radius: 2px;
  position: relative !important;
  cursor: pointer;
  margin-right: 5px;
}

.classdownload {
  color: #3ea90e !important;
}


.dropdown-toggle::after {
  display: none !important;
}

.angular-bootstrap-table {
  overflow-x: auto;
}

.angular-bootstrap-table {
  th {
    outline: none;

    &.sortable {
      .svg-icon-sort {
        opacity: 0;
      }

      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }
  }

  .table.table-head-custom thead th.sortable-active {
    //   color: $primary !important;
  }
}

.cursor-default {
  cursor: default !important;
}

.progress-modal {
  height: 3px;
  width: 100%;
}


.ql-editor {
  // min-height: 100px;
}



.ql-mention-list {
  background-color: white;
  list-style-type: none;
  transform: translateY(-2px);
  margin-top: 0;
  padding: 0px 0px 0px 20px;
  z-index: 100;
}


.ql-mention-list .ql-mention-list-item.selected {
  background-color: rgba(0, 0, 0, 0.12);
}


.img-person {
  max-height: 45px;
}

.avatar-group {
  margin-left: -5px;
  display: flex;
  border-radius: 50%;
  width: 55px;
  height: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.more {
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  margin-top: -42px;

  .more-string {
    flex-grow: 1;
    /*font-size: 15px;*/
    color: black;
    line-height: 27px;
    width: 100%;
    height: 100%;


    .url {
      font-weight: normal;
      color: #4CAF50;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:hover {
    .action {
      display: inline-block !important;
    }
  }

  .action {
    display: none;
    font-size: 17px !important;

    &:hover {
      border: solid 1px #eee;
      border-radius: 50%;
      color: white;
      background-color: #c0c5c0;
    }
  }
}

span {
  word-wrap: break-word;
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}


.label-danger {
  background-color: rgb(38, 107, 236);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Base


// Theme Colors


@keyframes animation-pulse {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  60% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  65% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

//==========Sử dụng cho JeeWork============
:root {
  --theme-main-color: #1DB954;
  --theme-main-color-dark: #179644;
  --theme-main-color-light: #6de899;
  --theme-main-header-color: #1DB954;
  --global-font-support: "Gotham Pro", "Proxima Nova", Arial, serif;
  --global-second-font-support: "Proxima Nova", Arial, serif;
}

.wrapper1 {
  z-index: 99999999;
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle1 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle1:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle1:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.wrapper1 span {
  position: absolute;
  top: 75px;
  left: -130px;
  width: 500px;
  font-family: 'Roboto';
  font-size: 16px;
  color: #fff;
}

.demo {
  font-family: none;
  font-style: italic;
}

.demomeeting {
  font-style: italic;
}

//====================================================
::ng-deep .sky-tooltip {
  white-space: pre-line !important;
}

// mobile
@media only screen and (max-width: 46.1875em) {}

// tablet 

@media only screen and (min-width: 46.25em) and (max-width:63.9375em) {}

.frame-box {
  background: #fafafa;
  // border: dotted 2px orange;
  padding: 20px;
  padding: 20px;
  height: 85vh;
  overflow-y: auto;
}

.person {
  font-style: italic;
  font-size: 19px;
  font-weight: bold;
  color: purple;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

.bot {
  display: flex;
  font-weight: bold;
  font-size: 19px;
  color: darkgreen;
}