.header-st{
    height: 12%;
    padding: 30px 15px;
    border-bottom: 1px solid #0000001a;
}
.body-st{
    padding: 15px 15px;
    height: 85%;
    overflow: auto;
    border-bottom: 1px solid #0000001a;
}
.title{
    font-size: 1.5rem;
    line-height: 25px;
    font-weight: 500;
  }
  .class-text {
    font-size: 1.2rem;
    //text-align: center;
    line-height: 1.5;
    margin-top: 10px;
  }
