m-add-widget-dashborad {
  .fancyTable thead tr th {
    padding: 5px;
    border-top: 0.5px solid rgb(222, 222, 222) !important;
    border-bottom: 0.5px solid rgb(222, 222, 222) !important;
    font-size: 14px !important;
    color: #525e64 !important;
    height: 56px;
    background-color: #f0f0f0;
  }

  .fancyTable tbody tr td {
    padding: 10px;
    color: rgb(50, 50, 50) !important;
    font-size: 14px !important;
    min-height: 48px;
    border-bottom: 0.5px solid rgb(222, 222, 222) !important;
  }
}

m-page-girdters-dashboard,
m-template-dashboard-details {
  .title-dash {
    height: 60px;
    background: white;
    color: #525e64;
    padding-left: 15px;
    align-items: center;
    font-weight: bold;
    margin: 0;

    .title {
      color: #525e64;
    }
  }

  .widget-pd-0 {
    padding: 0 !important;
  }

  .pointer {
    cursor: pointer;
  }

  .text-1-line {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .text-2-line {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .user {
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 5px;
    background: rgba(0, 0, 0, .1);
    border: 2px solid #f3f3f3;
  }

  .box-absolute-auto {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
  }

  .box-trang-thai {
    display: flex;
    align-items: center;
    width: 100px;
    margin: auto;
    cursor: pointer;
  }

  gridster-item {
    border-radius: 7px;
    padding: 24px;
    padding-top: 0px;

    .header-grid .mat-table {
      height: 50px !important;

      .mat-header-cell {
        background-color: #f3f6f9 !important;

        span {
          font-weight: 500 !important;
          text-transform: none !important;
          font-size: 13px !important;
          color: #525e64 !important;
        }
      }
    }

    .header-grid thead tr {
      height: 50px !important;
      vertical-align: middle;

      th {
        background-color: #f3f6f9 !important;

        span {
          font-weight: 500 !important;
          text-transform: none !important;
          font-size: 13px !important;
          color: #525e64 !important;
        }
      }
    }
  }

  .name-title {
    color: black;
  }

  .job-title {
    color: #828282;
  }

  .hover-row:hover {
    background-color: #f2f3f8;
    cursor: pointer;
  }

  app-task-datetime-pc {
    position: relative;
    text-align: center;
  }
}

widget-tong-hop-cong-viec {
  .row {
    margin: 0;
    line-height: 1.5;
  }

  .css-icon {
    text-align: right;
    align-self: center;
  }

  .rounded-xl {
    border-radius: 1.25rem !important;
  }

  .bg-quahan {
    background-color: rgb(254, 236, 240) !important;
  }

  .bg-toihan {
    background-color: rgb(255, 246, 230) !important;
  }

  .bg-saptoihan {
    background-color: rgb(243, 237, 255) !important;
  }

  .bg-tronghan {
    background-color: rgb(232, 249, 248) !important;
  }

  .color-quahan {
    color: rgb(243, 66, 109) !important;
  }

  .color-toihan {
    color: rgb(254, 167, 3) !important;
  }

  .color-saptoihan {
    color: rgb(138, 80, 252) !important;
  }

  .color-tronghan {
    color: rgb(27, 196, 189) !important;
  }
}

widget-khoi-luong-cong-viec {
  .row {
    margin: 0;
    line-height: 1.5;
  }

  .css-icon {
    text-align: right;
    align-self: center;
  }

  .rounded-xl {
    border-radius: 1.25rem !important;
  }

  .bg-quahan {
    background-color: rgb(254, 236, 240) !important;
  }

  .bg-toihan {
    background-color: rgb(255, 246, 230) !important;
  }

  .bg-saptoihan {
    background-color: rgb(243, 237, 255) !important;
  }

  .bg-tronghan {
    background-color: rgb(232, 249, 248) !important;
  }

  .color-quahan {
    color: rgb(243, 66, 109) !important;
  }

  .color-toihan {
    color: rgb(254, 167, 3) !important;
  }

  .color-saptoihan {
    color: rgb(138, 80, 252) !important;
  }

  .color-tronghan {
    color: rgb(27, 196, 189) !important;
  }
}

list-works-draft {
  .table tbody tr {
    vertical-align: middle;
    color: #525e64;
  }
}