.remove-date{  
    bottom: 30%;
    left: 0%; 
}

.homnay{
    color:rgb(233, 163, 14);
    font-weight: 500;
}
.trehan{
    color:#ed4141;
    font-weight: 500;
}

.remove-date {
    position: absolute;
    display: none;
}

.item-datetime:hover .remove-date {
    display: block;
}

.date-picker {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 100%;
}
