m-admin {
  .btn.btn-menu {
    min-height: 38.38px;
  }

  .menu-active {
    background-color: #151521;
    border-color: #151521;
    color: #3699ff !important;
  }

  .header-menu {
    background-color: #1e1e2d !important;
  }

  .h-100 {
    height: 100%;
  }

  .w-100 {
    width: 100%;
  }
}
