m-jeeadmin {

  .btn.btn-menu {
    min-height: 38.38px;
  }

  .menu-active {
    background-color: #f3f6f9;
    border-color: #f3f6f9;
    color: #62a4ff !important;
  }

  .header-menu {
    background-color: #fff !important;
  }

  .h-100 {
    height: 100%;
  }

  .w-100 {
    width: 100%;
  }
}