<style>
    .badge {
        background: red;
        border-radius: 50%;
        color: white;
        display: initial;
    }
</style>
<div>
    <div id="frame" class="header-menu" style="max-height: 60px;">
        <div style="padding: 12px 20px 0 12px;">
            <span class="btn btn-menu" *ngFor="let lst of listMenu" id="menu-{{lst.RowID}}" (click)="RouterLink(lst)"
                [ngClass]="{'menu-active' : getSelectNode() === lst.ALink}" style="color: #858585">{{lst.Title}}&nbsp;
                <span *ngIf="lst.SoLuong>0" class="badge">{{lst.SoLuong}}</span>
            </span>
        </div>
    </div>
    <div id="frame" class="body-menu">
        <div id="sidepanel">

            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="nemo-process-waiting nemo-hide-wait" id="nemo-process-waiting-id"></div>
<div class="nemo-process-waiting-loader nemo-hide-wait" id="nemo-process-waiting-loader"></div>