<style>
    .title-project{
        display: flex;
    align-items: center;
    padding-left: 55px;
    }
</style>

<div class="custum-item-user"  *ngIf="image!='department';else departmenticon">
    <div class="avatar">
        <div class="user url">
            <ngx-avatar size="25"
                matTooltip="{{name}}"
                src="{{image}}"
                *ngIf="image;else bindText">
            </ngx-avatar>
            <ng-template #bindText>
                <ngx-avatar textSizeRatio="2.5"
                    matTooltip="{{name}}" 
                    size="25"
                    [name]="WeWorkService.getNameUser(name)"
                    bgColor="{{WeWorkService.getColorNameUser(name)}}">
                </ngx-avatar>
            </ng-template>
        </div>
    </div>
    <div class="name" [ngStyle]="{'color': textcolor}">
        <span class="url">{{name}}</span>
    </div>
    <div class="info">
        <span > {{info}} </span>
    </div>
</div>

<ng-template #departmenticon>
    <!-- <div>Học thêm ngày 10/1/2024 widget</div> -->
    <div class="custum-item-user title-project" *ngIf="style">
        <div class="avatar">
            <div class="department" style="height: 35px; width: 35px;margin-top: 0px;" [ngStyle]="{'background-color': WeWorkService.getColorNameUser(name[0])}">
                <div class="text-inner">
                    {{ name[0] }}
                </div>
            </div>
        </div>
        <div class="name" [ngStyle]="{'color': textcolor}">
            <span class="url">{{name}}</span>
        </div> 
    </div>
    <!-- <div>Học thêm ngày 10/1/2024</div> -->
    <div class="custum-item-user title-project" *ngIf="!style">
        <div class="avatar">
            <div class="department" [ngStyle]="{'background-color': WeWorkService.getColorNameUser(name[0])}">
                <div class="text-inner">
                    {{ name[0] }}
                </div>
            </div>
        </div>
        <div class="name" [ngStyle]="{'color': textcolor}">
            <span class="url">{{name}}</span>
        </div> 
    </div>
</ng-template>

