@import "./assets/style-css/css-general.scss";
@import "./assets/sass/style.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~font-awesome/css/font-awesome.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~bootstrap/dist/css/bootstrap.css";
.sky-padding-0 .mat-dialog-container {
    padding: 0 !important;
}

.sky-padding-0.width600 {
    width: 600px !important;
}

.sky-point {
    width: 10px;
    height: 10px;
}

.sky-task-row-status {
    width: 20px;
    align-self: center;
    margin-right: 5px;
}

.sky-mat-menu {
    .mat-menu-content {
        width: max-content;
    }
}

.sky-tags-mat-menu {
    .mat-menu-content {
        width: 280px;
    }
}

jeecomment-enter-comment-content quill-editor.textarea-input .ql-editor {
    padding: 2px !important;
}

jeecomment-enter-comment-content quill-editor.textarea-input .ql-editor p {
    max-width: 100% !important;
    margin-bottom: 0xp !important;
}

jeecomment-enter-comment-content quill-editor.textarea-input .ql-container.ql-snow {
    position: inherit;
    border: none !important;
}

// body .kt-portlet__head-label,
// .kt-portlet__head-title {
//     font-family: Roboto, Arial, Helvetica, sans-serif !important;
// }
// body .kt-portlet {
//     margin-bottom: 0;
//     height: 100%;
// }
// body .kt-portlet .kt-portlet__body {
//     overflow: auto;
// }
// body .mat-select-required .mat-select-value {
//     color: #16A851 !important;
// }
// body .mat-form-field {
//     color: black;
//     font-size: 1.1rem;
// }
// body .require {
//     color: #16A851;
// }
// body .row {
//     margin-left: 0;
// }
// body .kt-portlet .kt-portlet__foot {
//     padding: 1.1rem 2.2rem !important;
// }
// body .m-form__section {
//     color: #f5821f !important;
// }
// //==============================Chỉnh css mat-table==========================
// //246 : Không có field
// body .mat-header-row {
//     background-color: #f0f0f0;
//     font-weight: bold;
//     min-height: 50px;
//     border-bottom-style: none;
// }
// body .mat-header-cell {
//     font-size: 10pt;
// }
// body .mat-row {
//     min-height: 50px;
// }
.mat-header-cell {
    white-space: nowrap;
    z-index: 1 !important;
}

// .mat-cell {
//     white-space: nowrap;
// }
.mat-row.hovered {
    background: #f7f7f7;
}

.mat-row.highlighted {
    background: #eee;
}

// .kt-portlet .kt-portlet__body {
//   padding: 10px 0px 0px 0px !important;
// }
//====================================
// Chỉnh border-radius  popup
// .mat-dialog-container {
//     padding: 0 !important;
//     border-radius: 10px !important;
// }
// .mat-dialog-container {
//     width: 700px !important;
// }
//====================================
//=================Kích thước thanh scroll==============
@media only screen and (min-width: 1028px) {
     ::-webkit-scrollbar {
        width: 5px;
        opacity: 0;
        height: 12px;
    }
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
     ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    }
}

//===============Kích thước popup Thiên============
.mat-dialog-container {
    border-radius: 10px !important;
}

.kt-mat-dialog-container__wrapper.standard {
    width: 700px !important;
}

.m-mat-dialog-container__wrapper.width40 {
    width: 40% !important;
}

.m-mat-dialog-container__wrapper.width50 {
    width: 50% !important;
}

.m-mat-dialog-container__wrapper.width60 {
    width: 60% !important;
}

.m-mat-dialog-container__wrapper.width70 {
    width: 70% !important;
}

[mat-dialog-draggable-title] {
    cursor: move;
}

//===========Css màu của mat-tab====================
.mat-tab-label-active {
    color: #f5821f !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #f5821f;
}

//===========Css mat-menu========================
.mat-menu-panel {
    min-height: 0 !important;
}

// .mat-menu-item {
//     line-height: 10px !important;
//     height: 30px !important;
// }
// .mat-menu-content {
//     padding-left: 8px;
//     padding-right: 8px;
// }
// //===========================Css tình trạng ===========================
.color-choxuly {
    color: #ffb822;
}

.color-dangxuly {
    color: #5867dd;
}

.color-quahan {
    color: #ff0000;
}

.color-hoanthanh {
    color: #9acd32;
}

.background-choxuly {
    background-color: #ffb822;
}

.background-dangxuly {
    background-color: #5867dd;
}

.background-quahan {
    background-color: #ff0000;
}

.background-hoanthanh {
    background-color: #9acd32;
}

//===***Info***/
$info_BgColor: #4CAF50;
.mat-button.mat-info,
.mat-icon-button.mat-info,
.mat-stroked-button.mat-info {
    color: $info_BgColor;
}

.mat-button.mat-info .mat-button-focus-overlay,
.mat-icon-button.mat-info .mat-button-focus-overlay,
.mat-stroked-button.mat-info .mat-button-focus-overlay {
    background-color: $info_BgColor;
}

.mat-flat-button.mat-info,
.mat-raised-button.mat-info,
.mat-fab.mat-info,
.mat-mini-fab.mat-info {
    color: white;
}

.mat-flat-button.mat-info,
.mat-raised-button.mat-info,
.mat-fab.mat-info,
.mat-mini-fab.mat-info {
    background-color: $info_BgColor;
}

.status-1 {
    background-image: url('https://img.icons8.com/color/96/000000/plus.png');
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0px;
}

.btn-export.excel {
    background-color: green;
    /* Màu xanh */
    color: white;
}

.button-cancel {
    background-color: #cfd2e3;
}

//*******************MAT CHIP COLOR***********************//
.mat-chip.mat-standard-chip.mat-primary {
    background-color: #8150e2;
    color: #fff;
}

.mat-chip.mat-standard-chip.mat-warn {
    background-color: #eba00b;
    color: #fff;
}

.mat-chip.mat-standard-chip.mat-danger {
    background-color: #ec1115;
    color: #fff;
}

.mat-chip.mat-standard-chip.mat-info {
    background-color: #4483e0;
    color: #fff;
}

.mat-chip.mat-standard-chip.mat-accent {
    background-color: #f59d29;
    color: #fff;
}

.mat-chip.mat-standard-chip.mat-complete {
    background-color: #05aa0d;
    color: #fff;
}

.mat-chip.mat-standard-chip.mat-purple {
    background-color: #c82ee7;
    color: #fff;
}

.mat-cell .mat-chip-list-wrapper .mat-chip.mat-standard-chip,
td .mat-chip-list-wrapper .mat-chip.mat-standard-chip {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: inline-flex;
    padding: 2px 10px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 24px;
    height: 1px;
    font-size: 13px;
    min-width: 95px;
    justify-content: center;
}

//***
.dl-dat-xe .fc-time-grid-event .fc-time {
    padding: 3px;
}

.dl-dat-xe .fc-time-grid-event.fc-short .fc-time {
    display: block;
    span {
        display: inline-block;
    }
    &::before,
    &::after {
        content: unset
    }
}

.tr-error {
    background-color: #edb3b3;
}

.kt-portlet {
    z-index: 1;
    .kt-portlet__head {
        z-index: 2;
    }
    .kt-portlet__body {
        z-index: 1;
    }
}

.spinner-button-pad {
    border: 1px solid #f3f3f3;
    border-radius: 100%;
    border-top: 1px solid blue;
    border-right: 1px solid green;
    border-bottom: 1px solid red;
    border-left: 1px solid pink;
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

//@at-root
:root {
    --theme-main-color: #1DB954;
    --theme-main-color-dark: #179644;
    --theme-main-color-light: #6de899;
    --theme-main-header-color: #1DB954;
    --global-font-support: "Gotham Pro", "Proxima Nova", Arial, serif;
    --global-second-font-support: "Proxima Nova", Arial, serif;
}

//==============Start style icon thêm, xóa, sửa=====================
.icon-them {
    color: #575962;
}

.icon-xoa {
    color: #f4516c;
}

.icon-sua {
    color: #716aca;
}

.icon-width20 {
    width: 20px;
    margin-right: 12px;
    cursor: pointer;
}

//=======================CSS BUTTON======================
.ja_button {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.02rem; //12pt;
    padding: 5px 20px 5px 20px; //top right botton left
    border: 0.5;
    border-color: #D1D1D1;
    border-radius: 3px;
    margin: 20px 20px 20px 20px;
}

.ja_btn-addnew {
    background-color: #3699ff;
    color: #ffffff;
    &:hover {
        background-color: #0e72d8;
    }
}

.ja_btn-config {
    background-color: #9956e5;
    color: #ffffff;
    &:hover {
        background-color: #9956e5;
    }
}

.ja_btn-config1 {
    background-color: #f28518;
    color: #ffffff;
    &:hover {
        background-color: #f28518;
    }
}

.ja_btn-export {
    background-color: #309106;
    color: #ffffff;
    &:hover {
        background-color: #309106;
    }
}

.ja_btn-koduyet {
    //flaticon2-delete
    background-color: #d9534f;
    color: #ffffff;
    &:hover {
        background-color: #c9443f;
    }
}

.ja_btn-duyet {
    //flaticon2-check-mark
    background-color: #41a0ff;
    color: #ffffff;
    &:hover {
        background-color: #0e76df;
    }
}

.ja_btn-dropdown {
    background-color: #1bc5bd;
    color: #ffffff;
    &:hover {
        background-color: #0bb7af;
    }
}

.btn-add-status {
    background-color: #f89436;
    color: #ffffff;
    border-color: #f89436;
    &:hover {
        background-color: #f89436;
    }
}

.ja_btn-addcontinue {
    background-color: #1bc5bd;
    color: #ffffff;
    &:hover {
        background-color: #0bb7af;
    }
}

.ja_btn-goback {
    background-color: #ffffff;
    color: #5f5f5f;
    &:hover {
        background-color: #e4e6ef;
    }
}

// @import "~quill/dist/quill.core.css";
// @import "~quill/dist/quill.bubble.css";
// @import "~quill/dist/quill.snow.css";
.ql-mention-list {
    background-color: white;
    list-style-type: none;
    transform: translateY(-2px);
    margin-top: 0;
    padding: 0px 0px 0px 20px;
    z-index: 100;
}

.ql-mention-list .ql-mention-list-item {
    cursor: pointer;
    padding: 10px 10px;
}

.ql-mention-list .ql-mention-list-item.selected {
    background-color: rgba(0, 0, 0, 0.12);
}

span.mention {
    background-color: rgba(0, 0, 0, 0.12);
    padding: 2px 5px;
    border-radius: 2px;
    position: relative !important;
    cursor: pointer;
    margin-right: 5px;
    font-weight: bold;
    color: rgb(109, 109, 243);
}

//=======================CSS BUTTON======================
.ja_button {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.02rem; //12pt;
    padding: 5px 20px 5px 20px; //top right botton left
    border: 0.5;
    border-color: #D1D1D1;
    border-radius: 3px;
    margin: 20px 20px 20px 20px;
}

.ja_btn-addnew {
    background-color: #3699ff;
    color: #ffffff;
    &:hover {
        background-color: #0e72d8;
    }
}

.ja_btn-dropdown {
    background-color: #1bc5bd;
    color: #ffffff;
    &:hover {
        background-color: #0bb7af;
    }
}

.ja_btn-addcontinue {
    background-color: #1bc5bd;
    color: #ffffff;
    &:hover {
        background-color: #0bb7af;
    }
}

.ja_btn-goback {
    background-color: #ffffff;
    color: #5f5f5f;
    &:hover {
        background-color: #e4e6ef;
    }
}

.jee_btn-addclose {
    background-color: #1bc5bd;
    color: #ffffff;
    &:hover {
        background-color: #0bb7af;
    }
}

.bd-input {
    border: 1px solid #ddd;
}

.task-copy__options-block {
    border: 1px solid #e3e3e3;
    background-color: #fbfbfb;
}

.task-copy__options-column-title {
    color: #222;
}

.task-copy__category-list .category-list {
    border: 1px solid #e3e3e3;
}

.choose-users-box .users-container .user-item:hover {
    background-color: #eee;
}

.task-list .cu-task-row__container,
.light-mode .cu-task-list .cu-task-row__container {
    background: #EEEEEE !important;
    border: 1px solid #EEEEEE !important;
}

.task-list .cu-task-row__main,
.cu-task-list .cu-task-row__main {
    padding-top: 0;
    padding-bottom: 0;
    background: #EEEEEE !important;
}

.task-list .cu-task-list-header-field .cu-task-list-header-field__title-text {
    color: rgba(52, 52, 52, .72);
}

.cu-list-group {
    border: none !important;
}

.card.card-custom>.card-header>.card-title {
    margin: 0 !important;
}

.task-list .cu-task-row__main .cu-task-row-main .cu-task-row-main__link .cu-task-row-main__link-text .cu-task-row-main__link-text-inner {
    color: #000;
}

.task-list .cu-dropdown-head:hover,
.cu-task-list .cu-dropdown-head:hover {
    background-color: #e4e4e4;
}

// app-danh-sach-nhiem-vu {
//     .panel-left {
//         box-sizing: border-box;
//         width: 20%;
//         margin-left: 10px;
//         margin-top: 10px;
//         margin-right: 10px;
//         margin-bottom: 10px;
//         background: #ffffff;
//         box-shadow: 0px 0px 20px rgba(56, 71, 109, 0.03);
//         border-radius: 10px;
//         display: block;
//     }
//     .panel-left-v2 {
//         box-sizing: border-box;
//         width: 15%;
//         margin-left: 10px;
//         margin-top: 10px;
//         margin-right: 10px;
//         margin-bottom: 10px;
//         background: #ffffff;
//         box-shadow: 0px 0px 20px rgba(56, 71, 109, 0.03);
//         border-radius: 10px;
//         display: block;
//     }
//     .title-left {
//         position: absolute;
//         /* width: 125px;
//         height: 23px; */
//         margin-top: 10px;
//         margin-left: 10px;
//         font-family: "Roboto";
//         font-style: normal;
//         font-weight: 500;
//         font-size: 20px;
//         line-height: 23px;
//         color: #1e1e2d;
//     }
//     .title-left-dm {
//         position: absolute;
//         /* width: 125px;
//         height: 23px; */
//         margin-top: 10px;
//         // margin-left: 10px;
//         font-family: "Roboto";
//         font-style: normal;
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 21px;
//         /* identical to box height */
//         // text-transform: uppercase;
//         color: #a1a5b7;
//     }
//     .listitem {
//         font-family: "Roboto";
//         font-style: normal;
//         font-weight: 400;
//         font-size: 14px;
//         line-height: 19px;
//         /* identical to box height */
//         /* Text */
//         // border-bottom: 1px solid #e4e6ef;
//         color: #434557;
//     }
//     .badge {
//         background: red;
//         border-radius: 55%;
//         color: white;
//         display: flex;
//         justify-content: center;
//         width: 20px;
//         height: 20px;
//     }
//     .divmenu {
//         display: flex;
//         justify-content: space-between;
//         width: 100%;
//         // height: 30px;
//         // border-bottom: 1px solid #e4e6ef;
//     }
//     .icon-nv {
//         width: 30px;
//         // height: 30px;
//     }
//     .menuborder {
//         border-bottom: 1px solid #e4e6ef;
//     }
//     .dvth-font {
//         /* Sở lao động thương binh */
//         // position: absolute;
//         width: 175px;
//         height: 19px;
//         left: 115px;
//         top: 876px;
//         font-family: "Roboto";
//         font-style: normal;
//         font-weight: 400;
//         font-size: 16px;
//         line-height: 19px;
//         /* identical to box height */
//         /* Text */
//         color: #434557;
//     }
//     .panel-top {
//         box-sizing: border-box;
//         width: 25%;
//         margin-top: 10px;
//         background: #ffffff;
//         box-shadow: 0px 0px 20px rgba(56, 71, 109, 0.03);
//         border-radius: 10px;
//         display: block;
//     }
//     .panel-top-home {
//         box-sizing: border-box;
//         width: 25%;
//         background: #ffffff;
//         box-shadow: 0px 0px 20px rgba(56, 71, 109, 0.03);
//         border-radius: 10px;
//         display: block;
//     }
//     .cu-search-filter__input {
//         box-sizing: border-box;
//         width: 186px;
//         height: 24px;
//         left: 426px;
//         top: 18px;
//         opacity: 0.7;
//         border: 1px solid #e4e6ef;
//         border-radius: 9px;
//         height: 30px;
//     }
//     .dropdown1 {
//         box-sizing: border-box;
//         font-weight: 400;
//         font-size: 12px;
//         line-height: 30px;
//         // border: 1px solid #eff2f5;
//         border-radius: 5px;
//         width: 120px;
//         height: 30px;
//         padding-top: 0px !important;
//         /* #region  Kiên thêm */
//         background-color: #f3f6f9;
//         border-color: #f3f6f9;
//         /* #endregion */
//     }
//     .buttonthemmoi {
//         align-items: center;
//         border: none;
//         width: 108px;
//         height: 28px;
//         left: 897px;
//         top: 19px;
//         font-family: "Roboto";
//         font-style: normal;
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 16px;
//         background: #1bc4bd;
//         border-radius: 5px;
//     }
//     // td.mat-cell {
//     //   border-bottom-style: none;
//     // }
//     th.mat-header-cell {
//         border-bottom-style: none;
//         background-color: #eee;
//     }
//     .mat-column-nhiemvu {
//         flex: none;
//         width: 40%;
//         max-width: 40%;
//     }
//     .mat-column-tinhtrang {
//         flex: none;
//         width: 10%;
//     }
//     .mat-column-giaocho {
//         flex: none;
//         width: 7.5%;
//     }
//     .mat-column-hanchot {
//         flex: none;
//         width: 5.5%;
//     }
//     .mat-column-binhluan {
//         flex: none;
//         width: 5.5%;
//     }
//     .mat-column-nguoitao {
//         flex: none;
//         width: 7.5%;
//     }
//     .header {
//         border-bottom: 1px solid #d3d3d3de;
//         align-items: center;
//     }
//     .title {
//         font-size: 17px;
//         font-weight: bold;
//     }
//     .popup_add {
//         background: #ffffff;
//     }
//     .card {
//         background-color: #ffffff;
//         >.card-header {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             flex-wrap: wrap;
//             min-height: 40px;
//             padding-top: 0;
//             padding-bottom: 0;
//             background-color: transparent;
//             >.card-search {
//                 display: flex;
//                 flex-wrap: wrap;
//                 align-items: center;
//                 margin: auto;
//                 margin-left: 0;
//             }
//             >.card-title {
//                 display: flex;
//                 align-items: center;
//                 margin: 0.5rem;
//                 margin-left: 0;
//             }
//             >.card-toolbar {
//                 display: flex;
//                 align-items: center;
//                 margin: 0.5rem 0;
//                 flex-wrap: wrap;
//             }
//         }
//         // >.card-body {}
//         >.dialog-footer {
//             display: flex;
//             justify-content: flex-end;
//             padding: 20px;
//             border-top: 1px solid rgba(0, 0, 0, 0.1);
//         }
//     }
//     .title_menu {
//         height: 70px;
//         font-family: "Roboto";
//         font-style: normal;
//         font-weight: 400;
//         font-size: 14px;
//         color: #464e5f;
//     }
//     // .nhacnho{
//     //   background: #1E1E2D;
//     //   color: #ffffff;
//     // }
//     // .textnhacnho{
//     //   color: #ffffff;
//     // }
//     .holder {
//         background: #ffffff;
//         border-radius: 10px;
//     }
//     .themmoiTitle {
//         font-family: 'Roboto';
//         font-style: normal;
//         font-weight: 500;
//         font-size: 16px;
//         color: #434557;
//     }
//     .textTable {
//         font-family: 'Roboto';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 14px;
//         color: #464E5F;
//     }
//     .themmoiTitle {
//         font-family: "Roboto";
//         font-style: normal;
//         font-weight: 500;
//         font-size: 16px;
//         color: #434557;
//     }
//     .size-flag-detail {
//         width: 24px;
//         height: 24px;
//         cursor: pointer;
//     }
//     .size-flag-detail-18 {
//         width: 18px;
//         height: 18px;
//     }
//     .size-icon-20 {
//         width: 20px;
//         height: 20px;
//     }
//     /* #endregion */
//     /* #endregion */
//     #quillCustom {
//         .ql-toolbar {
//             border: none !important;
//             background: antiquewhite !important;
//         }
//     }
//     .fnt-hei-500 {
//         font-family: "Roboto";
//         font-style: normal;
//         font-weight: 500;
//     }
//     .fnt-hei-700 {
//         font-family: "Roboto";
//         font-style: normal;
//         font-weight: 700;
//     }
//     .fnt-hei-600 {
//         font-family: "Roboto";
//         font-style: normal;
//         font-weight: 600;
//     }
//     .fnt-size-14 {
//         font-size: 14px;
//         line-height: 16px;
//     }
//     .fnt-size-12 {
//         font-size: 12px;
//         line-height: 14px;
//     }
//     .fnt-size-30 {
//         font-size: 30px;
//         line-height: 35px;
//     }
//     .fnt-cl-black {
//         color: #434557;
//     }
//     .fnt-cl-21 {
//         color: #212121;
//     }
//     .fnt-cl-21 {
//         color: #212121;
//     }
//     .fnt-cl-white {
//         color: #ffffff;
//     }
//     .view-hover {
//         display: none;
//     }
//     .hover-to-show:hover {
//         .view-hover {
//             display: block;
//         }
//     }
//     .hide-more-text {
//         overflow: hidden;
//         text-overflow: ellipsis;
//         white-space: nowrap;
//     }
//     .title1 {
//         font-family: "Roboto";
//         font-style: normal;
//         font-weight: 500;
//         font-size: 20px;
//         line-height: 23px;
//         color: #212121;
//     }
//     .fle {
//         display: flex;
//     }
//     .sp-bw {
//         justify-content: space-between;
//     }
//     /* #region  buttton style */
//     .btn {
//         appearance: none;
//         -webkit-appearance: none;
//         font-family: sans-serif;
//         cursor: pointer;
//         //   padding: 12px;
//         min-width: 80px;
//         border: 0px;
//         -webkit-transition: background-color 100ms linear;
//         -ms-transition: background-color 100ms linear;
//         transition: background-color 100ms linear;
//     }
//     .btn:focus,
//     .btn.focus {
//         outline: 0;
//     }
//     .btn-round-1 {
//         border-radius: 5px;
//     }
//     .btn-success {
//         background: #1bc4bd;
//         color: #ffffff;
//         height: 28px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
//     .btn-success:hover {
//         background: #27ae60;
//         color: #ffffff;
//     }
//     .btn-primary {
//         background: #0a85ff;
//         color: #ffffff;
//         height: 28px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
//     .btn-normal {
//         background: #fff;
//         // color: #ffffff;
//         height: 28px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
//     .btn-primary:hover {
//         background: #134b5f;
//         color: #ffffff;
//     }
//     .btn-normal:hover {
//         background: #a1a5b7;
//         // color: #ffffff;
//     }
//     .view-hover-inline-block {
//         display: none;
//     }
//     .hover-to-show-inline-block:hover {
//         .view-hover-inline-block {
//             display: inline-block;
//         }
//     }
//     /* #endregion */
//     .box-color {
//         width: 10px;
//         height: 10px;
//         background-color: red;
//         margin-right: 25px;
//     }
//     .dt-chidao-butphe {
//         width: 100%;
//         height: 100%;
//         min-height: 120px;
//         background: #f6f6f6;
//         border-radius: 16px;
//     }
//     .text-deadline-over-time {
//         color: #f64e60 !important;
//     }
//     .text-deadline-on-time {
//         color: #272524 !important;
//     }
//     #quillCustomForCreate {
//         .ql-toolbar {
//             border: none !important;
//             background: rgb(42, 87, 154) !important;
//         }
//         .ql-toolbar .ql-stroke {
//             fill: none;
//             stroke: #fff;
//         }
//         .ql-toolbar .ql-fill {
//             fill: #fff;
//             stroke: none;
//         }
//         .ql-toolbar .ql-picker {
//             color: #fff;
//         }
//     }
//     // Class đặc thù riêng cho widget
//     .sky-point {
//         width: 10px;
//         height: 10px;
//     }
//     .sky-task-row-status {
//         width: 20px;
//         align-self: center;
//         margin-right: 5px;
//     }
//     .sky-padding-0 .mat-dialog-container {
//         padding: 0 !important;
//     }
//     app-list-nhiem-vu-popup th.mat-header-cell {
//         border-bottom-style: none;
//         background-color: #eee;
//     }
//     .header_table {
//         background: #eeeeee;
//         display: flex;
//         align-content: center;
//         flex-wrap: wrap;
//         border-radius: 10px;
//         width: 98%;
//         margin: 1% 1% 0% 1%;
//     }
//     .dark-background {
//         // background: #181C32;
//     }
// }
img.calender {
    content: url("../src/assets/icons/Calendar.svg");
}

img.red-flag_list {
    content: url("../src/assets/icons/Flag_red_list.svg");
}

img.yellow-flag_list {
    content: url("../src/assets/icons/Flag_Or_list.svg");
}

img.blue-flag_list {
    content: url("../src/assets/icons/Flag_blue_list.svg");
}

img.low-flag_list {
    content: url("../src/assets/icons/Flag_Low_list.svg");
}

img.grey-flag_list {
    content: url("../src/assets/icons/Flag_No_Prioritization_list.svg");
}

img.not_choose_priority {
    content: url("../src/assets/icons/Not_Choose_Prirority.svg");
}

app-thong-ke-cuoc-hop-list,
app-thong-ke-cuoc-hop-da-xl-list,
app-thong-ke-cuoc-hop-theo-chuc-vu-list,
app-thong-ke-cuoc-hop-tham-gia-list,
app-lich-hop-don-vi-page,
app-quan-ly-so-tay-cuoc-hop-list,
app-quan-ly-nhom-cuoc-hop-list {
    .card.card-custom {
        height: 90%;
        margin: 10px;
        overflow: auto;
    }
}

mat-dialog-container {
    app-quan-ly-so-tay-cuoc-hop-list {
        .card.card-custom {
            height: auto;
            margin: 0px !important;
        }
    }
}

@media only screen and (max-width: 1540px) {
    .btn-menu-meet {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 1340px) {
    .btn-menu-meet {
        font-size: 8px !important;
    }
}

@media only screen and (max-width: 1140px) {
    .header-menu {
        overflow: auto;
    }
    .menu-ipad {
        display: flex;
        width: 200px;
        float: right;
        flex-wrap: wrap;
        gap: 10px;
        overflow: auto;
    }
}