<div class="btn-close-container">
    <button class="btn-close" type="button" mat-mini-fab color="" (click)="this.dialogRef.close();" title="Đóng">
        <mat-icon>clear</mat-icon>
    </button>
</div>
<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title"> {{getTitle()}} </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <button mat-raised-button class="jee_btn-addclose" (click)="onSubmit()" type="button">
                <span translate="landingpagekey.luudong"></span>
            </button>
        </div>
    </div>
    <div class="kt-portlet__body" style="padding-bottom: 50px;">
        <div class="load-list-status">
            <div class="tao-status">
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <input type="text" [(ngModel)]="this.data.statusname" class="form-control"
                                placeholder="{{ 'status.statusname' | translate }}">
                        </div>
                        <div class="col-5">
                            <mat-select style="width: 100%;" class="form-control" [(ngModel)]="this.data.Follower">
                                <mat-option [value]="0">
                                </mat-option>
                                <mat-option value="{{item.id_nv}}" *ngFor="let item of listUser">
                                    <span style="color: black;">{{ item.hoten }}</span>
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="col-2 row">
                            <div matTooltip="Chọn màu" [ngStyle]="{backgroundColor: color_status}"
                                [matMenuTriggerFor]="colorpicker" class="box-color">
                            </div>
                            <mat-menu #colorpicker>
                                <kt-color-picker2 [selected]="color_status" (ItemSelected)="ColorPickerStatus($event)">
                                </kt-color-picker2>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <textarea rows="3" [(ngModel)]="this.data.description" class="form-control"
                                placeholder="{{ 'landingpagekey.mota' | translate }}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>