<div style="margin:2rem">
  <!--begin::Form-->
  <form class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate" (ngSubmit)="submit()"
    id="kt_login_forgot_form" [ngStyle]="{
     display: errorState === errorStates.NoError ? 'none' : 'block'
   }">
    <!--begin::Title-->
    <div class="pb-5 pt-lg-0 pt-5">
      <h3 style="font-size: 2rem; font-weight:bold">
        Cảm ơn bạn đã cho chúng tôi biết
      </h3>
      <p class="text-muted" style="font-size: 1.35rem;">
        <span>Chúng tôi ghi nhận rằng bạn đã không yêu cài đặt lại mật khẩu. Bạn có thể đăng nhập vào tài khoản bằng mật
          khẩu hiện tại và không phải làm gì nữa.</span>
      </p>
    </div>
    <!--end::Title-->

    <!--begin::Form group-->
    <div class="form-group code" style="text-align: end;cursor: pointer;">
    </div>
    <!--end::Form group-->
    <!--begin::Form group-->
    <div class="form-group pb-lg-0">

      <button type="submit" id="kt_login_forgot_submit" class="btn btn-primary font-weight-bolder font-size-h6"
        style="float: right; margin-bottom:10px">
        Đóng
      </button>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
    <div></div>
  </form>
  <!--end::Form-->
</div>