 <div class="row container">
    <div class="px-6 py-8 rounded-xl bg-quahan" style="padding-top: 0 !important;">
        <div class="font-weight-bold mt-2 text-color w-100">
            <span class="css-chu fnt-cl-dtqh">{{
                "jeework.nhiemvuquahan" | translate
                }}</span>
        </div>
        <div class="row w-100 h-50">
            <div class="col-md-6">
                <span class="css-so fnt-cl-dtqh">{{this.dt_quahan}}</span>
            </div>
            <div class="col-md-6 css-icon" >
                <img src="" alt="" class="nhacnho_dt_qh" />
            </div>
        </div>
    </div>
    <div class="px-6 py-8 rounded-xl bg-toihan" style="padding-top: 0 !important;">
        <div class="font-weight-bold mt-2 text-color w-100">
            <span class="css-chu fnt-cl-dtth">{{
                "jeework.nhiemvutoihan" | translate
                }}</span>
        </div>
        <div class="row w-100 h-50">
            <div class="col-md-6">
                <span class="css-so fnt-cl-dtth">{{this.dt_toihan}}</span>
            </div>
            <div class="col-md-6 css-icon" >
                <img src="" alt="" class="nhacnho_dt_th" />
            </div>
        </div>
    </div>
    <div class="px-6 py-8 rounded-xl bg-saptoihan" style="padding-top: 0 !important;">
        <div class="font-weight-bold mt-2 text-color w-100">
            <span class="css-chu fnt-cl-dtsth">{{
                "jeework.saptoihan" | translate
                }}</span>
        </div>
        <div class="row w-100 h-50">
            <div class="col-md-6">
                <span class="css-so fnt-cl-dtsth">{{this.dt_saptoihan}}</span>
            </div>
            <div class="col-md-6 css-icon" >
                <img src="" alt="" class="nhacnho_dt_sth" />
            </div>
        </div>
    </div>
    <div class="px-6 py-8 rounded-xl bg-chuatoihan" style="padding-top: 0 !important;">
        <div class="font-weight-bold mt-2 text-color w-100">
            <span class="css-chu fnt-cl-dtcth">{{
                "jeework.contronghan" | translate
                }}</span>
        </div>
        <div class="row w-100 h-50">
            <div class="col-md-6">
                <span class="css-so fnt-cl-dtcth">{{this.dt_conhan}}</span>
            </div>
            <div class="col-md-6 css-icon" >
                <img src="" alt="" class="nhacnho_dt_cth" />
            </div>
        </div>
    </div>
</div>