<div class="panel-left-v2"  style="height: 5%; display: block;height:40px;">
        <a class="title-left" >Thiết lập {{DanhMucChungService.ts_congviec}}</a>
        <!-- <mat-icon style="float:right; margin-top: 10px;margin-right: 10px;">settings</mat-icon> -->
        <!-- <i style="float:right; margin-top: 10px;margin-right: 10px;font-size: large;" class="flaticon-interface-6 "></i> -->
        <div style="float:right; margin-top: 10px;margin-right: 10px;" [routerLink]="['./setting']">
           <img src="" alt="" class="size-icon-20 default" >
        </div> 
        <!-- <img style="float:right; margin-top: 10px;margin-right: 10px;" src="../../../../../assets/icon/setting1.png"  /> -->
        <!-- <img style="float:right; margin-top: 10px;margin-right: 10px;" src="../../../../../assets/icon/setting1.png"  /> -->
    </div>
