<style>
	.header-log {
		font-size: 14px;
		color: rgb(226, 3, 14);
		font-weight: bold;
	}

	.line-1 {
		border-top: 1px solid #f5f5f5;
	}
</style>
<div class="kt-portlet description" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h5 class="kt-portlet__head-title headerdescription">{{getTitle()}}</h5>
		</div>
		<div style="padding-top:10px">
			<button type="button" class="mat-raised-button" (click)="close()" [disabled]="disabledBtn"
						cdkFocusInitial matTooltip="{{ 'GeneralKey.trolai' | translate }}">
						<span translate="GeneralKey.trolai"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn"
							class="spinner-button-pad"></div>
					</button>
		</div>
	</div>
	<form class="kt-form">
		<div style="overflow-y: auto;
		overflow-x: hidden;max-height: 80vh;">
			<div class="tao-status">
				<div class="form-group">
					<div class="row">
						<div class="col-2 row align-items-center" style="width:auto">
							<span class="header-log">{{ 'GeneralKey.ngaycapnhat' |
								translate }}</span>
						</div>
						<div class="col-2 row align-items-center" style="width:auto">
							<span class="header-log">{{ 'GeneralKey.nguoicapnhat' |
								translate }}</span>
						</div>
						<div class="col-8 row align-items-center" style="width:auto">
							<span class="header-log">{{ 'GeneralKey.mota' | translate
								}}</span>
						</div>
						<div class="col-1">
						</div>
					</div>
				</div>
				<ng-container *ngFor="let active of item">
					<div class="form-group">
						<div class="row line-1" style="flex-wrap: nowrap;">
							<div class="col-2 row align-items-center">
								<span class="datedescription">{{active.CreatedDate | timezone
									}}</span>
							</div>
							<div class="col-1 row align-items-center">
								<ng-container>
									<ngx-avatar size="25" matTooltip="{{active.createdby.hoten}}"
										src="{{active.createdby.image}}" *ngIf="active.createdby.image;else bindText">
									</ngx-avatar>
								</ng-container>
								<ng-template #bindText>
									<ngx-avatar textSizeRatio="2.5" matTooltip="{{active.createdby.hoten}}" size="25"
										[name]="this._service.getNameUser(active.createdby.hoten)"
										bgColor="{{this._service.getColorNameUser(active.createdby.hoten)}}">
									</ngx-avatar>
								</ng-template>
							</div>
							<div class="col-7 row align-items-center overflow-auto" style="word-break: break-all;margin-left: 25px;">
								<span style="font-size: 12px; width:auto"[innerHTML]="active.newvalue" ></span>
								<!-- <span style="font-size: 13px;padding-left: 30px;" [innerHtml]="active.LogContent"></span> -->
								<span *ngIf="active.show"
									style="font-size: 12px;text-decoration: line-through;width:auto" [innerHtml]="active.oldvalue" ></span>&nbsp;
							</div>
							<div class="col-2 row align-items-center">
								<button mat-icon-button *ngIf="active.oldvalue !== ''"
									(click)="active.show=!active.show">
									<i *ngIf="!active.show" matTooltip="Xem lịch sử trước đó"
										class="fa fa-angle-double-down" style="font-size: 16px"></i>
									<i *ngIf="active.show" matTooltip="Thu gọn" class="fa fa-angle-double-up"
										style="font-size: 16px"></i>
								</button>&nbsp;
								<button mat-icon-button (click)="ShowDetail(active)">
									<i class="fas fa-history pd-0" matTooltip="Cập nhật về phiên bản này"
										style="font-size: 16px; color: rgb(216, 100, 23);"></i>
								</button>
							</div>

						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</form>
</div>
