.header-title {
    height: 87px;
    border: 1px solid #EDF0F1;
    border-radius: 10px;
    margin: 20px;

    .title-header {
        font-size: 20px;
        font-weight: bold;
    }

    .description-header {
        font-size: 12px;
    }
}