<style>
	.m-list-search__form-wrapper {
		position: relative;
		padding-left: 5px;
		border: 1px solid #ebedf2;
		border-radius: 10px;
	}

	.m-list-search__form-icon-show {
		position: absolute;
		right: calc(0% + 5px);
		background-color: white;
		height: 30px;
	}

	.area-search {
		display: inline-block;
		width: calc(100% - 5px);
	}

	.area-search>span:last-child {
		cursor: pointer;
	}

	.m-form-filter-container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
		overflow: auto;
	}

	.m-form-filter {
		height: auto;
	}

	.m-form-filter form {
		padding: 24px 0;
	}

	:host>>>.row {
		display: flex;
		margin-right: 0;
		margin-left: 0;
	}
</style>
<div class="m-list-search__form">
	<div class="m-form-filter">
		<mat-tab-group>
			<mat-tab *ngFor="let tab of listData; let index = index">
				<ng-template mat-tab-label>
					<span [innerHtml]="tab.GiaiDoanTiepTheo"></span>
				</ng-template>
				<div class="col-md-12" style="font-size: 11pt; height: 58px;" *ngIf="tab.NodeType != 7">
					<span translate="dynamicform.cachgiaoviec"></span>
					&nbsp;
					<b>{{tab.CachGiaoViec}}</b>
				</div>
				<div class="col-md-6" style="font-size: 11pt; height: 58px;" *ngIf="tab.NodeType != 7">
					<span translate="dynamicform.tgyeucau"></span>
					&nbsp;
					<b>{{tab.ThoiGian}}</b>
				</div>
				<div class="col-md-6" style="font-size: 11pt; height: 58px;" *ngIf="tab.NodeType != 7">
					<span translate="dynamicform.hanchotdukien"></span>
					&nbsp;
					<b>{{tab.HanChot | date:'HH:mm dd/MM/yyyy'}}</b>
				</div>
				<div class="col-md-12" *ngIf="tab.IsEdit && tab.NodeType != 7">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select (selectionChange)="nguoiThucHienChange($event.value, tab)"
							[(value)]="tab.IsEdit ? tab.IDnguoiThucHien : tab.IDnguoiThucHien"
							placeholder="{{ 'dynamicform.nguoithuchien' | translate }}">
							<mat-option value="{{list.ID}}" *ngFor="let list of tab.NguoiThucHien;">
								{{list.Title}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-md-12" *ngIf="!tab.IsEdit && tab.NodeType != 7" style="font-size: 11pt; height: 58px;">
					<span translate="dynamicform.nguoithuchien"></span>
					&nbsp;
					<b>{{tab.NguoiThucHienList}}</b>
				</div>
				<div class="col-md-12">
					<form class="m-form" [formGroup]="formControls">
						<div class="row" *ngFor="let item of tab.dt_fieldnode; let i=index">
							<div class="col-md-12" *ngIf="item.ControlID==0">
								<mat-form-field class="mat-form-field-fluid ">
									<input matInput formControlName="{{item.RowID}}" placeholder="{{ item.Title}}"
										[required]="item.Required" [ngClass]="{'input-batbuoc': item.Required}" />
								</mat-form-field>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==1">
								<mat-form-field class="mat-form-field-fluid ">
									<input matInput formControlName="{{item.RowID}}" placeholder="{{ item.Title}}"
										[required]="item.Required" [ngClass]="{'input-batbuoc': item.Required}" />
								</mat-form-field>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==2">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput type="number" formControlName="{{item.RowID}}"
										[required]="item.Required" placeholder="{{ item.Title}}"
										[ngClass]="{'input-batbuoc': item.Required}" />
								</mat-form-field>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput [matDatepicker]="dpDate" formControlName="{{item.RowID}}"
										[required]="item.Required" placeholder="{{ item.Title}}"
										[ngClass]="{'input-batbuoc': item.Required}">
									<mat-datepicker-toggle matSuffix [for]="dpDate"></mat-datepicker-toggle>
									<mat-datepicker #dpDate></mat-datepicker>
								</mat-form-field>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==4">
								<mat-form-field class="mat-form-field-fluid">
									<textarea matInput formControlName="{{item.RowID}}" [required]="item.Required"
										[ngClass]="{'input-batbuoc': item.Required}" placeholder="{{ item.Title}}"></textarea>
								</mat-form-field>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==5">
								<mat-form-field class="mat-form-field-fluid">
									<mat-select formControlName="{{item.RowID}}" [required]="item.Required"
										placeholder="{{ item.Title}}">
										<mat-option value="{{list.RowID}}" *ngFor="let list of item.init;">
											{{list.Title}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==6">
								<mat-form-field class="mat-form-field-fluid">
									<mat-select formControlName="{{item.RowID}}" [required]="item.Required"
										placeholder="{{ item.Title}}" multiple>
										<mat-option value="{{list.RowID}}" *ngFor="let list of item.init;">
											{{list.Title}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==7">
								<div class="row">
									<span
										style="font-family: Arial, Helvetica, sans-serif;">{{ item.Title}}</span>&nbsp;
									<mat-slide-toggle formControlName="{{item.RowID}}">
									</mat-slide-toggle>
								</div>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==8">
								<mat-checkbox formControlName="{{item.RowID}}">
									<span>{{item.Title}}</span>
								</mat-checkbox>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==9">
								<mat-radio-group formControlName="{{item.RowID}}" class="example-radio-group">
									<div class="row" style="width: 100%;">
										<div class="col-md-3" style="padding-left: 0;">
											<span
												style="font-family: Arial, Helvetica, sans-serif;">{{ item.Title}}</span>
										</div>
										<div class="col-md-3" *ngFor="let list of item.init;">
											<mat-radio-button class="example-radio-button" value="{{list.RowID}}">
												{{list.Title}}
											</mat-radio-button>
										</div>
									</div>
								</mat-radio-group>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==10">
								<dl-image-control [data]="item" formControlName="{{item.RowID}}" type="image/*"
									[required]="item.Required" nameButton="Chọn ảnh" [multiple]="false">
								</dl-image-control>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==11">
								<m-dropdown-tree [data]="item.init" [DropdownTitle]="item.Title"
									[required]="item.Required" (SelectedItemTree)="GetValueNode($event,item)"
									formControlName="{{item.RowID}}">
								</m-dropdown-tree>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==12">
								<dl-image-control [data]="item" formControlName="{{item.RowID}}" type="image/*"
									[required]="item.Required" nameButton="Chọn ảnh" [multiple]="true">
								</dl-image-control>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==13">
								<dl-image-control [data]="item" formControlName="{{item.RowID}}"
									[required]="item.Required" nameButton="Chọn tệp" [multiple]="false">
								</dl-image-control>
							</div>
							<div class="col-md-12" *ngIf="item.ControlID==14">
								<dl-image-control [data]="item" formControlName="{{item.RowID}}"
									[required]="item.Required" nameButton="Chọn tệp" [multiple]="true">
								</dl-image-control>
							</div>
						</div>

					</form>
				</div>

			</mat-tab>
		</mat-tab-group>
	</div>
	<hr>
	<div class="col-md-12" style="text-align: center;">
		<button mat-raised-button class="ja_btn-addcontinue" type="button" (click)="submit()" [disabled]="disabledBtn">
			<span translate="landingpagekey.luu"></span>
		</button>
	</div>
</div>