<style>
	/* ::ng-deep>>>.m-portlet.m-portlet--full-height {
		min-height: calc(100vh - 100px);
	} */

	.m-list-search__form-wrapper {
		position: relative;
		padding-left: 5px;
		border: 1px solid #ebedf2;
		border-radius: 10px;
	}

	.m-list-search__form-icon-show {
		position: absolute;
		right: calc(0% + 5px);
		background-color: white;
		height: 30px;
	}

	.area-search {
		display: inline-block;
		width: calc(100% - 5px);
	}

	.area-search>span:last-child {
		cursor: pointer;
	}

	.m-form-filter-container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
		overflow: auto;
	}

	.m-form-filter {
		height: auto;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	}

	.m-form-filter form {
		padding: 24px 0;
	}

	:host>>>.row {
		display: flex;
		margin-right: 0;
		margin-left: 0;
	}
</style>
<div class="m-list-search__form">
	<form class="m-form" [formGroup]="formControls">
		<div class="col-md-12 m--margin-bottom-10-mobile">
			<mat-form-field class="mat-form-field-fluid ">
				<input matInput formControlName="tenCongViec" class="input-batbuoc"
					placeholder="{{'workprocess.tennhiemvu'  | translate}}" [required]="true" />
			</mat-form-field>
		</div>

		<div class="col-md-12 m--margin-bottom-10-mobile">
			<mat-form-field class="mat-form-field-fluid ">
				<textarea matInput placeholder="{{ 'landingpagekey.mota' | translate }}"
					formControlName="noiDung"></textarea>
			</mat-form-field>
		</div>

		<div class="col-md-12 m--margin-bottom-10-mobile" style="display: flex;">
			<div class="col-md-1 m--margin-bottom-10-mobile" style="padding: 0; align-self: center;">
				<span translate="landingpagekey.tailieu"></span>
			</div>
			<div class="col-md-11 m--margin-bottom-10-mobile">
				<dl-image-control [data]="itemFile" formControlName="file" nameButton="Chọn tệp" [multiple]="true">
				</dl-image-control>
			</div>
		</div>
		<br />
		<div class="col-md-12 m--margin-bottom-10-mobile" style="display: flex;">
			<div class="col-md-2 m--margin-bottom-10-mobile" style="padding: 0;align-self: center;">
				<span>{{ 'workprocess.nguoiquanly' | translate }}</span>
			</div>
			<div class="col-md-10 m--margin-bottom-10-mobile">
				<div class="row">
					<div class="users">
						<div class="user url" *ngFor="let img of ListNguoiQuanLy,let vi = index"
							style="justify-content: flex-end;">
							<ngx-avatar [size]="26" src="{{img.AvartarImgURL}}" *ngIf="img.AvartarImgURL; else bindText"
								[matMenuTriggerFor]="menu">
							</ngx-avatar>
							<ng-template #bindText>
								<ngx-avatar textSizeRatio="2.5" [size]="26" [name]="img.FirstName.slice(0, 1)"
									bgColor="{{ dynamicFormService.getColorNameUser(img.FirstName.slice(0, 1)) }}"
									[matMenuTriggerFor]="menu">
								</ngx-avatar>
							</ng-template>
							<mat-menu #menu="matMenu">
								<div class="row">
									<div class="col-md-3">
										<ngx-avatar [size]="50" src="{{img.AvartarImgURL}}"
											*ngIf="img.AvartarImgURL; else bindText">
										</ngx-avatar>
										<ng-template #bindText>
											<ngx-avatar textSizeRatio="2.5" [size]="50"
												[name]="img.FirstName.slice(0, 1)"
												bgColor="{{ dynamicFormService.getColorNameUser(img.Ten.slice(0, 1)) }}">
											</ngx-avatar>
										</ng-template>
									</div>
									<div class="col-md-9 font-chu">
										<div class="col-md-12" style="font-weight: bold;">
											<span>{{img.ObjectName}}</span>
										</div>
										<div class="col-md-12"><span>{{img.Jobtitle}}</span></div>
									</div>
								</div>
							</mat-menu>
						</div>
					</div>
					<div class="icon-add" (click)="AddNguoiQuanLy()">
						<i class="fas fa-user-plus pd-0" style="font-size: 13px;"></i>
					</div>
				</div>
			</div>
		</div>
		<br />
		<div class="col-md-12 m--margin-bottom-10-mobile" style="display: flex;">
			<div class="col-md-2 m--margin-bottom-10-mobile" style="padding: 0;align-self: center;">
				<span>{{ 'workprocess.nguoitheodoi' | translate }}</span>
			</div>
			<div class="col-md-10 m--margin-bottom-10-mobile">
				<div class="row">
					<div class="users">
						<div class="user url" *ngFor="let img of ListNguoiTheoDoi,let vi = index"
							style="justify-content: flex-end;">
							<ngx-avatar [size]="26" src="{{img.AvartarImgURL}}" *ngIf="img.AvartarImgURL; else bindText"
								[matMenuTriggerFor]="menu">
							</ngx-avatar>
							<ng-template #bindText>
								<ngx-avatar textSizeRatio="2.5" [size]="26" [name]="img.FirstName.slice(0, 1)"
									bgColor="{{ dynamicFormService.getColorNameUser(img.FirstName.slice(0, 1)) }}"
									[matMenuTriggerFor]="menu">
								</ngx-avatar>
							</ng-template>
							<mat-menu #menu="matMenu">
								<div class="row">
									<div class="col-md-3">
										<ngx-avatar [size]="50" src="{{img.AvartarImgURL}}"
											*ngIf="img.AvartarImgURL; else bindText">
										</ngx-avatar>
										<ng-template #bindText>
											<ngx-avatar textSizeRatio="2.5" [size]="50"
												[name]="img.FirstName.slice(0, 1)"
												bgColor="{{ dynamicFormService.getColorNameUser(img.Ten.slice(0, 1)) }}">
											</ngx-avatar>
										</ng-template>
									</div>
									<div class="col-md-9 font-chu">
										<div class="col-md-12" style="font-weight: bold;">
											<span>{{img.ObjectName}}</span>
										</div>
										<div class="col-md-12"><span>{{img.Jobtitle}}</span></div>
									</div>
								</div>
							</mat-menu>
						</div>
					</div>
					<div class="icon-add" (click)="AddNguoiTheoDoi()">
						<i class="fas fa-user-plus pd-0" style="font-size: 13px;"></i>
					</div>
				</div>
			</div>
		</div>
		<br />
		<div class="col-md-12 m--margin-bottom-10-mobile">
			<span translate="workprocess.giaidoandautien"></span>
		</div>
		<br />
		<div class="col-md-12 m--margin-bottom-10-mobile" *ngFor="let tab of listData; let index = index">
			<div class="row">
				<div class="col-md-3 m--margin-bottom-10-mobile" style="align-self: center;">
					<i class="fas fa-circle" style="font-size: 10px;"></i>&nbsp;<span
						[innerHtml]="tab.GiaiDoanTiepTheo"></span>
				</div>
				<div class="col-md-8 m--margin-bottom-10-mobile">
					<div class="col-md-12" *ngIf="tab.IsEdit">
						<mat-form-field class="mat-form-field-fluid">
							<mat-select [disabled]="!tab.IsEdit"
								(selectionChange)="nguoiThucHienChange($event.value, tab)"
								[(value)]="tab.IsEdit ? tab.IDnguoiThucHien : tab.NguoiThucHien.length > 0 ? ''+tab.NguoiThucHien[0].ID : tab.IDnguoiThucHien"
								placeholder="{{ 'dynamicform.nguoithuchien' | translate }}">
								<mat-option value="{{list.ID}}" *ngFor="let list of tab.NguoiThucHien;">
									{{list.Title}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-md-12" *ngIf="!tab.IsEdit" style="font-size: 11pt;">
						<span translate="dynamicform.nguoithuchien"></span>
						&nbsp;
						<b>{{tab.NguoiThucHienList}}</b>
					</div>
				</div>
			</div>
		</div>
	</form>
	<hr>
	<div class="col-md-12" style="text-align: right;">
		<button mat-raised-button class="ja_btn-addcontinue" type="button" (click)="submit()" [disabled]="disabledBtn">
			<span translate="landingpagekey.luu"></span>
		</button>
	</div>
</div>