.row {
  margin: 0 !important;
}

.form-input-title {
  flex-grow: 1;
  border: none;
  padding-left: 5px;
  border-radius: 0.42rem;
  outline: none;
  border: 1px solid #E4E6EF;
  height: 40px;
  margin-top: 10px;
  background: none;
}

.attach-item {
  padding: 5px;
  display: flex;
  background: none;
  border: 0;

  &:hover {
    background: none;
    border-left: 3px solid #dbdbdb;
  }

  .attach-item-icon {
    min-width: 30px;
  }

  .attach-item-name {
    flex-grow: 1;
    text-align: left;
    text-overflow: ellipsis;
    max-width: 180px;
    white-space: normal;
    text-align: left;

    p {
      font-weight: bold;
    }

    span {
      display: none;
    }
  }

  .attach-item-del {
    text-align: right;
    padding: 0 10px;

    a {
      margin-left: 10px;
    }
  }

  &.show-action .attach-item-name {
    span {
      display: block;
    }
  }
}

.btn.btn-list {
  color: #62a4ff;
  background-color: #f3f6f9;
}

::ng-deep .light-mode mat-dialog-container {
  background-color: #fff !important;
}

.cu-task-row-assignee {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  padding: 0 5px;
  width: auto;
}

.url {
  cursor: pointer;
}

.mat-menu-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
  position: relative;
}

.view-mat-menu-df {
  min-height: 100px;
  width: 300px;
  max-height: 400px;
}

.cu2-space-row__item {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 12px 0 12px;
  margin-bottom: 1px;
  position: relative;
  cursor: pointer;
}

.cu-project-avatar_20 {
  width: 20px;
  height: 20px;
}

.cu2-space-row__item .cu-project-avatar {
  margin-right: 9px;
}

.cu-project-avatar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 26px;
  height: 26px;
  position: relative;
}

.cu-project-avatar .cu-project-avatar__item {
  border-radius: 25%;
}

.cu-project-avatar__text_bg {
  border-radius: 0;
  background: currentColor;
}

.cu-project-avatar__text {
  font-weight: 500;
  font-size: 11px;
  line-height: 25px;
  width: 100%;
  height: 100%;
  border-radius: 25%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.div.cu-avatar {
  padding: 0;
}

.cu2-space-row__item-name {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  position: relative;
  flex-grow: 1;
  color: #292d34;
}

.cu2-space-row__item-multi {
  position: relative;
  margin-left: 5px;
}

.cu-template-center-sidebar__type {
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
  border-radius: 4px;
}

.cu-template-center-sidebar__type .cu-template-center-sidebar__type-checkbox {
  transition: border 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}

.cu-template-center-sidebar__type-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #e9ebf0;
  margin-right: 12px;
}

.cu-template-center-sidebar__type-checkbox .icon {
  display: none;
}

.cu2-space-row__item_1 {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 12px 0 24px;
  margin-bottom: 1px;
  position: relative;
  cursor: pointer
}

.cu2-space-row__item .cu2-space-row__item_1 {
  display: flex;
  align-items: center;
  height: 32px;
  margin-bottom: 1px;
  position: relative;
  cursor: pointer;
}

.cu2-space-row__item_2 {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 12px 0 36px;
  margin-bottom: 1px;
  position: relative;
  cursor: pointer
}

.cu-project-avatar_20 {
  width: 20px;
  height: 20px;
}

.cu-project-avatar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 26px;
  height: 26px;
  position: relative;
}

.cu2-space-row__item:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 12px);
  height: 100%;
  top: 0;
  left: 6px;
  border-radius: 4px;
  pointer-events: none;
  background: rgba(233, 235, 240, .5)
}

.dark-mode .cu2-space-row__item:hover:before {
  background: rgba(30, 39, 46, .5)
}

.cu2-space-row__item .cu-project-avatar {
  margin-right: 9px
}

.cu2-space-row__item_disabled {
  opacity: .5;
  cursor: not-allowed
}

.cu2-space-row__item-caret {
  transition: transform .2s cubic-bezier(.785, .135, .15, .86) 0s;
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  left: 9px;
  fill: #b9bec7;
  z-index: 10;
  transform: rotate(-90deg)
}

.dark-theme .cu2-sidebar__body_v5 .cu2-space-row__item-caret {
  fill: #828588
}

.cu2-space-row__item-caret:hover {
  fill: #7b68ee
}

@supports (--theme-main-color:#7b68ee) {
  .cu2-space-row__item-caret:hover {
    fill: var(--theme-main-color)
  }
}

.cu2-space-row__item-caret_opened {
  transform: rotate(0deg);
  fill: #7c828d
}

.cu2-space-row__item-name {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Gotham Pro, Proxima Nova, arial, serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  position: relative;
  flex-grow: 1;
  color: #292d34
}

@supports (--global-font-support:"Gotham Pro", "Proxima Nova", arial, serif) {
  .cu2-space-row__item-name {
    font-family: var(--global-font-support)
  }
}

.dark-theme .cu2-space-row__item-name {
  color: #d5d6d7
}

.cu2-space-row__item_selected .cu2-space-row__item-name {
  font-weight: 500
}

.cu2-space-row__item-lock {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
  fill: #bcc0c7
}

.dark-theme .cu2-space-row__item-lock {
  fill: #828588
}

.cu2-space-row__item-multi {
  position: relative;
  margin-left: 5px
}

.cu2-space-row__item-multi .cu-checkbox__label {
  padding-left: 16px
}

.cu2-space-row__item-multi-dash {
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  background: #b9bec7
}

.cu2-space-row__add-link {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  padding: 7px 12px 6px 52px;
  cursor: pointer;
  color: #7c828d
}

.dark-theme .cu2-space-row__add-link {
  color: #abaeb0
}

.cu2-space-row__add-link:hover {
  color: #7b68ee
}

@supports (--theme-main-color:#7b68ee) {
  .cu2-space-row__add-link:hover {
    color: var(--theme-main-color)
  }
}

.cu-project-avatar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 26px;
  height: 26px;
  position: relative
}

.cu-project-avatar .cu-project-avatar__item {
  border-radius: 25%
}

.cu-project-avatar_round,
.cu-project-avatar_round .cu-project-avatar__item {
  border-radius: 50%
}

.cu-project-avatar_bordered .cu-project-avatar__item {
  border: 2px solid #fff
}

.dark-theme .cu-project-avatar_bordered .cu-project-avatar__item {
  border: 2px solid #2b343b
}

.cu-project-avatar_selected {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #7b68ee
}

@supports (--theme-main-color:#7b68ee) {
  .cu-project-avatar_selected {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--theme-main-color)
  }
}

.dark-theme .cu-project-avatar_selected {
  box-shadow: 0 0 0 1px #384047, 0 0 0 3px #7b68ee
}

@supports (--theme-main-color:#7b68ee) {
  .dark-theme .cu-project-avatar_selected {
    box-shadow: 0 0 0 1px #384047, 0 0 0 3px var(--theme-main-color)
  }
}

.cu-project-avatar_140,
.cu-project-avatar_lg {
  width: 140px;
  height: 140px
}

.cu-project-avatar_50 {
  width: 50px;
  height: 50px
}

.cu-project-avatar_40 {
  width: 40px;
  height: 40px
}

.cu-project-avatar_38 {
  width: 38px;
  height: 38px
}

.cu-project-avatar_34 {
  width: 34px;
  height: 34px
}

.cu-project-avatar_33 {
  width: 33px;
  height: 33px
}

.cu-project-avatar_32 {
  width: 32px;
  height: 32px
}

.cu-project-avatar_30,
.cu-project-avatar_l {
  width: 30px;
  height: 30px
}

.cu-project-avatar_28 {
  width: 28px;
  height: 28px
}

.cu-project-avatar_24,
.cu-project-avatar_m {
  width: 24px;
  height: 24px
}

.cu-project-avatar_20 {
  width: 20px;
  height: 20px
}

.cu-project-avatar_17 {
  width: 17px;
  height: 17px
}

.cu-project-avatar__icon {
  background: #7b68ee;
  border-radius: 25%;
  width: 100%;
  height: 100%
}

@supports (--theme-main-color:#7b68ee) {
  .cu-project-avatar__icon {
    background: var(--theme-main-color)
  }
}

.cu-project-avatar__icon .cu-project-avatar__font-icon {
  color: #fff
}

.cu-project-avatar_50 .cu-project-avatar__icon .cu-project-avatar__font-icon {
  font-size: 24px
}

.cu-project-avatar_38 .cu-project-avatar__icon .cu-project-avatar__font-icon,
.cu-project-avatar_40 .cu-project-avatar__icon .cu-project-avatar__font-icon {
  font-size: 22px
}

.cu-project-avatar_34 .cu-project-avatar__icon .cu-project-avatar__font-icon {
  font-size: 20px
}

.cu-project-avatar_33 .cu-project-avatar__icon .cu-project-avatar__font-icon {
  font-size: 19px
}

.cu-project-avatar_32 .cu-project-avatar__icon .cu-project-avatar__font-icon {
  font-size: 18px
}

.cu-project-avatar_28 .cu-project-avatar__icon .cu-project-avatar__font-icon,
.cu-project-avatar_30 .cu-project-avatar__icon .cu-project-avatar__font-icon,
.cu-project-avatar_l .cu-project-avatar__icon .cu-project-avatar__font-icon {
  font-size: 17px
}

.cu-project-avatar_24 .cu-project-avatar__icon .cu-project-avatar__font-icon {
  font-size: 14px
}

.cu-project-avatar_20 .cu-project-avatar__icon .cu-project-avatar__font-icon {
  font-size: 11px
}

.cu-project-avatar_17 .cu-project-avatar__icon .cu-project-avatar__font-icon {
  font-size: 8px
}

.cu-project-avatar__icon .cu-project-avatar__font-icon *,
.dark-theme .cu-project-avatar__icon .cu-project-avatar__font-icon * {
  color: currentColor
}

.cu-project-avatar__icon_light-bg {
  color: #7c828d;
  background: #e9ebf0
}

.dark-theme .cu-project-avatar__icon_light-bg {
  background: rgba(30, 39, 46, .5)
}

.cu2-project-list-bar-item__container_selected .cu-project-avatar__icon_light-bg {
  background: currentColor
}

.cu2-project-list-bar-item__container_selected .cu-project-avatar__icon_light-bg .cu-project-avatar__font-icon {
  color: #fff
}

.dark-theme .cu2-project-list-bar-item__container_selected .cu-project-avatar__icon_light-bg .cu-project-avatar__font-icon {
  color: #d5d6d7
}

.cu-project-avatar__icon_light-bg .cu-project-avatar__font-icon {
  color: currentColor
}

.cu2-project-list-bar-item__container_selected .cu-project-avatar__icon_no-project-color {
  background: #7b68ee
}

@supports (--theme-main-color:#7b68ee) {
  .cu2-project-list-bar-item__container_selected .cu-project-avatar__icon_no-project-color {
    background: var(--theme-main-color)
  }
}

.cu-project-avatar__icon_no-bg {
  color: #7c828d;
  background: transparent
}

.cu2-project-list-bar-item__container_selected .cu-project-avatar__icon_no-bg,
.dark-theme .cu2-project-list-bar-item__container_selected .cu-project-avatar__icon_no-bg,
.dark-theme .cu-project-avatar__icon_no-bg {
  background: transparent
}

.cu-project-avatar__icon_no-bg .cu-project-avatar__font-icon {
  color: currentColor
}

.cu2-sidebar__body_v5 .cu2-project-list-bar-item__container_selected:not(.cu2-project-list-bar-item__container_child-selected) .cu-project-avatar__icon_no-bg .cu-project-avatar__font-icon,
.dark-theme .cu2-sidebar__body_v5 .cu2-project-list-bar-item__container_selected:not(.cu2-project-list-bar-item__container_child-selected) .cu-project-avatar__icon_no-bg .cu-project-avatar__font-icon {
  color: #fff
}

.cu-project-avatar__icon_bg {
  border-radius: 0;
  background: currentColor
}

.dark-theme .cu-project-avatar__icon_bg {
  background: currentColor
}

.cu-project-avatar__icon_bg.cu-project-avatar__icon_no-project-color,
.dark-theme .cu-project-avatar__icon_bg.cu-project-avatar__icon_no-project-color {
  background: #7c828d
}

.cu-project-avatar__icon_everything {
  stroke-width: 1.3;
  width: 20px;
  height: 20px;
  padding: 4px;
  background: #e9ebf1;
  stroke: #7c828d
}

.dark-theme .cu-project-avatar__icon_everything {
  background: #1e272e;
  stroke: #ababab
}

.cu-project-avatar__text {
  font-family: Proxima Nova, arial, serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 25px;
  background: #7b68ee;
  width: 100%;
  height: 100%;
  border-radius: 25%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: #fff
}

@supports (--global-second-font-support:"Proxima Nova", arial, serif) {
  .cu-project-avatar__text {
    font-family: var(--global-second-font-support)
  }
}

@supports (--theme-main-color:#7b68ee) {
  .cu-project-avatar__text {
    background: var(--theme-main-color)
  }
}

.cu-project-avatar__text_light-bg {
  color: #7c828d;
  background: #e9ebf0
}

.dark-theme .cu-project-avatar__text_light-bg {
  background: rgba(30, 39, 46, .5)
}

.cu2-project-list-bar-item__container_selected .cu-project-avatar__text_light-bg {
  background: currentColor
}

.cu2-project-list-bar-item__container_selected .cu-project-avatar__text_light-bg span {
  color: #fff
}

.dark-theme .cu2-project-list-bar-item__container_selected .cu-project-avatar__text_light-bg span {
  color: #d5d6d7
}

.cu2-project-list-bar-item__container_selected .cu-project-avatar__text_no-project-color {
  background: #7b68ee
}

@supports (--theme-main-color:#7b68ee) {
  .cu2-project-list-bar-item__container_selected .cu-project-avatar__text_no-project-color {
    background: var(--theme-main-color)
  }
}

.cu-project-avatar__text_no-bg {
  color: #7c828d;
  background: transparent
}

.cu2-project-list-bar-item__container_selected .cu-project-avatar__text_no-bg,
.dark-theme .cu2-project-list-bar-item__container_selected .cu-project-avatar__text_no-bg,
.dark-theme .cu-project-avatar__text_no-bg {
  background: transparent
}

.cu-project-avatar__text span {
  color: currentColor;
  display: inline-block;
  font-size: 4.9em;
  transform: scale(.25);
  margin: -1em -.333em
}

.cu2-sidebar__body_v5 .cu2-project-list-bar-item__container_selected:not(.cu2-project-list-bar-item__container_child-selected) .cu-project-avatar__text span,
.dark-theme .cu2-sidebar__body_v5 .cu2-project-list-bar-item__container_selected:not(.cu2-project-list-bar-item__container_child-selected) .cu-project-avatar__text span {
  color: #fff
}

.cu-project-avatar__text_bg {
  border-radius: 0;
  background: currentColor
}

.dark-theme .cu-project-avatar__text_bg {
  background: currentColor
}

.cu-project-avatar__text_bg.cu-project-avatar__text_no-project-color,
.dark-theme .cu-project-avatar__text_bg.cu-project-avatar__text_no-project-color {
  background: #7c828d
}

.cu-project-avatar__text_bg span,
.dark-theme .cu-project-avatar__text_bg span {
  color: #fff
}

.cu-project-avatar_140 .cu-project-avatar__text span,
.cu-project-avatar_lg .cu-project-avatar__text span {
  font-size: 14em
}

.cu-project-avatar_34 .cu-project-avatar__text span,
.cu-project-avatar_38 .cu-project-avatar__text span,
.cu-project-avatar_40 .cu-project-avatar__text span,
.cu-project-avatar_50 .cu-project-avatar__text span {
  font-size: 7em;
  font-weight: 600
}

.cu-project-avatar_32 .cu-project-avatar__text span,
.cu-project-avatar_33 .cu-project-avatar__text span {
  font-size: 6.9em;
  font-weight: 600
}

.cu-project-avatar_28 .cu-project-avatar__text span,
.cu-project-avatar_30 .cu-project-avatar__text span,
.cu-project-avatar_l .cu-project-avatar__text span {
  font-size: 6.2em;
  font-weight: 600
}

.cu-project-avatar_24 .cu-project-avatar__text span,
.cu-project-avatar_m .cu-project-avatar__text span {
  font-size: 4.4em
}

.cu-project-avatar_20 .cu-project-avatar__text span {
  font-size: 4.2em
}

.cu-project-avatar_17 .cu-project-avatar__text span {
  font-size: 3.6em
}

.cu-project-avatar__img {
  width: 100%;
  height: 100%
}

.cu2-sidebar__body_v5 .cu-project-avatar__img {
  border-radius: 6px
}

.cu-project-avatar__hidden {
  border-radius: 25%
}

.cu-project-avatar__user-group {
  position: static
}

.cu-project-avatar__user-group-badge {
  position: absolute;
  bottom: -5px;
  transform: translateX(-50%);
  width: 20px;
  height: 12px;
  padding: 1px;
  border-radius: 6px;
  border: 1px solid #fff;
  background: #e9ebf0;
  fill: #7c828d
}

.dark-theme .cu-project-avatar__user-group-badge {
  border-color: #2b343b;
  background: #384047;
  fill: #7c828d
}

.cu-template-center-use-template__select-location-input-invalid.cu-template-center__option-input {
  border-color: #e4e6ef;
}

.cu-template-center__option-input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 11pt;
  line-height: 1;
  color: #292d34;
  background-color: #fff;
  height: 30px;
  width: 100%;
  padding: 0 12px;
  border: 1px solid #e9ebf0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-shadow: none !important;
  cursor: pointer;
  color:#62A4FF;
}
.cu-template-center-sidebar__type:hover .cu-template-center-sidebar__type-checkbox{
  border: 1px solid #1db954;
}
.cu-template-center-sidebar__type-active > .cu-template-center-sidebar__type-checkbox{
  border-color:#1db954;
  background-color:#1db954;
}
.cu-template-center-sidebar__type-active>.cu-template-center-sidebar__type-checkbox .icon {
  display: flex;
  fill: #fff;
}