<style>
    ::ng-deep .sky-tooltip {
        white-space: pre-line !important;
    }
</style>
<div>
    <div class="avatar pd-0" style="width:auto">
        <ngx-avatar [size]="size" matTooltipClass="sky-tooltip" matTooltip="{{getMoreInformation1()}}" src="{{image}}"
            *ngIf="image;else bindText">
        </ngx-avatar>
        <ng-template #bindText>
            <ngx-avatar textSizeRatio="2.5" matTooltipClass="sky-tooltip" matTooltip="{{getMoreInformation()}}"
                [size]="size" [name]="_WorkGeneralService.getNameUser(name)"
                bgColor="{{_WorkGeneralService.getColorNameUser(name)}}">
            </ngx-avatar>
        </ng-template>
    </div>
    <ng-container *ngIf="showFull">
        <div style="margin-left: 10px;">
            <div class="name" [ngStyle]="{'color': textcolor}">
                <span class="url">{{name}}</span>
            </div>
            <div class="info">
                <span> {{info}} </span>
            </div>
        </div>
    </ng-container>
</div>