.read-noti:hover {
    color: #5488f0;
  }
  
  .time-unread-noti {
    color: #00975c;
  }
  
  .time-read-noti {
    color: #00975c;
  }
  
  .dot {
    height: 12px;
    width: 12px;
    background-color: rgb(10, 170, 10);
    border-radius: 50%;
    display: inline-block;
  }
  
  .width {
    width: 383px;
  }
  
  .example-viewport {
    height: 100vh;
  }
  
  .titile {
    font-size: 20px;
    font-weight: bold;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    opacity: 0;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  }
  .jeechat
  {
    white-space: nowrap;
  }