m-jeehr {

  // Css dùng chung menu nhân sự
  .btn.btn-menu {
    min-height: 38.38px;
  }

  .menu-active {
    background-color: #151521;
    border-color: #151521;
    color: #3699ff !important;
  }

  .header-menu {
    background-color: #1e1e2d !important;
  }

  .h-100 {
    height: 100%;
  }

  .w-100 {
    width: 100%;
  }

  .dropdown-menu {
    background-color: #1e1e2d;

    .dropdown-item {
      color: #f5f6f7;

      &:hover,
      &:focus {
        background: #00dcff26;
        color: #3698f9;
      }
    }
  }

  .mat-select-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin: 0 4px;
  }
}
