<!--begin::Error-->
<h1 class="text-gray-700 mb-10" 
style="color: #5E6278; font: 40px Roboto, 'Helvetica Neue', sans-serif; font-weight: bolder;">
  Chức năng không tồn tại</h1>

<div class="text-gray-400 mb-15" 
style="color: #B5B5C3; font: 17.55px Roboto, 'Helvetica Neue', sans-serif; font-weight: 500; letter-spacing: normal">
  Có vẻ bạn vào sai liên kết chức năng hoặc chức năng bạn thực hiện không còn tồn tại. <br/>
  Bấm vào nút bên dưới để trở về trang chủ của ứng dụng
</div>
<!--end::Error-->