<style>
  input[type="file"] {
    display: none;
  }

  .tooltipImage {
    text-decoration: none;
    position: relative;
  }

  .tooltipImage label {
    display: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: black;
    background: white;
  }

  .tooltipImage label img {
    margin: 0px 8px 8px 0;
    width: 200px;
    height: 200px;
  }

  .tooltipImage:hover label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: auto;
    border: 1px solid black;
    margin-top: 12px;
    margin-left: 32px;
    overflow: hidden;
    padding: 8px;
  }
</style>
<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="dialog-title"><span>Đơn từ</span></h3>
    </div>
    <div class="card-toolbar">

    </div>
  </div>
  <div class="card-body">
    <mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="onLinkClick($event)"
      class="dl-tabs-don-tu-popup">
      <mat-tab label="Nghỉ phép - Công tác">
        <ng-template matTabContent>
          <form [formGroup]="itemFormPhep" class="m-form m-form--group-seperator-dashed">
            <div class="m-form__section m-form__section--first">
              <div class="m-form__group">
                <div class="row">
                  <div class="col-md-6 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <mat-select placeholder="{{ 'phepcanhan.hinhthuc' | translate}}" required
                        (selectionChange)="ChangeHinhThuc($event.value)" id="hinhthucnghiphep"
                        formControlName="hinhThuc">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="bankFilterCtrl" [placeholderLabel]="''"
                            [noEntriesFoundLabel]="''">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option value="{{itemCate.ID_type}}" *ngFor="let itemCate of filteredBanks | async">
                          {{ itemCate.title }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 m--margin-bottom-10-mobile" style="font-size: 13pt; align-self: center;"
                    *ngIf="ShowText">
                    <span translate="phepcanhan.songaysudung"></span>&nbsp;<span
                      style="font-size: 13pt; color: #16A850;">{{SoNgay |
                      number : '1.2-2'}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid ">
                      <input matInput [matDatepicker]="dp1" (dateChange)="getGio('tungay')" class="input-batbuoc"
                        placeholder="{{ 'phepcanhan.ngaybdnghi' | translate}}" formControlName="ngayBatDauNghi"
                        required>
                      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                      <mat-datepicker #dp1></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 m--margin-bottom-10-mobile" *ngIf="showGio">
                    <mat-form-field class="mat-form-field-fluid">
                      <mat-select placeholder="{{ 'phepcanhan.gionghi' | translate}}" required *ngIf="!ShowVienChuc"
                        (selectionChange)="loadNgayNghi()" formControlName="gioNghi">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="bankTuGio" [placeholderLabel]="''"
                            [noEntriesFoundLabel]="''">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option value="{{itemCate.Gio}}" *ngFor="let itemCate of filteredBanksTuGio | async">
                          {{ itemCate.Gio }}
                        </mat-option>
                      </mat-select>
                      <mat-select placeholder="{{ 'phepcanhan.buoi1' | translate}}" required *ngIf="ShowVienChuc"
                        (selectionChange)="loadNgayNghi()" formControlName="buoi1">
                        <mat-option value="AM">
                          <span *ngIf="ShowVienChuc" translate="phepcanhan.sang"></span>
                        </mat-option>
                        <mat-option value="PM">
                          <span *ngIf="ShowVienChuc" translate="phepcanhan.chieu"></span>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput [matDatepicker]="dp2" (dateChange)="getGio('denngay')" class="input-batbuoc"
                        placeholder="{{ 'phepcanhan.denngay' | translate}}" formControlName="denNgay" required>
                      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                      <mat-datepicker #dp2></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 m--margin-bottom-10-mobile" *ngIf="showGio">
                    <mat-form-field class="mat-form-field-fluid">
                      <mat-select placeholder="{{ 'phepcanhan.dengio' | translate}}" required *ngIf="!ShowVienChuc"
                        (selectionChange)="loadNgayNghi()" formControlName="denGio">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="bankDenGio" [placeholderLabel]="''"
                            [noEntriesFoundLabel]="''">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option value="{{itemCate.Gio}}" *ngFor="let itemCate of filteredBanksDenGio | async">
                          {{ itemCate.Gio }}
                        </mat-option>
                      </mat-select>
                      <mat-select placeholder="{{ 'phepcanhan.buoi2' | translate}}" required *ngIf="ShowVienChuc"
                        (selectionChange)="loadNgayNghi()" formControlName="buoi2">
                        <mat-option value="AM">
                          <span *ngIf="ShowVienChuc" translate="phepcanhan.sang"></span>
                        </mat-option>
                        <mat-option value="PM">
                          <span *ngIf="ShowVienChuc" translate="phepcanhan.chieu"></span>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput type="number" placeholder="{{ 'phepcanhan.songay' | translate }}"
                        autocomplete="off" formControlName="soNgay" readonly />
                    </mat-form-field>
                  </div>
                  <div class="col-md-10 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid ">
                      <input class="input-batbuoc" matInput placeholder="{{ 'phepcanhan.lydo' | translate }}" required
                        autocomplete="off" formControlName="ghiChu" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </ng-template>
      </mat-tab>
      <mat-tab label="Tăng ca">
        <ng-template matTabContent>
          <form [formGroup]="itemFormTangCa" *ngIf="itemFormTangCa" class="m-form m-form--group-seperator-dashed">
            <div class="m-form__section m-form__section--first">
              <div class="m-form__group">
                <div class="row">
                  <div class="col-md-6 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid ">
                      <input matInput [matDatepicker]="dptc" (dateChange)="TinhSoGioOTCanCuVaoGioOT()" id="ngaytangca"
                        placeholder="{{ 'overtimeregister.ngaytangca' | translate}}" formControlName="NgayTangCa"
                        class="input-batbuoc" required>
                      <mat-datepicker-toggle matSuffix [for]="dptc"></mat-datepicker-toggle>
                      <mat-datepicker #dptc></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 m--margin-bottom-10-mobile" style="text-align: left; padding-top: 15px;">
                    <mat-checkbox (change)=TinhSoGioOTCanCuVaoGioOT() formControlName="OverTime">
                      <span translate="overtimeregister.Overtimeinbreaktime"></span>
                    </mat-checkbox>
                  </div>
                  <div class="col-md-6 m--margin-bottom-10-mobile">
                  </div>
                  <div class="col-md-6 m--margin-bottom-10-mobile" style="text-align: left; padding-bottom: 10px;">
                    <mat-checkbox formControlName="IsFixHours"><span translate="overtimeregister.IsFixHours"></span>
                    </mat-checkbox>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 m--margin-bottom-10-mobile" *ngIf="showGio">
                    <mat-form-field class="mat-form-field-fluid">
                      <mat-select placeholder="{{ 'phepcanhan.gionghi' | translate}}" required
                        (selectionChange)="TinhSoGioOTCanCuVaoGioOT()" formControlName="tugio">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="bankTuGio" [placeholderLabel]="''"
                            [noEntriesFoundLabel]="''">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option value="{{itemCate.Gio}}" *ngFor="let itemCate of filteredBanksTuGio | async">
                          {{ itemCate.Gio }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 m--margin-bottom-10-mobile" *ngIf="showGio">
                    <mat-form-field class="mat-form-field-fluid">
                      <mat-select placeholder="{{ 'phepcanhan.dengio' | translate}}" required
                        (selectionChange)="TinhSoGioOTCanCuVaoGioOT()" formControlName="dengio">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="bankDenGio" [placeholderLabel]="''"
                            [noEntriesFoundLabel]="''">
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option value="{{itemCate.Gio}}" *ngFor="let itemCate of filteredBanksDenGio | async">
                          {{ itemCate.Gio }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="{{ 'overtimeregister.sogio' | translate }}" autocomplete="off"
                        formControlName="Hours" readonly />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid ">
                      <input matInput placeholder="{{ 'overtimeregister.congviec' | translate }}" class="input-batbuoc"
                        required autocomplete="off" formControlName="ghiChu" />
                    </mat-form-field>
                  </div>
                  <div *ngIf="false">
                    <button mat-raised-button type="button" (click)="ChonCongViec()"
                      style="border:1px solid #3699ff; background: transparent;">
                      <span style="font-weight: 500; color: #3699ff;">Chọn công việc</span>
                    </button>
                  </div>
                </div>
                <ng-container *ngFor="let item of listChon">
                  <div style="padding-bottom: 5px;" class="row-item" *ngIf="item.type == 1">
                    <div>
                      <div class="item-detail-info" style="display: flex;">
                        <div class="col-2 pd-0" style="display: contents;">
                          <mat-icon mat-icon-button (click)="removeWork(item)"
                            style="cursor: pointer; padding: 5px 0 0 10px;" color="warn">delete
                          </mat-icon>
                          <div class="item-right-show-content cu-task-row-assignee">
                            <ng-container *ngIf="item.UsersInfo?.length > 0;else chuagiao">
                              <div class="user url" *ngFor="let us of item.UsersInfo;let last = last"
                                style="justify-content: flex-end;">
                                <ng-container>
                                  <ngx-avatar size="30" matTooltip="{{us.hoten}}" src="{{us.image}}"
                                    *ngIf="us.image;else bindText">
                                  </ngx-avatar>
                                  <ng-template #bindText>
                                    <ngx-avatar textSizeRatio="2.5" matTooltip="{{us.hoten}}" size="30"
                                      [name]="us.hoten | avatar" bgColor="{{ us.hoten |avatar:'color' }}">
                                    </ngx-avatar>
                                  </ng-template>
                                </ng-container>
                              </div>
                            </ng-container>
                            <ng-template #chuagiao>
                              <div class="user bg-white mr-2"
                                style="border: 1px dashed #676363;border-radius: 50%;padding: 2px;height: 26px;width: 26px;display: inline-block; ">
                                <i class="fas fa-user-plus ml-1 pd-0" matTooltip="Chưa có người làm"
                                  style="font-size: 13px; "></i>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <div class="col-10 pd-0" style="align-self: center;">
                          <div class="row h-100 ">
                            <div class="item-detail-title">
                              {{item.title}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-item" *ngIf="item.type == 2">
                    <div style="padding-bottom: 5px;">
                      <div class="item-detail-info" style="display: flex;">
                        <div class="col-2 pd-0" style="display: contents;">
                          <mat-icon mat-icon-button (click)="removeWork(item)"
                            style="cursor: pointer; padding: 5px 0 0 10px;" color="warn">delete
                          </mat-icon>
                          <div class="item-right-show-content cu-task-row-assignee">
                            <ng-container *ngIf="item.stage_implementer?.length > 0;else chuagiao">
                              <div class="row" *ngIf="item.stage_implementer.length == 1">
                                <ngx-avatar size="30" src="{{item.stage_implementer[0].AvartarImgURL}}"
                                  matTooltip="{{item.stage_implementer[0].FullName}} - {{item.stage_implementer[0].Jobtitle}}"
                                  *ngIf="item.stage_implementer[0].AvartarImgURL;else bindText">
                                </ngx-avatar>
                                <ng-template #bindText>
                                  <ngx-avatar textSizeRatio="2.5" size="30"
                                    matTooltip="{{item.stage_implementer[0].FullName}} - {{item.stage_implementer[0].Jobtitle}}"
                                    bgColor="{{danhMucChungService.getColorNameUser(item.stage_implementer[0].FirstName)}}"
                                    [name]="danhMucChungService.getNameUser(item.stage_implementer[0].FirstName.slice(0, 1))">
                                  </ngx-avatar>
                                </ng-template>
                              </div>
                              <div class="row" *ngIf="item.stage_implementer.length > 1">
                                <div class="users">
                                  <div class="user url" *ngFor="let img of item.Manager1,let vi = index"
                                    style="justify-content: flex-end;">
                                    <ngx-avatar [size]="30" src="{{img.AvartarImgURL}}"
                                      *ngIf="img.AvartarImgURL; else bindText" [matMenuTriggerFor]="menu">
                                    </ngx-avatar>
                                    <ng-template #bindText>
                                      <ngx-avatar textSizeRatio="2.5" [size]="30" [name]="img.FirstName.slice(0, 1)"
                                        bgColor="{{ danhMucChungService.getColorNameUser(img.FirstName.slice(0, 1)) }}"
                                        [matMenuTriggerFor]="menu">
                                      </ngx-avatar>
                                    </ng-template>
                                    <mat-menu #menu="matMenu">
                                      <div class="row">
                                        <div class="col-md-3">
                                          <ngx-avatar [size]="50" src="{{img.AvartarImgURL}}"
                                            *ngIf="img.AvartarImgURL; else bindText">
                                          </ngx-avatar>
                                          <ng-template #bindText>
                                            <ngx-avatar textSizeRatio="2.5" [size]="50"
                                              [name]="img.FirstName.slice(0, 1)"
                                              bgColor="{{ danhMucChungService.getColorNameUser(img.FirstName.slice(0, 1)) }}">
                                            </ngx-avatar>
                                          </ng-template>
                                        </div>
                                        <div class="col-md-9 font-chu">
                                          <div class="col-md-12" style="font-weight: bold;">
                                            <span>{{img.FullName}}</span>
                                          </div>
                                          <div class="col-md-12">
                                            <span>{{img.Jobtitle}}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </mat-menu>
                                  </div>
                                  <div class="user url" [ngStyle]="{'display' : item.Manager2_count > 0 ? '' : 'none'}"
                                    style="text-align: center; width: 30px; height: 30px;">
                                    <span class="manager2"
                                      style="border-radius: 50%; font-size: 15px; cursor: pointer;text-align: center;"
                                      alt="" [matMenuTriggerFor]="menu">{{item.Manager2_count}}</span>
                                    <mat-menu #menu="matMenu">
                                      <div class="row" *ngFor="let img of item.Manager2">
                                        <div class="col-md-2" style="padding: 5px;">
                                          <ngx-avatar [size]="30" src="{{img.AvartarImgURL}}"
                                            *ngIf="img.AvartarImgURL; else bindText">
                                          </ngx-avatar>
                                          <ng-template #bindText>
                                            <ngx-avatar textSizeRatio="2.5" [size]="30"
                                              [name]="img.FirstName.slice(0, 1)"
                                              bgColor="{{ danhMucChungService.getColorNameUser(img.FirstName.slice(0, 1)) }}">
                                            </ngx-avatar>
                                          </ng-template>
                                        </div>
                                        <div class="col-md-10 font-chu">
                                          <div class="col-md-12" style="font-weight: bold;">
                                            <span>{{img.FullName}}</span>
                                          </div>
                                          <div class="col-md-12">
                                            <span>{{img.Jobtitle}}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </mat-menu>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #chuagiao>
                              <div class="user bg-white mr-2"
                                style="border: 1px dashed #676363;border-radius: 50%;padding: 2px;height: 26px;width: 26px;display: inline-block; ">
                                <i class="fas fa-user-plus ml-1 pd-0" matTooltip="Chưa có người làm"
                                  style="font-size: 13px; "></i>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <div class="col-10 pd-0" style="align-self: center;">
                          <div class="row h-100 ">
                            <div class="item-detail-title">
                              <span>{{item.task}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-item" *ngIf="item.type == 3">
                    <div style="padding-bottom: 5px;">
                      <div class="item-detail-info" style="display: flex;">
                        <div class="col-2 pd-0" style="display: contents;">
                          <mat-icon mat-icon-button (click)="removeWork(item)"
                            style="cursor: pointer; padding: 5px 0 0 10px;" color="warn">delete
                          </mat-icon>
                          <div class="item-right-show-content cu-task-row-assignee">
                            <ng-container *ngIf="item.stage_implementer?.length > 0;else chuagiao">
                              <div class="row" *ngIf="item.stage_implementer.length == 1">
                                <ngx-avatar size="30" src="{{item.stage_implementer[0].AvartarImgURL}}"
                                  matTooltip="{{item.stage_implementer[0].FullName}} - {{item.stage_implementer[0].Jobtitle}}"
                                  *ngIf="item.stage_implementer[0].AvartarImgURL;else bindText">
                                </ngx-avatar>
                                <ng-template #bindText>
                                  <ngx-avatar textSizeRatio="2.5" size="30"
                                    matTooltip="{{item.stage_implementer[0].FullName}} - {{item.stage_implementer[0].Jobtitle}}"
                                    bgColor="{{danhMucChungService.getColorNameUser(item.stage_implementer[0].FirstName)}}"
                                    [name]="danhMucChungService.getNameUser(item.stage_implementer[0].FirstName.slice(0, 1))">
                                  </ngx-avatar>
                                </ng-template>
                              </div>
                              <div class="row" *ngIf="item.stage_implementer.length > 1">
                                <div class="users">
                                  <div class="user url" style="text-align: center; width: 30px; height: 30px;">
                                    <span class="manager2"
                                      style="border-radius: 50%; font-size: 15px; cursor: pointer;text-align: center;"
                                      alt="" [matMenuTriggerFor]="menu">{{item.stage_implementer.length}}</span>
                                    <mat-menu #menu="matMenu">
                                      <div class="row" *ngFor="let img of item.stage_implementer">
                                        <div class="col-md-2" style="padding: 5px;">
                                          <ngx-avatar [size]="30" src="{{img.AvartarImgURL}}"
                                            *ngIf="img.AvartarImgURL; else bindText">
                                          </ngx-avatar>
                                          <ng-template #bindText>
                                            <ngx-avatar textSizeRatio="2.5" [size]="30"
                                              [name]="img.FirstName.slice(0, 1)"
                                              bgColor="{{ danhMucChungService.getColorNameUser(img.FirstName.slice(0, 1)) }}">
                                            </ngx-avatar>
                                          </ng-template>
                                        </div>
                                        <div class="col-md-10 font-chu">
                                          <div class="col-md-12" style="font-weight: bold;">
                                            <span>{{img.FullName}}</span>
                                          </div>
                                          <div class="col-md-12">
                                            <span>{{img.Jobtitle}}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </mat-menu>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #chuagiao>
                              <div class="user bg-white mr-2"
                                style="border: 1px dashed #676363;border-radius: 50%;padding: 2px;height: 26px;width: 26px;display: inline-block; ">
                                <i class="fas fa-user-plus ml-1 pd-0" matTooltip="Chưa có người làm"
                                  style="font-size: 13px; "></i>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <div class="col-10 pd-0" style="align-self: center;">
                          <div class="row h-100 ">
                            <div class="item-detail-title">
                              <span>{{item.stage}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </form>
        </ng-template>
      </mat-tab>
      <mat-tab label="Đổi ca làm việc">
        <ng-template matTabContent>
          <div class="row" *ngFor="let list of listColumn;  let i = index">
            <div class="col-md-3 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid ">
                <input matInput [matDatepicker]="dp1" id="id" [max]="listColumn[i].denngay"
                  [(ngModel)]="listColumn[i].ngaylamviec" (dateChange)="DateChange($event)"
                  placeholder="{{ 'doicalamviec.ngaylamviec' | translate}}">
                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                <mat-datepicker touchUi #dp1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-3 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid ">
                <input matInput [matDatepicker]="dp2" id="id" [min]="listColumn[i].ngaylamviec"
                  [(ngModel)]="listColumn[i].denngay" (dateChange)="DateChangeDenNgay($event)"
                  placeholder="{{ 'doicalamviec.denngay' | translate}}">
                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                <mat-datepicker touchUi #dp2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-5 m--margin-bottom-5-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select [(ngModel)]="listColumn[i].ID_Row"
                  placeholder="{{'doicalamviec.calamviecmongmuon' | translate}}"
                  (selectionChange)="fieldChanged($event, i)">
                  <div *ngFor="let ca of listCaLamViec;">
                    <mat-option value="{{ca.ID_Row}}">
                      {{ca.Title_Merge}}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-1 m--margin-bottom-5-mobile">
              <button mat-icon-button color="warn" type="button" (click)="remove(i)">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </div>
          <div style="padding-bottom: 10px;" class="row align-items-center">
            <div class="col-md-6 m--margin-bottom-10-mobile">
              <button type="button" [disabled]="showApDung" (click)="addcot()" mat-raised-button
                style="background-color: #0A9562;"><i style="color: #FFFFFF;" class="fa fa-plus"></i>&nbsp;<span
                  style="color: #FFFFFF;" translate="doicalamviec.themngaydoica"></span></button>
            </div>
          </div>
          <form [formGroup]="itemFormDCLV" *ngIf="itemFormDCLV" class="m-form m-form--group-seperator-dashed">
            <div class="m-form__section m-form__section--first">
              <div class="m-form__group">
                <div class="row">
                  <div class="col-md-12 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid ">
                      <input class="input-batbuoc" matInput placeholder="{{ 'doicalamviec.lydo' | translate }}"
                        autocomplete="off" required formControlName="lydo" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid ">
                      <input matInput placeholder="{{ 'doicalamviec.ghichu' | translate }}" autocomplete="off"
                        formControlName="ghiChu" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </mat-tab>
      <mat-tab label="Giải trình chấm công">
        <ng-template matTabContent>
          <div class="row" style="padding-top: 10px;">
            <div class="m-form__control nam" *ngIf="ShowThangNam" style="width: 100px">
              <mat-form-field class="mat-form-field-fluid width">
                <mat-select [(value)]="filterThang" class="mat-form-field mat-form-field-fluid"
                  (selectionChange)="loadDataList(true)" placeholder="Tháng">
                  <mat-option value="1">1
                  </mat-option>
                  <mat-option value="2">2
                  </mat-option>
                  <mat-option value="3">3
                  </mat-option>
                  <mat-option value="4">4
                  </mat-option>
                  <mat-option value="5">5
                  </mat-option>
                  <mat-option value="6">6
                  </mat-option>
                  <mat-option value="7">7
                  </mat-option>
                  <mat-option value="8">8
                  </mat-option>
                  <mat-option value="9">9
                  </mat-option>
                  <mat-option value="10">10
                  </mat-option>
                  <mat-option value="11">11
                  </mat-option>
                  <mat-option value="12">12
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>&nbsp;&nbsp;
            <div class="m-form__control nam" *ngIf="ShowThangNam" style="width: 100px">
              <mat-form-field class="mat-form-field-fluid width">
                <mat-select [(value)]="filterNam" class="mat-form-field mat-form-field-fluid"
                  (selectionChange)="loadDataList(true)" placeholder="Năm">
                  <mat-option value="{{lp.ID_Row}}" *ngFor="let lp of listNam;">
                    {{lp.Title}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div style="margin-left: 5px;">
              <button type="button" (click)="ThemCotGTCC()" mat-icon-button color="accent" style="border: 1px solid;"
                *ngIf="showButton" matTooltip="{{ 'landingpagekey.themmoi' | translate }}">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
          <div class="mat-table__wrapper" style="overflow: auto;" [ngStyle]="{'max-height': getHeight()}">
            <table class="fancyTable fht-table fht-table-init" id="myTable04" cellpadding="0" cellspacing="0"
              style="width: 100%;">
              <thead>
                <tr>
                  <th class="sticky">
                    <span translate="guigiaitrinh.stt"></span>
                  </th>
                  <th class="sticky">
                    <span translate="guigiaitrinh.ngay"></span>
                  </th>
                  <th class="sticky">
                    <span translate="guigiaitrinh.giochamcong"></span>
                  </th>
                  <th class="sticky">
                    <span translate="guigiaitrinh.giocansua"></span>
                  </th>
                  <th class="sticky">
                    <span translate="guigiaitrinh.giovaodung"></span>&nbsp;<span
                      matTooltip="Nhập HH:mm nếu cùng ngày, dd/MM/yyyy HH:mm nếu khác ngày chấm công">(i)</span>
                  </th>
                  <th class="sticky">
                    <span translate="guigiaitrinh.gioradung"></span>&nbsp;<span
                      matTooltip="Nhập HH:mm nếu cùng ngày, dd/MM/yyyy HH:mm nếu khác ngày chấm công">(i)</span>
                  </th>
                  <th class="sticky">
                    <span translate="guigiaitrinh.lydo"></span>
                  </th>
                  <th class="sticky">
                    <span translate="guigiaitrinh.dinhkem"></span>
                  </th>
                  <th class="sticky">
                    <span translate="landingpagekey.tacvu"></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of listColumn,let vi = index">
                  <td style="text-align: center;">
                    {{vi + 1}}
                  </td>
                  <td style="text-align: left;">
                    <mat-form-field class="mat-form-field-fluid" style="width: 100px;">
                      <input matInput [matDatepicker]="dp1" [min]="mindate" [max]="maxdate" [(value)]="list.Ngay"
                        [disabled]="list.RowID > 0" (dateChange)="DateChangeGTCC($event,list)" readonly>
                      <mat-datepicker-toggle matSuffix [for]="dp1">
                      </mat-datepicker-toggle>
                      <mat-datepicker #dp1></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td style="width: 100px; text-align: left; ">
                    <span>{{list.GioChamCong}}</span>
                  </td>
                  <td style="text-align: left; ">
                    <mat-form-field class="mat-form-field-fluid" style="width: 100px;">
                      <mat-select [(value)]="''+list.GioCanSua" [disabled]="list.RowID > 0">
                        <mat-option value="0">
                          <span translate="guigiaitrinh.vao"></span>
                        </mat-option>
                        <mat-option value="1">
                          <span translate="guigiaitrinh.ra"></span>
                        </mat-option>
                        <mat-option value="2">
                          <span translate="guigiaitrinh.vaora"></span>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="mat-form-field-fluid"
                      *ngIf="''+list.GioCanSua == '0' || ''+list.GioCanSua =='2'">
                      <input matInput type="text" [(ngModel)]="list.GioVaoDung" [disabled]="list.RowID > 0"
                        class="mat-form-field mat-form-field-fluid">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="mat-form-field-fluid"
                      *ngIf="''+list.GioCanSua == '1' || ''+list.GioCanSua =='2'">
                      <input matInput type="text" [(ngModel)]="list.GioRaDung" [disabled]="list.RowID > 0"
                        class="mat-form-field mat-form-field-fluid">
                    </mat-form-field>
                  </td>
                  <td>
                    <div *ngIf="!(list.RowID > 0)" style="display: flex;">
                      <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="{{'guigiaitrinh.lydo' | translate}}" [(ngModel)]="''+list.LyDoID">
                          <mat-option value="{{hv.RowID}}" *ngFor="let hv of listLyDo">
                            {{hv.Title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="mat-form-field-fluid">
                        <input matInput type="text" [(ngModel)]="list.LyDo" id="lydo{{vi}" [disabled]="list.RowID > 0"
                          class="mat-form-field mat-form-field-fluid">
                      </mat-form-field>
                    </div>
                    <span *ngIf="list.RowID > 0" style="display: flex;">
                      <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="{{'guigiaitrinh.lydo' | translate}}" [(ngModel)]="''+list.LyDoID">
                          <mat-option value="{{hv.RowID}}" *ngFor="let hv of listLyDo">
                            {{hv.Title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="mat-form-field-fluid">
                        <input matInput type="text" [(ngModel)]="list.LyDo" readonly
                          class="mat-form-field mat-form-field-fluid">
                      </mat-form-field>
                    </span>
                  </td>
                  <td>
                    <div class="row">
                      <div *ngIf="list.TenFile == '' && !(list.RowID > 0)">
                        <label for="file-upload" class="custom-file-upload" style="cursor: pointer;color: #0053Ad;"
                          translate="guigiaitrinh.chonhinh">
                        </label>
                        <input id="file-upload" type="file" accept="image/jpg, image/jpeg, image/png"
                          (change)="FileSelected($event, list)" />
                      </div>
                      <div class="tooltipImage" style="padding: 0; align-self: center;" *ngIf="list.TenFile != ''">
                        <span>{{list.TenFile}}<mat-icon (click)="deleteFile(list)" class="icon-xoa"
                            style="cursor: pointer;margin: -5px;color: red;">clear
                          </mat-icon></span>
                        <label>
                          <img [src]="list.Image">
                        </label>
                      </div>
                    </div>
                  </td>
                  <td style="text-align: left; ">
                    <button type="button" (click)="LuuGTCC(list)" mat-icon-button color="accent"
                      *ngIf="!(list.RowID > 0) && showButton" matTooltip="{{ 'landingpagekey.luu' | translate }}">
                      <mat-icon>save</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" type="button" (click)="removeGTCC(list)" *ngIf="showButton"
                      matTooltip="{{ 'landingpagekey.xoa' | translate }}">
                      <mat-icon>clear</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div style="padding: 50px;text-align: center;" class="mat-table__message" *ngIf="listColumn.length == 0">
              <span translate="landingpagekey.khongcodulieu"></span>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Thôi việc">
        <ng-template matTabContent>
          <form [formGroup]="itemFormTV" class="m-form m-form--group-seperator-dashed" *ngIf="itemTV">
            <div class="m-form__group">
              <div class="row align-items-center" *ngIf="itemTV.Status == '2'"
                style="padding-left: 15px; padding-bottom: 15px; font-size: 11pt;">
                <b>{{itemTV.NguoiDuyet}}</b>&nbsp;đã duyệt vào ngày&nbsp;<b>{{itemTV.Ngay |
                  date:'dd/MM/yyy'}}</b>&nbsp;Lý do:&nbsp;<span style="color: red;">{{itemTV.lydo_duyet}}</span>
              </div>
              <div class="row align-items-center">
                <div class="col-md-4">
                  <mat-form-field class="mat-form-field-fluid ">
                    <input class="require" matInput [matDatepicker]="dpntv" required
                      formControlName="ngaythoiviecdukien"
                      placeholder="{{ 'xinthoiviec.ngaythoiviecdukien' | translate}}">
                    <mat-datepicker-toggle matSuffix [for]="dpntv">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dpntv></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-12 m--margin-bottom-10-mobile">
                  <editor apiKey="a0iezmztjw8xks2rtrjehrqdn27qtoqdpst1a4325mcpgx9k" formControlName="noiDung" [init]="tinyMCE" required>
                  </editor>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="dialog-footer">
    <button type="button" (click)="goBack()" mat-raised-button><span
        translate="landingpagekey.trolai"></span></button><span>&nbsp;</span>
    <button type="button" (click)="onSubmit(true,'1')" mat-raised-button color="accent" *ngIf="selectedTab == 0"
      [disabled]="disableBt || disabledBtnPhep">
      <span>{{ getTieuDeButton() }}</span>
    </button>
    <button type="button" (click)="onSubmit(true,'12')" mat-raised-button color="accent" *ngIf="selectedTab == 1"
      [disabled]="(disableBtTC || disabledBtnTC) || !isSaiGio">
      <span>{{ TenNguoiDuyet() }}</span>
    </button>
    <button type="button" (click)="onSubmit(true,'18')" mat-raised-button color="accent" *ngIf="selectedTab == 2"
      [disabled]="disableBt || showApDung">
      <span>{{ getTieuDeButton() }}</span>
    </button>
    <button type="button" (click)="onSubmit(true,'19')" mat-raised-button color="accent" *ngIf="selectedTab == 3"
      [disabled]="disableBt || disabledBtn">
      <span>{{ getTieuDeButton() }}</span>
    </button>
    <button color="accent" type="button" [disabled]="disabledBtn || disableDuyet" (click)="onSubmit(true,'13')"
      *ngIf="selectedTab == 4 && itemTV && itemTV.Status == '0'" mat-raised-button><span>{{ getTieuDeButtonTV()
        }}</span>
    </button>
  </div>
</div>