<form [formGroup]="formControls">
    <mat-form-field class="mat-form-field-fluid ">
        <textarea class="input-batbuoc" rows="1" matInput placeholder="{{'Yeucau.motayeucau' | translate}}" formControlName="MoTaYC" required></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <textarea class="input-batbuoc" rows="1" matInput placeholder="{{'Yeucau.tenyeucau' | translate}}" formControlName="tenYeuCau" required></textarea>
    </mat-form-field>
    <div *ngFor="let item of controls || []; let i=index ">
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==1">
            <mat-form-field class="example-full-width ">
                <input matInput formControlName="{{item.RowID}}" placeholder="{{ item.Title}}" [required]="item.IsRequired" [ngClass]="item.IsRequired?'input-batbuoc':''" />
                <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==2">
            <mat-form-field class="example-full-width">
                <input matInput (keypress)="prenventInputNonNumber($event)" formControlName="{{item.RowID}}" [required]="item.IsRequired" placeholder="{{ item.Title}}" [ngClass]="item.IsRequired?'input-batbuoc':''" />
                <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==3">
            <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="dpDate" formControlName="{{item.RowID}}" [required]="item.IsRequired" placeholder="{{ item.Title}}" [ngClass]="item.IsRequired?'input-batbuoc':''">
                <mat-datepicker-toggle matSuffix [for]="dpDate"></mat-datepicker-toggle>
                <mat-datepicker #dpDate></mat-datepicker>
                <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==4">
            <mat-form-field class="example-full-width">
                <textarea rows="1" matInput formControlName="{{item.RowID}}" [required]="item.IsRequired" [ngClass]="item.IsRequired?'input-batbuoc':''" placeholder="{{ item.Title}}"></textarea>
                <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==5">
            <mat-form-field class="example-full-width">
                <mat-select matNativeControl formControlName="{{item.RowID}}" [required]="item.IsRequired" placeholder="{{ item.Title}}">
                    <mat-option *ngFor="let list of item.init;" [value]="list.RowID">
                        {{list.Title}}
                    </mat-option>
                </mat-select>
                <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
            </mat-form-field>

        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==6">
            <mat-form-field class="example-full-width">
                <mat-select formControlName="{{item.RowID}}" [required]="item.IsRequired" placeholder="{{ item.Title}}" multiple>
                    <mat-option value="{{list.RowID}}" *ngFor="let list of item.init;">
                        {{list.Title}}
                    </mat-option>
                </mat-select>
                <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==7">
            <span style="font-family: Arial, Helvetica, sans-serif;">{{ item.Title}}</span>&nbsp;
            <mat-slide-toggle formControlName="{{item.RowID}}">
            </mat-slide-toggle>
            <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==8">
            <mat-checkbox formControlName="{{item.RowID}}">
                <span>{{item.Title}}</span>
            </mat-checkbox>
            <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==9">
            <mat-radio-group formControlName="{{item.RowID}}" class="example-radio-group">
                <div class="row" style="width: 100%;">
                    <div class="col-md-12">
                        <span style="font-family: Arial, Helvetica, sans-serif;color: #bbbbbb;">{{ item.Title}}</span>
                    </div>
                    <div class="col-md-12" style="padding-left: 0px;" *ngFor="let list of item.init;">
                        <mat-radio-button class="example-radio-button" value="{{list.RowID}}">{{list.Title}}
                        </mat-radio-button>
                    </div>
                </div>
                <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
            </mat-radio-group>
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==10">
            <dl-image-control [data]="item" formControlName="{{item.RowID}}" type="image/*" [required]="item.IsRequired" nameButton="Chọn ảnh" [multiple]="false">
            </dl-image-control>
            <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
        </div>
        <!-- <div class="col-md-12" *ngIf="item.ControlID==11 && item.IsFieldNode">
                        <m-dropdown-tree [data]="item.init" [DropdownTitle]="item.Title" [required]="item.IsRequired" (SelectedItemTree)="GetValueNode($event,item)" formControlName="{{item.RowID}}">
                        </m-dropdown-tree>
                    </div> -->
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==12">

            <dl-image-control [data]="item" formControlName="{{item.RowID}}" type="image/*" [required]="item.IsRequired" nameButton="Chọn ảnh" [multiple]="true">
            </dl-image-control>
            <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==13">
            <dl-image-control [data]="item" formControlName="{{item.RowID}}" [required]="item.IsRequired" nameButton="Chọn tệp" [multiple]="false">
            </dl-image-control>
            <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==14">
            <dl-image-control [data]="item" formControlName="{{item.RowID}}" [required]="item.IsRequired" nameButton="Chọn tệp" [multiple]="true">
            </dl-image-control>
            <mat-hint style="font-style: italic;">{{item.Description}}</mat-hint>
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==15">
            <h5>{{item.Title}}:</h5>
            <editor formControlName="{{item.RowID}}" [init]="tinyMCE" [required]="item.IsRequired">
            </editor>
        </div>
        <div class="col-md-12" style="padding-left: 0px;padding-bottom: 15px;padding-right: 0px;" *ngIf="item.ControlID==16">
            <span style="font-weight: bold;">{{item.Title}}:</span>
            <table class="fancyTable fht-table fht-table-init" id="myTable04" cellpadding="0" cellspacing="0" style="width: 100%;font-family: Arial, Helvetica, sans-serif;">
                <thead>
                    <tr>
                        <th style="width: 50px; text-align: center;">
                            #
                        </th>
                        <th style="width: 120px; text-align: left;" *ngFor="let list of item.init;">
                            <span>{{list.Title}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of item.dataTable, let vi = index">
                        <td style="width: 50px; text-align: center;" [matMenuTriggerFor]="createPlan" (mouseover)="createPlanmenuTrigger.openMenu()" (mouseout)="$event.stopPropagation();createPlanmenuTrigger.openMenu()" #createPlanmenuTrigger="matMenuTrigger">
                            <span>{{vi + 1}}</span>
                            <mat-menu #createPlan="matMenu">
                                <span mat-menu-item style="text-align: center;" (click)="XoaRow(row,item)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </span>
                            </mat-menu>
                        </td>
                        <td style="width: 80px; text-align: left;" *ngFor="let list of item.init;">
                            <input matInput value="{{getValue(row,list)}}" style="border: none;" (focusout)="RowChange($event,row,list)">
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <span style="cursor: pointer;" (click)="Themdongmoi(item)"><i
                    class="flaticon2-add"></i>&nbsp;Thêm dòng mới</span>
        </div>
    </div>

    <!-- <div class="row" style="text-align: center;">
        <div class="col-md-12">
            <button mat-raised-button color="accent" type="button" (click)="submit()">
						Gửi yêu cầu
					</button>
        </div>
    </div> -->
</form>