<div class="cu-tags-badge">
    <div class="cu-tags-badge__inner position-relative" type="badge">
        <div placement="right" [ngClass]="{'cu-tags-select__badge_readonly': !role}"
            class="cu-tags-select__badge list-view ng-star-inserted"
            [ngStyle]="{'backgroundColor': Opaciti_color(tag.color)}">
            <div class="cu-tags-select__click">
                <div class="cu-tags-select__name  hide-more-text" [ngStyle]="{'color': getColorText(tag.color)}"> {{tag.title}} </div>
                <!-- <div *ngIf="isRename" class="cu-tags-select__name" [ngStyle]="{'color': tag.color}">  -->
                <!-- <input type="text" value="{{tag.title}}"> -->
                <!-- </div> -->
                <div class="cu-tags-select__name-shadow"> {{tag.title}} </div>
                <div cupreventdefault="" class="cu-tags-select__badge-ellipsis" [hidden]="!role">
                    <div cudropdown="" class="cu-dropdown menu-options nav-menu">
                        <div cudropdowntoggle="" class="cu-dropdown__toggle url">
                            <div icon="ellipsis" class="cu-tags-select__badge-ellipsis-icon icon ng-star-inserted"
                                [ngStyle]="{'fill': tag.color}">
                                <i class="fas fa-ellipsis-h" [ngStyle]="{'color': getColorText(tag.color)}"
                                    [matMenuTriggerFor]="tags"></i>
                            </div>
                        </div>
                    </div>
                    <mat-menu #tags="matMenu">
                        <button mat-menu-item (click)="Rename()"><i class="far fa-edit text-muted"
                                style="width:20px"></i> {{ 'department.doiten' | translate }} </button>
                        <button mat-menu-item [matMenuTriggerFor]="setColor"> <i class="fas fa-brush text-muted"
                                style="width:20px"></i> {{ 'department.doimau' | translate }} </button>
                        <button mat-menu-item (click)="RemoveTags()"> <i class="far fa-trash-alt text-danger"
                                style="width:20px"></i> {{ 'GeneralKey.xoa' | translate }} </button>
                        <mat-menu #setColor="matMenu">
                            <kt-color-picker2 [selected]="tag.color" (ItemSelected)="ColorPickerStatus($event)">
                            </kt-color-picker2>
                        </mat-menu>
                    </mat-menu>
                </div>
                <div icon="close-bold" class="cu-tags-select__badge-icon-close icon ng-star-inserted" [hidden]="!role"
                    [ngStyle]="{'backgroundColor': getbackgroundColor(tag.color)}">
                    <i class="fas fa-times icon-close" (click)="RemoveTags()"></i>
                </div>
            </div>
            <input type="text" autocomplete="off" class="input_renname {{isRename?'':'d-none'}}"
                [ngStyle]="{'border-color': tag.color}" id="renameText{{tag.id_row}}{{node.id_row}}{{detail?'1':'0'}}"
                (keyup.enter)="checkUpdate()" (focusout)="checkUpdate()">
        </div>
    </div>
</div>