<div class="card card-custom">
	<div class="card-header">
		<div class="card-title">
			<h3 class="dialog-title"><span>{{ getComponentTitle() }}</span></h3>
		</div>
		<div class="card-toolbar">

		</div>
	</div>
	<div class="card-body">
        <form [formGroup]="itemForm" class="m-form m-form--group-seperator-dashed">
            <div class="m-form__section m-form__section--first">
                <div class="m-form__group">
                    <div class="row">
                        <div class="col-md-12 m--margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid" style="width: 100%;">
                                    <textarea matInput rows="6" class="require" id="id" required placeholder="{{ 'landingpagekey.ghichu' | translate }}"
                                    formControlName="GhiChu"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </form>
	</div>
	<div class="dialog-footer">
		<button type="button" mat-raised-button class="ja_button ja_btn-goback" (click)="goBack()">
			<span translate="landingpagekey.trolai"></span>
		</button>&nbsp;
		<button type="button" (click)="onSumbit(false)" mat-raised-button class="ja_button ja_btn-addcontinue"
			matTooltip="{{ 'landingpagekey.luudong' | translate }}"><span translate="landingpagekey.luudong"></span></button>
	</div>
</div>