.box-trang-thai {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100px;
    margin: auto;
    cursor: pointer;
}

// theme list-task
// thanh filter
.cu2-views-bar__options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 51px;
    padding: 10px 17px 10px 0;
}

.cu-filter-block {
    display: block;
}

.cu-search-filter_v4,
.cu-search-filter_v5 {
    border: none;
    border-radius: 0;
    margin: 0 7px;
    position: relative;
}

.cu-search-filter {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #e4e4e4;
    padding: 0;
    margin: 0 17px;
}

.cu-search-filter_v4 .cu-search-filter__input,
.cu-search-filter_v5 .cu-search-filter__input {
    width: 200px;
    padding-right: 25px;
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cu-search-filter__input {
    font-family: var(--global-font-support);
}

.cu-search-filter__input {
    transition: all .2s cubic-bezier(.785, .135, .15, .86) 0s;
    font-family: Gotham Pro, Proxima Nova, arial, serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    order: 2;
    flex-grow: 1;
    width: 55px;
    height: 28px;
    padding: 0;
    border: none;
    -webkit-font-smoothing: antialiased;
    color: #343434;
    background: transparent;
    box-shadow: none;
    min-width: 0;
    max-width: none;
}

.cu-search-filter_v4 .cu-search-filter__extra,
.cu-search-filter_v5 .cu-search-filter__extra {
    order: 0;
    margin-right: 8px;
}

.cu-search-filter__extra {
    order: 4;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.cu-filter-value-list-dropdown__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cu-search-filter_v4 .cu-filter-block__extra-icon-container,
.cu-search-filter_v5 .cu-filter-block__extra-icon-container {
    display: flex;
    align-items: center;
}

.cu-search-filter_v4 .cu-filter-block__extra-icon,
.cu-search-filter_v5 .cu-filter-block__extra-icon {
    padding: 8px 0 8px 8px;
    border-left: none;
    fill: #7c828d;
}

.cu-filter-block__extra-icon {
    transition: all .2s cubic-bezier(.785, .135, .15, .86) 0s;
    width: 30px;
    height: 28px;
    padding: 8px 10px 8px 8px;
    border-radius: 0 14px 14px 0;
    fill: #bcc0c7;
    border-left: 1px solid #e4e4e4;
}

.icon,
.icon svg {
    width: 100%;
    height: 100%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.cu-filter-right {
    align-items: center;
    .item-filter {
        margin-left: 20px;
        .filter-name {
            font-weight: 500;
        }
        // Assign me
        .cu-filter-assignees {
            display: flex;
            align-items: stretch;
            height: 24px;
            position: relative;
        }
        .cu-filter-assignees__item {
            border-color: #b9bec7;
        }
        .cu-filter-assignees__item_me {
            border-radius: 3px 0 0 3px;
        }
        .cu-filter-assignees__item {
            transition: background-color .2s cubic-bezier(.785, .135, .15, .86) 0s;
            display: flex;
            align-items: center;
            position: relative;
            padding: 5px 7px;
            cursor: pointer;
            border: 1px solid #d8dce2;
        }
        .cu-filter-assignees__icon_me {
            width: 8px;
            height: 10px;
        }
        .cu-filter-assignees__icon {
            transition: fill .2s cubic-bezier(.785, .135, .15, .86) 0s;
            margin-top: -1px;
            fill: #7c828d;
        }
        .cu-filter-assignees__label {
            transition: color .2s cubic-bezier(.785, .135, .15, .86) 0s;
            margin-left: 5px;
            margin-bottom: -1px;
            color: #7c828d;
        }
        .cu-filter-assignees__item+.cu-filter-assignees__item {
            border-left-width: 0;
        }
        .cu-filter-assignees__item {
            border-color: #b9bec7;
        }
        .cu-filter-assignees__item_everyone {
            border-radius: 0 3px 3px 0;
        }
    }
}

// list
.cu-list-group {
    padding: 5px 5px 5px 40px;
    border: 1px solid #dee2e663;
    border-radius: 4px;
    width: 100%;
}

.task-list,
.cu-task-list {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    .task-list-header {
        background: #eee;
        display: flex;
        flex-grow: 1;
        width: 100%;
        position: sticky;
        top: -10px;
        left: 0;
        z-index: 20;
        height: auto;
        color: transparent;
        .header-item {
            width: 300px;
        }
    }
    .task-list-header__actions {
        transition: opacity .2s cubic-bezier(.785, .135, .15, .86) 0s;
        position: absolute;
        width: 20px;
        left: -20px;
        bottom: 2px;
        background: #fafbfc;
        color: transparent;
        .task-list-header__actions-icon {
            transition: background .2s cubic-bezier(.785, .135, .15, .86) 0s;
            transition: background .2s cubic-bezier(.785, .135, .15, .86), transform .2s cubic-bezier(.785, .135, .15, .86);
            width: 16px;
            height: 16px;
            color: #bcc0c7;
            border-radius: 50%;
            border: 1px solid;
            padding: 2px;
            fill: #bcc0c7;
            cursor: pointer;
            transform: rotate(90deg);
        }
    }
    //item main
    .task-list-header__item_main {
        display: inline-flex;
        flex-grow: 1;
        // min-width: 350px;
        min-width: 422px; // node tự tăng nên tăng theo
        // background: #fafbfc;
        color: transparent;
        padding-top: 25px;
        position: sticky;
        left: 0;
        z-index: 20;
        background: #eee;
    }
    .cu-task-list-header__item-label {
        position: relative;
    }
    .cu-task-list-header__item-label .cu-task-list-header__item-label-body.cu-task-list-header__item-label-body-fill {
        border: 1px solid transparent;
        border-radius: 3px 3px 0 0;
        margin-right: 10px;
        padding: 0px 5px;
    }
    .cu-task-list-header__item-label-body {
        display: flex;
        align-items: center;
        min-height: 20px;
    }
    .cu-task-list-header__item-label-body-inner {
        display: flex;
        align-items: center;
        &:hover {
            .cu-action-header {
                display: inline-block !important;
            }
        }
    }
    .cu-task-list-header__hover-options {
        display: flex;
        align-items: center;
        display: none;
    }
    .cu-action-header {
        i {
            padding: 0 5px;
        }
    }
    // sub task header
    .cu-dropdown-head {
        padding: 0 5px;
        &:hover {
            background-color: #e4e4e4;
            border-radius: 3px;
        }
    }
    .cu-task-list-header-field {
        transition: background .2s cubic-bezier(.785, .135, .15, .86) 0s;
        position: relative;
        cursor: pointer;
        display: inline-flex;
        // height: 20px;
        border-radius: 3px;
        .cu-task-list-header-field__title {
            padding: 0 5px;
        }
        .cu-task-list-header-field__title-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: Gotham Pro, Proxima Nova, arial, serif;
            font-weight: 500;
            font-size: 7pt;
            line-height: 1;
            text-transform: uppercase;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: rgba(52, 52, 52, .72);
            padding: 10px 0 4px;
        }
    }
    .cu-task-list-header-settings__add {
        transition: background .2s cubic-bezier(.785, .135, .15, .86) 0s;
        fill: #fff;
        padding: 4px;
        margin-top: 10px;
        font-size: 18px;
    }
    .cu-task-list-header__count {
        text-transform: uppercase;
        font: 400 11px/1 Gotham Pro, Proxima Nova, arial, serif;
        color: #858585;
        margin-top: -5px;
        align-self: flex-end;
    }
    .cu-task-list-header__items {
        display: inline-flex;
        margin-top: 15px;
    }
    .cu-task-list-header-field {
        transition: background .2s cubic-bezier(.785, .135, .15, .86) 0s;
        position: relative;
        cursor: pointer;
        display: inline-flex;
        // height: 20px;
        border-radius: 3px;
    }
    .cu-task-list-header-settings {
        display: flex;
        justify-content: flex-end;
        width: 74px;
        padding-right: 15px;
        flex-shrink: 0;
    }
    // row
    .cu-task-list__rows {
        position: relative;
        margin-left: -40px;
        padding-left: 40px;
    }
    .cu-task-row {
        display: block;
        padding: 0;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 0;
        background: #fff;
    }
    .cu-task-row__placeholder {
        word-break: break-word;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: Gotham Pro, Proxima Nova, arial, serif;
        font-weight: 400;
        font-size: 13.5px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
        color: #000;
        border-left: 3px solid #fff;
        min-height: 36px;
        padding-top: 1px;
        padding-bottom: 1px;
        box-sizing: content-box;
        position: relative;
    }
    .cu-hidden {
        display: none !important;
    }
    .cu-task-row__container {
        display: flex;
        background: #fff;
        border: 1px solid #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
        position: relative;
        width: 100%;
        min-height: 38px;
        .action-task {
            opacity: 0;
        }
        &:hover {
            .action-task {
                opacity: 1 !important;
                transition: .5s;
            }
        }
    }
    .cu-task-row__main {
        display: flex;
        align-items: center;
        min-width: 349px;
        flex-shrink: 1;
        flex-grow: 1;
        left: 0;
        margin: -1px 0;
        padding-top: 1px;
        padding-bottom: 1px;
        z-index: 10;
        padding-right: 5px;
        transform: translateZ(0);
        background: hsla(0, 0%, 100%, .9);
        // chấm nhỏ task
        .cu-task-row-status_dot {
            align-self: stretch;
        }
        .cu-task-row-status_dot .cu-dropdown {
            display: flex;
            align-items: center;
        }
        .cu-task-row-status_dot .cu-task-row-status__item {
            position: relative;
            margin: 0 11px;
            width: 14px;
            height: 14px;
            border-radius: 3px;
            border: 1px solid transparent;
            transition: .1s;
            cursor: pointer;
            color: transparent;
        }
        // title
        .cu-task-row-main {
            flex-grow: 1;
            width: 0;
            height: 100%;
            display: inline-flex;
            flex-direction: column;
            .cu-task-row-main__link {
                font-size: 0;
                cursor: pointer;
                flex-grow: 1;
                min-width: 100px;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 4px 0;
                .cu-task-row-main__link-container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    position: relative;
                }
                .cu-task-row-main__link-text {
                    word-break: break-word;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    -webkit-hyphens: auto;
                    -ms-hyphens: auto;
                    hyphens: auto;
                    display: inline-block;
                    .cu-task-row-main__link-text-inner {
                        transition: color .2s cubic-bezier(.785, .135, .15, .86) 0s;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-family: Gotham Pro, Proxima Nova, arial, serif;
                        font-weight: 400;
                        font-size: 13.5px;
                        line-height: 1.5;
                        padding-right: 11px;
                        margin-right: 0;
                        color: #000;
                    }
                }
            }
        }
    }
    .cu-task-row-menu {
        width: 74px;
        min-width: 74px;
        flex-shrink: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 11px;
    }
    .node-children {
        &:hover {
            .btn-add-new {
                opacity: 1 !important;
                transition: .3s;
            }
        }
    }
    // task list subtask
    .cu-task-list__subtasks {
        display: block;
        width: auto;
        // padding-left: 35px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
        .cu-task-row__main:before {
            content: "";
            display: block;
            position: absolute;
            width: 2px;
            background: #e9ebf0;
            height: calc(100% + 2px);
            margin-left: -6px;
        }
        .cu-task-row:last-child .cu-task-row__main:before {
            content: "";
            display: block;
            position: absolute;
            width: 11px;
            height: calc(50% + 1px);
            border-bottom-left-radius: 6px;
            border-left: 2px solid #e9ebf0;
            border-bottom: 2px solid #e9ebf0;
            margin-left: -6px;
            margin-top: 0;
            top: 0;
            background: transparent;
        }
        .cu-task-row__main:after {
            content: "";
            display: block;
            position: absolute;
            width: 9px;
            height: 2px;
            margin-left: -4px;
            background: #e9ebf0;
        }
        .cu-task-row__main {
            padding-left: 23px;
        }
        .cu-task-row__main {
            padding-left: 39px;
            min-width: 315px;
        }
        .cu-task-row__container,
        .dark-theme .cu-task-list__subtasks .cu-task-row__container {
            box-shadow: none;
        }
        // cu-task-list__rows => .cu-task-row
    }
    .cu-task-row-subtasks-count {
        display: inline-flex;
        margin-left: 8px;
        flex-wrap: wrap;
        height: 100%;
        font: 11px/11px Gotham Pro, Proxima Nova, arial, serif;
        padding: 2px;
        align-items: center;
        margin-right: 5px;
        border-radius: 4px;
        transform: translateY(2px);
        background: #fff;
        border: 1px solid #e9ebf0;
        fill: #7c828d;
    }
    .add-new-task {
        font-size: 10px;
        border-left: 1px #1db954 solid;
        padding: 0 5px 0 7px;
    }
    .cu-task-row-subtasks-count__item {
        display: inline-flex;
        align-items: flex-start;
        position: relative;
        margin: 1px 5px 1px 0;
    }
    // add new task
    .cu-task-row-new {
        display: block;
        min-width: 100%;
        z-index: 15;
        position: relative;
    }
    .cu-task-row-new__container {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
        border: 1px solid #1db954;
    }
    .cu-task-row-new__left {
        display: flex;
        align-items: center;
        position: sticky;
        left: 0;
        flex-grow: 1;
        padding-right: 50px;
    }
    .cu-task-row-status .cu-dropdown,
    .cu-task-row-status .cu-status-list {
        height: 100%;
        width: 100%;
    }
    .cu-task-row-new_subtask .cu-task-row-status {
        order: 2;
    }
    .cu-task-row-status_dot .cu-dropdown {
        display: flex;
        align-items: center;
    }
    .cu-task-row-status_dot .cu-task-row-status__item {
        position: relative;
        margin: 0 11px;
        width: 14px;
        height: 14px;
        border-radius: 3px;
        border: 1px solid transparent;
        transition: .1s;
        cursor: pointer;
        color: transparent;
    }
    .cu-task-row-status_dot .cu-task-row-status__item_light:after {
        box-shadow: 0 0 1px 0 #828588;
    }
    .cu-task-row-status_dot .cu-task-row-status__item:after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 8px;
        height: 8px;
        border-radius: 2px;
        background: currentColor;
        transition: .1s;
    }
    .cu-task-row-new_subtask .cu-task-row-new__close {
        order: 1;
        margin: 0 -6px 0 9px;
    }
    .cu-task-row-new_active .cu-task-row-new__close {
        visibility: visible;
    }
    .cu-task-row-new__close {
        visibility: hidden;
        cursor: pointer;
        padding: 4px;
        margin: 0 4px 0 -4px;
        fill: #bcc0c7;
        z-index: 1;
        order: 2;
    }
    .cu-task-row-new__close .icon {
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
    }
    .icon,
    .icon svg {
        width: 100%;
        height: 100%;
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .cu-task-row-new__main {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        min-width: 200px;
        order: 3;
    }
    .input-text {
        input:focus {
            outline: none;
        }
    }
    .cu-task-row-new__input {
        font-family: Gotham Pro, Proxima Nova, arial, serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 1;
        cursor: text;
        width: 100%;
        background: transparent;
        box-shadow: none;
        border: 0;
        height: 36px;
    }
    .cu-task-row-new__options {
        display: flex;
        align-items: center;
        position: sticky;
        right: 0;
        flex-shrink: 0;
        min-width: 200px;
    }
    .cu-task-row-new_active .cu-task-row-new__shortkey {
        opacity: 1;
    }
    .cu-task-row-new__shortkey {
        transition: opacity .2s cubic-bezier(.785, .135, .15, .86) 0s;
        display: flex;
        align-items: center;
        justify-content: center;
        font: 400 11px/1 Gotham Pro, Proxima Nova, arial, serif;
        color: #cbc9cf;
        padding: 0 5px;
        white-space: nowrap;
        opacity: 0;
    }
    .cu-task-row-new__button {
        background: green;
    }
    .cu-task-row-new__button {
        background: #7b68ee;
        width: 54px;
        height: 20px;
        border-radius: 2px;
        color: #fff;
        font: 500 11px/1 Gotham Pro, Proxima Nova, arial, serif;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0 10px;
        flex-shrink: 0;
    }
    .cu-add-new-task {
        padding-left: 40px;
        // height: 30px;
        .btn-add-new {
            opacity: 0;
            transition: background 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
            position: relative;
            cursor: pointer;
            display: inline-flex;
            // height: 20px;
            border-radius: 3px;
            .cu-dropdown-head {
                padding: 2px 10px;
            }
        }
    }
    //footer
    .cu-task-list-footer {
        display: flex;
        position: relative;
    }
    .cu-task-list-footer__item_main {
        display: inline-flex;
        flex-grow: 1;
        min-width: 346px;
        height: 24px;
        align-items: flex-end;
        position: sticky;
        left: 0;
        z-index: 10;
    }
    .cu-task-list-footer__add {
        transition: background .2s cubic-bezier(.785, .135, .15, .86) 0s;
        position: absolute;
        left: 9px;
        top: 4px;
        font: 11px/11px Gotham Pro, Proxima Nova, arial, serif;
        color: #7c828d;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        align-items: center;
        padding: 4px 7px;
        border-radius: 3px;
    }
    .cu-task-list-footer__add-text {
        transition: opacity .1s cubic-bezier(.785, .135, .15, .86) 0s;
        font: 11px/11px Gotham Pro, Proxima Nova, arial, serif;
        color: #7c828d;
    }
}

.cu-task-row-status1 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.point {
    width: 10px;
    height: 10px;
}

// assing add task
.cu-task-row-new__options .cu-task-row-assignee {
    width: auto;
    margin-right: 0;
    padding-left: 5px;
}

.cu-task-row-assignee {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100px;
    overflow: hidden;
    position: relative;
}

.cu-user-and-groups-list-dropdown {
    min-width: 0;
}

.cu-dropdown__toggle {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cu-user-group {
    outline: none;
}

.cu-task-row-new__options .cu-task-row-assignee .cu-user-group__item {
    margin-top: 1px;
}

.cu-user-group .cu-user-group__item {
    position: relative;
    // margin-left: -12px;
}

.cu-task-row-new__options .cu-user-group .cu-avatar.cu-avatar_lg {
    width: 26px;
    height: 26px;
    border: none;
}

.cu-task-row-assignee .cu-user-group__item .cu-avatar__assign-mono {
    padding: 0;
}

.cu-task-row-assignee .cu-avatar.cu-avatar_lg {
    width: 30px;
    height: 30px;
}

.cu-user-group .cu-user-group__item>.cu-avatar {
    margin: 0;
}

.cu-task-row-assignee .cu-avatar {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.cu-avatar.cu-avatar_transparent,
.dark-theme .cu-avatar.cu-avatar_transparent {
    border-color: transparent;
}

.cu-avatar.cu-avatar__assign-mono {
    padding: 2px;
    position: relative;
    border-radius: 0;
    background: none;
    cursor: pointer;
}

.cu-avatar.cu-avatar_30 {
    width: 30px;
    height: 30px;
}

.cu-avatar-border {
    border-radius: 50% !important;
    border: 1px gray dashed !important;
    &:hover {
        border-color: rgb(46, 205, 111) !important;
    }
}

.cu-avatar.cu-avatar_lg {
    width: 38px;
    height: 38px;
}

div.cu-avatar {
    padding: 0;
}

.cu-avatar {
    font-family: var(--global-font-support);
}

.cu-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Gotham Pro, Proxima Nova, arial, serif;
    font-weight: 400;
    font-size: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: hsla(0, 0%, 100%, .9);
    text-transform: uppercase;
    padding: 0;
    position: relative;
    flex-shrink: 0;
}

.cu-task-row-assignee .cu-avatar {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.cu-avatar.cu-avatar__assign-mono {
    padding: 2px;
    position: relative;
    border-radius: 0;
    background: none;
    cursor: pointer;
}

.cu-avatar {
    font-family: var(--global-font-support);
}

.cu-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Gotham Pro, Proxima Nova, arial, serif;
    font-weight: 400;
    font-size: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: hsla(0, 0%, 100%, .9);
    text-transform: uppercase;
    padding: 0;
    position: relative;
    flex-shrink: 0;
}

.pd-r-10 {
    padding-right: 10px;
}

.page-work-detail {
    min-height: 100px;
    max-height: 250px;
    width: 350px;
    overflow: hidden;
    .choose-users-box {
        margin: 0;
    }
    .people {
        height: 50px;
        padding: 5px 0 10px 50px !important;
        position: relative;
        padding: 0 5px;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            background-color: #eeeeee8c;
        }
        .avatar {
            position: absolute;
            top: 2px;
            left: 15px;
        }
    }
}

.icon-custom {
    min-width: 20px;
    display: inline-block;
}

.card-header {
    .icon-custom {
        font-size: 130%;
        padding: 0 10px;
    }
}

// // Multi level
.cdk-drag-placeholder {
    display: none;
}

.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background: #fff;
    opacity: 0.3;
}

.drop-inside {
    border: 1px solid #00f;
}

.drop-before {
    border-top: 1px solid #00f;
}

.drop-after {
    border-bottom: 1px solid #00f;
}

.node-title {
    background: #fff;
    cursor: grab;
}

.node-children {
    transition: height 0.2s;
}

.item-notes {
    margin-left: 20px;
    color: #aaa;
}

.date-picker {
    width: 0px;
    height: 0px;
    input {
        border: none;
        outline: none;
    }
}

.close-assign {
    opacity: 0;
    position: absolute;
    top: 3px;
    right: 35px;
}

.item-field {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: relative;
    &:hover {
        .close-assign {
            opacity: 1;
        }
    }
}

// .position-picker {
//     position: absolute;
//     top: 50%;
//     left: 100%;
// }
.span {
    margin: auto;
}

.cu-dropdown {
    display: flex;
    align-items: center;
}

.check-list {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    opacity: 0;
}

.node-item {
    &:hover {
        .check-list {
            opacity: 1;
        }
    }
}

/// action in line
.action-inline {
    margin-left: 5px;
    display: none;
    i {
        font-size: 8pt;
        padding: 5px;
    }
    svg {
        padding: 3px;
    }
}

.hover-show-action {
    &:hover {
        .action-inline {
            display: inline-block;
            i,
            svg {
                &:hover {
                    color: white;
                    fill: white;
                }
            }
        }
    }
}

.tags-icon {
    i {
        display: none;
        margin-left: 5px;
    }
    &:hover {
        i {
            display: inline-block;
        }
    }
}

.contrast_high .cu-task-list-header__actions {
    background: #eee;
}

.cu-task-list-header__actions {
    transition: opacity .2s cubic-bezier(.785, .135, .15, .86) 0s;
    position: absolute;
    width: 23px;
    height: 23px;
    left: -20px;
    bottom: 2px;
    background: #eeeeee;
    color: transparent;
}

.cu-task-list-header__actions-icon_collapsed {
    transform: rotate(0deg);
}

.cu-task-list-header__actions-icon {
    width: 16px;
    height: 16px;
    color: #bcc0c7;
    border-radius: 50%;
    border: 1px solid;
    padding: 2px;
    fill: #bcc0c7;
    cursor: pointer;
}

.cu-task-row_sticky .cu-task-row__main {
    position: sticky;
}

.cu-task-row-new {
    display: block;
    min-width: 100%;
    z-index: 15;
    position: relative;
}

.cu-task-list-footer__item_main {
    display: inline-flex;
    flex-grow: 1;
    min-width: 346px;
    height: 24px;
    align-items: flex-end;
    position: sticky;
    left: 0;
    z-index: 10;
}

.cu-task-list-footer__items {
    display: inline-flex;
    align-items: center;
    padding-right: 75px;
    flex-grow: 1;
}

.dismiss {
    width: 100px;
    margin: auto;
    text-align: center;
    border: 2px solid #eee;
    padding: 2px;
    border-radius: 25px;
    transform: translateY(-10px);
    background: black;
    color: white;
}

.css-test-color {
    background-color: rgb(62, 158, 35);
}

.scale-hover-01 {
    &:hover {
        z-index: 10;
        transform: scale(1.5);
        translate: .5s;
    }
}

.view-hover {
    display: none;
}

.scale-hover-02 {
    &:hover {
        z-index: 10;
        transform: scale(1.2);
        transition: all .05s;
        border: 0;
        .view-hover {
            display: block;
        }
        &.user {
            border-radius: 0;
            background: rgba(253, 253, 253, 0)
        }
    }
}

.border-hover {
    &:hover {
        padding: 2px;
        border: 1px solid gray;
    }
}

textarea:focus {
    outline: none;
}

.hover-bg {
    i {
        padding: 0;
    }
    &:hover {
        background: #0080002e;
    }
}

.margin-button-bottom {
    button {
        margin-bottom: 2px;
    }
}

.padding-new-field {
    padding: 2px;
    padding-top: 8px !important;
}

.checkbox-circle {
     ::ng-deep .mat-checkbox .mat-checkbox-frame {
        border-radius: 50%;
        border: 1px solid #3699FF;
    }
     ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
        border-radius: 50%;
        border: 1px solid #3699FF;
    }
}

.filter {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    color: #999;
    padding: 10px 20px;
    .icon-user {
        padding: 7px 10px;
    }
}

.remove-date {
    color: blue;
    position: absolute;
    top: 30%;
    left: 0%;
    display: none;
}

.item-datetime:hover .remove-date {
    display: block;
}

// .cu-list-group {
//     display: block;
//     margin: 0 -5px 30px -15px;
//     padding: 0 15px 0 35px;
//     border-radius: 6px;
//     border: 1px solid hsla(0,0%,50%,.06);
//     border-left-width: 5px;
// }
.cu-list-group .cu-task-list-header:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: currentColor;
}

app-task-datetime,
app-task-datetime-pc {
    position: relative;
    text-align: center;
}

// .box-trang-thai{
//     margin-bottom: 1px;
// }
.box-absolute-auto {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
}

.chucdanh {
    color: #898989 !important;
}
