<!-- start -->

<div class="user url" *ngFor="let user of ListUser;let index = index" style="justify-content: flex-end;">
    <ng-container *ngIf="index <= MaxSize">
        <kt-avatar-user-mt *ngIf="index < MaxSize" [image]="user.Image" [size]="iconSize" [name]="user.HoTen" [matMenuTriggerFor]="menu">
        </kt-avatar-user-mt>
        <kt-avatar-user-mt *ngIf="ListUser.length-MaxSize == 1 && index == MaxSize" [image]="user.Image" [size]="iconSize" [name]="user.HoTen" [matMenuTriggerFor]="menu">
        </kt-avatar-user-mt>
        <mat-menu #menu="matMenu">
            <div class="row">
                <kt-avatar-user-mt [image]="user.Image" size="50" [name]="user.HoTen" [matMenuTriggerFor]="menu" [showFull]="true" [info]="'@' + user.ChucVu">
                </kt-avatar-user-mt>
            </div>
        </mat-menu>
    </ng-container>
</div>
<div class="user url" *ngIf="ListUser.length > MaxSize" style="justify-content: flex-end;">
    <div *ngIf="ListUser.length-MaxSize != 1" class="m--img-rounded m--marginless m--img-centered background" [matMenuTriggerFor]="menu1" [ngStyle]="{'width.px': iconSize,'height.px':iconSize}">
        <div style="opacity: 1;color:white;padding-top:3px;text-align: center;" [ngStyle]="{'font-size.px': iconSize>=35?20:15}">
            +{{ListUser.length-MaxSize}}
        </div>
    </div>
    <mat-menu #menu1="matMenu">
        <div *ngFor="let user of ListUser;let index = index" style="justify-content: flex-end;">
            <ng-container *ngIf="index > (MaxSize-1)">
                <div class="row ">
                    <kt-avatar-user-mt [image]="user.Image" size="35" [name]="user.HoTen" [showFull]="true" [info]="'@' + user.ChucVu">
                    </kt-avatar-user-mt>
                </div>
            </ng-container>
        </div>
    </mat-menu>
</div>


<!-- End -->