<style type="text/css">
    .qr-code-img {
        display: inline-block;
        padding: 16px;
        margin: 16px auto;
        background-color: #fff;
        border: 1px solid gray;
        border-radius: 6px;
    }
</style>
<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="dialog-title">Setup authenticator app</span>
        </div>
        <div class="card-toolbar">
            <button mat-raised-button class="ja_btn-goback" (click)="goBack()">
        {{ 'landingpagekey.trolai' | translate }}
      </button>
        </div>
    </div>
    <div class="card-body overflow-auto">
        <ng-container>
            <div style="text-align: center;">
                <span *ngIf="!isEnabled2FA" class="pt-4 d-block">
              Sử dụng các ứng dụng Authenticator như Google Authenticator, Microsoft Authenticator.. để quét mã QR
            </span>
                <img *ngIf="!isEnabled2FA" class="qr-code-img" src="{{linkURL}}" alt="qr code">
                <span class="pb-2 d-block">
                  Nhập mã xác minh từ ứng dụng
                </span>
                <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="{length:6,allowNumbersOnly: true, disableAutoFocus: true}"></ng-otp-input>
            </div>

        </ng-container>
    </div>
</div>