<div style="position: absolute" [ngStyle]="{'width': getWidthDetails()}">
	<div class="card card-custom" *ngIf="IsItem" style="margin: 15px; overflow: auto;">
		<div class="card-header header">
			<div class="card-title">
				<span>{{ getComponentTitle() }}</span>
			</div>
			<div class="card-toolbar">
				<ng-container *ngIf="item.IdPhieuYC==0">
					<button (click)="goBack()" mat-raised-button matTooltip="{{'vanphongpham.trolaitooltip' | translate}}" *ngIf="isView != 1"
						type="button" class="ja_button btn-goback">
						{{'COMMON.BACK' | translate}}
					</button>
					<button (click)="onSubmit()" mat-raised-button matTooltip="{{'vanphongpham.guidenghi' | translate}}" class="ja_button ja_btn-duyet"
						type="button" *ngIf="isView != 1" [disabled]="btnDisabled">
						{{'vanphongpham.guidenghi' | translate}}
					</button>
				</ng-container>
	
				<ng-container *ngIf="IsToiGui">
					<mat-checkbox *ngIf="item.TrangThai >= 4" (change)="xacNhanDaNhan(item)" 
						[disabled]="item.TrangThai > 4" [(ngModel)]="item.IsDaNhan">
						Đã nhận văn phòng phẩm
					</mat-checkbox>
					&nbsp;&nbsp;
					<button (click)="deletePhieuYC()" mat-raised-button matTooltip="Hủy Phiếu yêu cầu"
						type="button" class="ja_button ja_btn-koduyet" *ngIf="item.AllowHuy">{{'COMMON.Huy' | translate}}
					</button>
				</ng-container>
	
				<ng-container *ngIf="!IsToiGui && item.TrangThai<2">
					<div *ngFor="let item of list_Button">
						<button (click)="prepareDuyet(item)" mat-raised-button [matTooltip]="item.Title" [ngClass]="item.Class"
							type="button" [disabled]="btnDisabled">
							<i></i> {{item.Title}}
						</button>&nbsp;&nbsp;
					</div>
				</ng-container>

				<ng-container *ngIf="!IsToiGui && item.TrangThai==2">
					<button (click)="prepareXacNhan()" mat-raised-button matTooltip="{{'vanphongpham.xacnhan' | translate}}"
						type="button" class="ja_button btn-addnew">{{'vanphongpham.xacnhan' | translate}}
					</button>
				</ng-container>

				<ng-container *ngIf="!IsToiGui && item.TrangThai == 3">
					<mat-checkbox (change)="xacNhanDaGiao(item)" [(ngModel)]="item.IsDaGiao">
						Đã giao văn phòng phẩm
					</mat-checkbox>
				</ng-container>
			</div>
		</div>
	
		<div class="card-body">
			<div class="kt-form" [formGroup]="itemForm" *ngIf="item.IdPhieuYC == 0">
				<div class="form-group kt-form__group row">
					<div class="col-md-3 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid" *ngIf="!isView" monthDateFormats>
							<input matInput placeholder="{{'vanphongpham.vppthang' | translate}}" [matDatepicker]="VPPThang" #thang [formControl]="date">
							<mat-datepicker-toggle matSuffix [for]="VPPThang">
							</mat-datepicker-toggle>
							<mat-datepicker #VPPThang startView="multi-year"
								(yearSelected)="chosenYearHandler($event)"
								(monthSelected)="chosenMonthHandler($event, VPPThang)">
							</mat-datepicker>
						</mat-form-field>
					</div>
					<div class="col-md-3 kt-margin-bottom-10-mobile">
						<m-dropdown-tree [data]="datatree" [DropdownTitle]="title" *ngIf="!enabledTree"
							(SelectedItemTree)="GetValueNode($event)" formControlName="idPhongBan" [disabled]="enabledTree">
						</m-dropdown-tree>
						<mat-form-field class="mat-form-field-fluid" *ngIf="enabledTree">
							<input matInput placeholder="{{'vanphongpham.phongbanyc' | translate}}"
								value="{{tenphongban}}" type="text" [disabled]="true">
						</mat-form-field>
					</div>
					<div class="col-md-3 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="{{'vanphongpham.reason' | translate}}" title="Nhập lý do yêu cầu" formControlName="lyDo" type="text">
						</mat-form-field>
					</div>
				</div>
			</div>
			<div *ngIf="item.IdPhieuYC != 0" style="font-size: 14px;">
				<p style="padding: 5px;">Tạo bởi <b>{{item.NguoiYeuCau.FullName}}</b> vào lúc {{f_hour(item.NgayYeuCau+'Z')}} ngày {{f_date(item.NgayYeuCau+'Z')}}</p>
				<p style="font-style: italic; color: #525e64; padding: 5px;">Lý do: {{item.LyDo}}</p>
				<p style="padding: 5px;"> 
					Trạng thái: <span [ngClass]="dungChungService.getColorByStatus(item.TrangThai)" style="font-weight: bold;">
						{{dungChungService.getItemStatusString(item.TrangThai)}}
					</span>
				</p>
				<span style="padding-left: 5px;" *ngIf="item.TrangThai == 0">Lý do không duyệt: {{item.LyDoKhongDuyet}}</span>
				<h4 style="padding: 5px;margin-top: 20px; font-weight: bold">Chi tiết yêu cầu</h4>
			</div>
	
			<div class="mat-table__wrapper" [ngStyle]="{'height': getHeight()}">
				<table mat-table [dataSource]="hanMucPhongBan" matSort matSortActive="" matSortDirection="asc" matSortDisableClear
					style="width:100%">
					<ng-container matColumnDef="#">
						<th mat-header-cell *matHeaderCellDef  class="mat-column-vinCode">#</th>
						<td mat-cell *matCellDef="let item, let i=index" class="mat-column-vinCode">{{i+1}}</td>
					</ng-container>
	
					<ng-container matColumnDef="TenVPP">
						<th mat-header-cell *matHeaderCellDef  class="mat-column-vinCode">
							<!-- {{'vanphongpham.tenvpp' | translate}} -->
							<span translate="vanphongpham.tenvpp"></span>
						</th>
						<td mat-cell *matCellDef="let item" class="mat-column-vinCode">{{item.TenVPP}}</td>
					</ng-container>
	
					<ng-container matColumnDef="MaSo">
						<th mat-header-cell *matHeaderCellDef  class="mat-column-vinCode">
							{{'vanphongpham.code' | translate}}
						</th>
						<td mat-cell *matCellDef="let item, let i=index" class="mat-column-vinCode">00{{i+1}}</td>
					</ng-container>
	
					<ng-container matColumnDef="DinhMuc">
						<th mat-header-cell *matHeaderCellDef  class="mat-column-vinCode">
							{{'vanphongpham.dinhmuc' | translate}}
						</th>
						<td mat-cell *matCellDef="let item" class="mat-column-vinCode">{{item.SLHanMuc}}</td>
					</ng-container>
	
					<ng-container matColumnDef="DaSuDung">
						<th mat-header-cell *matHeaderCellDef  class="mat-column-vinCode">
							{{'vanphongpham.dasudung' | translate}}
						</th>
						<td mat-cell *matCellDef="let item" class="mat-column-vinCode">{{item.SLSuDung}}</td>
					</ng-container>
	
					<ng-container matColumnDef="ConLai">
						<th mat-header-cell *matHeaderCellDef  class="mat-column-vinCode">
							{{'vanphongpham.soluongcl' | translate}}
						</th>
						<td mat-cell *matCellDef="let item" class="mat-column-vinCode">
							{{item.SLHanMuc > item.SLSuDung ? item.SLHanMuc - item.SLSuDung : 0}}
						</td>
					</ng-container>
	
					<ng-container matColumnDef="YeuCau">
						<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode">
							{{'vanphongpham.soluongyc' | translate}}
						</th>
						<td mat-cell *matCellDef="let item" class="mat-column-vinCode">
							<mat-form-field class="column">
								<input matInput #inp1 (keypress)="checkValue($event)"
									(input)="soLuongChanged($event.target.value)"
									(focusout)="updateSL(item,$event)" title="Nhập số lượng yêu cầu"
									value="{{item.SLYeuCau != null ? item.SLYeuCau: ''}}" [disabled]="isView == 1">
							</mat-form-field>
						</td>
					</ng-container>
	
					<ng-container matColumnDef="LyDo">
						<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode">
							{{'vanphongpham.reason' | translate}}
						</th>
						<td mat-cell *matCellDef="let item" class="mat-column-vinCode">
							<mat-form-field class="column">
								<input matInput #inp2 title="Nhập lý do" (focusout)="updateGhiChu(item,$event)"
									value="{{item.LyDoCT != null ? item.LyDoCT: ''}}" [disabled]="isView == 1">
							</mat-form-field>
						</td>
					</ng-container>
	
					<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="row.highlighted = !row.highlighted"
						[ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
						(mouseout)="row.hovered = false"></tr>
				</table>
	
				<div class="mat-table__message" *ngIf="hanMucPhongBan.length == 0">
					{{'COMMON.NO_RECORD_FOUND' | translate}}
				</div>
				<br>
				<div class="kt-form" [formGroup]="itemForm" *ngIf="!IsToiGui">
					<div class="form-group kt-form__group row">
						<div class="col-md-6 kt-margin-bottom-10-mobile"  *ngIf="item.TrangThai<2">
							<mat-form-field class="mat-form-field-fluid">
								<textarea matInput rows="4" placeholder="{{'vanphongpham.lydokoduyet' | translate}}" 
									formControlName="lyDoKhongDuyet"></textarea>
							</mat-form-field>
						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile" *ngIf="item.TrangThai==2">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{'vanphongpham.ngaygiao' | translate}}" [matDatepicker]="NgayGiao" formControlName="ngayGiao" #ngayGiao>
								<mat-datepicker-toggle matSuffix [for]="NgayGiao">
								</mat-datepicker-toggle>
								<mat-datepicker #NgayGiao></mat-datepicker>
							</mat-form-field>
						</div>
					</div>
				</div>
				
			</div>
	
		</div>
	</div>
</div>