<style>
    :host>>>.card {
        border-radius: 0 !important;
    }

    :host>>>.card {
        border-radius: 0 !important;
    }

    :host>>>.mat-tab-body-content {
        padding-top: 0px !important;
    }

    :host>>>.card-body {
        padding: 0px !important;
    }

    :host>>>.card-header {
        border: none !important;
        padding: 9px !important;
    }

    :host>>>.mat-tab-body-content {
        padding-top: 25px !important;
    }

    :host>>>.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: #03B3FF !important;
    }

    :host>>>.mat-tab-label-active {
        color: #03B3FF !important;
        font-weight: bold;
    }

    :host>>>.mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        height: 2px;
        background-color: #03B3FF !important;
    }
</style>
<div id="frame" class="header-menu" style="max-height: 60px;">
    <div *ngIf="!isList" style="padding: 10px 16px 16px 0px"> <span class="btn btn-menu-meet"
            [routerLink]="['/Meet/']">Quay về
        </span></div>
    <div *ngIf="isList" class="menu-ipad"
        style="padding: 10px 16px 16px 10px; display: flex; justify-content: flex-end;">
        <span class="btn btn-menu-meet" *ngFor="let lst of listMenu" id="menu-{{lst.RowID}}" (click)="RouterLink(lst)"
            [ngClass]="{'menu-active' : getSelectNode() === lst.ALink}" style="color: #858585;position: relative">
            <img style="width: 18px; height: 18px;  margin-top: -4px; margin-right: 2px;" [src]="lst.link" />
            {{lst.Title}}&nbsp;
            <div style="position: absolute;top: 0;width: 100%;left: 0;" *ngIf="lst.SubMenu && lst.SubMenu.length > 0">
                <div style="height: 45px;" [matMenuTriggerFor]="menu"></div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let sub of lst.SubMenu"
                        (click)="RouterLink(sub)">{{sub.Title}}</button>
                </mat-menu>
            </div>
        </span>
    </div>
</div>
<div *ngIf="isList" style=" position: absolute; top:0px">
    <div class="list-yeucau" style="height: 100vh;">
        <div class="card card-custom">
            <div class="card-header">
                <div style="width:100%;    margin: auto;">
                    <meet-dynamic-search-form></meet-dynamic-search-form>
                </div>
                <div class="card-toolbar" style="margin: 0 !important;">
                    <button class="btn-add-plus" (click)="taoMoiCuocHop()" mat-raised-button type="button"
                        style="color:#FFFFFF;margin-right: 5px;;margin-left: 5px;max-width: 50px; min-width: 50px;height: 40px;">
                        <i style="color: #FFFFFF;" class="fa fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div
                    style="position: absolute; padding-top: 2px; top:120px; z-index:2;background-color: #FFFFFF;width: 348px; left: 0px; height: 35px;">
                </div>
                <div style="position: absolute; right: 0; top:120px; z-index:3" class="btn-group" ngbDropdown>
                    <button style="padding: 0px 5px 0px 15px" class="btn" mat-button ngbDropdownToggle>
                        <span style="font-size: 12px;font-weight: 500;">{{labelFilter}}</span>
                        <mat-icon style="    height: auto; margin-left: -7px;">arrow_drop_down</mat-icon>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <button (click)="onLinkClickFilter(0,0)" class="dropdown-item">
                            <span>Tất cả</span>
                        </button>
                        <button (click)="onLinkClickFilter(4,3)" class="dropdown-item">
                            <span>Sắp/đang diễn ra</span>
                        </button>
                        <button (click)="onLinkClickFilter(1,1)" class="dropdown-item">
                            <span>Sắp diễn ra</span>
                        </button>
                        <button (click)="onLinkClickFilter(1,2)" class="dropdown-item">
                            <span>Đang diễn ra</span>
                        </button>
                        <button (click)="onLinkClickFilter(2,0)" class="dropdown-item">
                            <span>Đã diễn ra</span>
                        </button>
                        <button (click)="onLinkClickFilter(3,0)" class="dropdown-item">
                            <span>Đã đóng</span>
                        </button>
                        <button (click)="onLinkClickFilter(5,0)" class="dropdown-item">
                            <span>Đã hoãn</span>
                        </button>
                    </div>
                </div>
                <mat-tab-group [selectedIndex]="selectedTab" class="dl-tabs-yeu-cau"
                    (selectedTabChange)="onLinkClick($event)">

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span>Được mời</span>&nbsp;
                        </ng-template>
                        <ng-template matTabContent>
                            <app-meet-list-detail [keyword]="keyword" [TuNgay]="TuNgay" [DenNgay]="DenNgay"
                                [KeyView]="KeyView" [DonVi]="DonVi" [KeyNguoiTao]="KeyNguoiTao" [SoKyHieu]="SoKyHieu"
                                [isLoad]="isLoad" [Type]="'2'" [tinhTrang]="tinhTrang"
                                [sapDang]="sapDang"></app-meet-list-detail>
                        </ng-template>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span>Giấy mời của đơn vị</span>&nbsp;
                        </ng-template>
                        <ng-template matTabContent>
                            <app-meet-list-detail [keyword]="keyword" [TuNgay]="TuNgay" [DenNgay]="DenNgay"
                                [KeyView]="KeyView" [DonVi]="DonVi" [KeyNguoiTao]="KeyNguoiTao" [SoKyHieu]="SoKyHieu"
                                [isLoad]="isLoad" [Type]="'3'" [tinhTrang]="tinhTrang"
                                [sapDang]="sapDang"></app-meet-list-detail>
                        </ng-template>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span>Tôi tạo</span>&nbsp;
                        </ng-template>
                        <ng-template matTabContent>
                            <app-meet-list-detail [keyword]="keyword" [TuNgay]="TuNgay" [DenNgay]="DenNgay"
                                [KeyView]="KeyView" [DonVi]="DonVi" [KeyNguoiTao]="KeyNguoiTao" [SoKyHieu]="SoKyHieu"
                                [isLoad]="isLoad" [Type]="'1'" [tinhTrang]="tinhTrang"
                                [sapDang]="sapDang"></app-meet-list-detail>
                        </ng-template>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isList" style="height: 100%;">
    <router-outlet></router-outlet>
</div>