.btn-menu-meet {
    padding: 11.5px 10px 11.5px 10px;
    border-radius: 4px;
    background-color: #E5F7FF;
    color: #03B3FF !important;
    font-size: 14px;
    font-weight: 500px;
    margin-left: 10px;
}

#search {
    border-bottom: 1px solid #d1d6dc;
    font-weight: 300;
}

#search label {
    position: absolute;
    margin: 7px 0 0 20px;
}

#search input {
    padding: 5px 0 5px 46px;
    width: 100%;
    border: none;
    margin-bottom: 0px !important;
    background: #F0F2F5;
    color: #65676B;
    border-radius: 25px;
}

#search input:focus {
    outline: none;
    // background: #435f7a;
    // click vào thì sẽ đổi bg search
}

#search input::-webkit-input-placeholder {
    color: #65676B;
}

#search input::-moz-placeholder {
    color: #65676B;
}

#search input:-ms-input-placeholder {
    color: #65676B;
}

#search input:-moz-placeholder {
    color: #65676B;
}