<style>
    .card.card-custom>.card-body {
        padding: 2rem 2.25rem 0 2.25rem !important;
    }
    
    .card-header {
        padding: 0.75rem 1.25rem !important;
    }
    
    .card {
        margin: 15px;
        border-radius: 5px !important
    }
    
     :host>>>.row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
</style>
<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 *ngIf="ID_Meeting != 0" class="card-label">Chỉnh sửa cuộc họp</h3>
            <h3 *ngIf="ID_Meeting == 0" class="card-label">{{'mt.taocuochop' | translate}}</h3>
        </div>
        <div class="card-toolbar">
            <button (click)="goBack()" class="ja_btn-goback" mat-raised-button matTooltip="Trở lại" type="button">
         <span>Trở lại</span>
     </button>&nbsp;&nbsp;
            <button (click)="TaoCuocHop()" type="button" mat-raised-button class="ja_btn-addnew" matTooltip="Tạo cuộc họp" [disabled]="disabledBtn">
             <mat-icon>check</mat-icon>&nbsp;
             <span *ngIf="ID_Meeting != 0">Chỉnh sửa</span>
             <span *ngIf="ID_Meeting == 0">Tạo cuộc họp</span>

     </button>
        </div>
    </div>
    <div class="card-body overflow-auto" [ngStyle]="{'height': getHeight()}">
        <div>
            <form [formGroup]="formControls">
                <div class="row">
                    <div class="col-lg-12">
                        <mat-form-field class="example-full-width">
                            <input class="input-batbuoc mat-focused" formControlName="TenCuocHop" placeholder="Tên cuộc họp" matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <mat-form-field class="example-full-width">
                            <input [ngModel]="NgayBatDau" matInput class="input-batbuoc" required [matDatepicker]="picker" formControlName="thoigiandate" placeholder="Thời gian diễn ra">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field class="example-full-width">
                            <mat-select [ngModel]="GioBatDau" required formControlName="thoigiantime">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="bankTuGio" [placeholderLabel]="''" [noEntriesFoundLabel]="''">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option value="{{itemCate.Gio}}" *ngFor="let itemCate of filteredBanksTuGio | async">
                                    {{ itemCate.Gio }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field class="example-full-width">
                            <input class="input-batbuoc" (keypress)="prenventInputNonNumber($event)" formControlName="thoigianminute" placeholder="Thời lượng (Phút)" matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <mat-form-field class="d-block" class="example-full-width">
                            <input class="" formControlName="SuDungPhongHopInput" placeholder="Sử dụng phòng họp" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-1">
                        <div style="padding-top: 5px;">
                            <button (click)="dangKyPhongHop()" class="d-block" type="button" mat-raised-button class="ja_btn-addnew" matTooltip="Đăng ký phòng họp" [disabled]="disabledBtn">
                         Đăng ký
                     </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="ShowDangKyTaiSanKhac2">
                    <div class="row" *ngFor="let dt of listValues,let i = index">
                        <div class="col-lg-3">
                            <mat-form-field class="d-block" class="example-full-width">
                                <input class="" value="{{dt.chitiet}}" placeholder="Tài sản khác" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-1">
                            <div style="padding-top: 5px;">
                                <button mat-icon-button color="warn" type="button" (click)="remove(dt)" matTooltip="Xóa">
                                 <mat-icon>clear</mat-icon>
                             </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div *ngIf="ShowDangKyTaiSanKhac" class="row">
                    <div class="col-lg-12">
                        <button (click)="dangKyTaiSan()" class="d-block" type="button" mat-raised-button class="ja_btn-addnew" matTooltip="Đăng ký tài sản khác">
                         Đăng ký tài sản khác
                     </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div style="padding-top: 15px;padding-bottom: 5px;padding-bottom: 15px;">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button #button1 [checked]="checkedZoom" value="1" (click)="checkState(button1)">Sử dụng phòng họp trực tuyến Zoom
                                    <span style="margin-left: 3px;" [inlineSVG]="'./assets/media/svg/social-icons/zoom.svg'" cacheSVG="true" class="svg-icon svg-icon-xl"></span>
                                </mat-radio-button>
                                <mat-radio-button #button2 [checked]="checkedGoogle" value="2" (click)="checkState(button2)">Sử dụng phòng họp trực tuyến Google Meet
                                    <span style="margin-left: 5px;" [inlineSVG]="'./assets/media/svg/social-icons/google-meet.svg'" cacheSVG="true" class="svg-icon svg-icon-xl"></span>
                                </mat-radio-button>
                                <mat-radio-button #button3 [checked]="checkedWebex" value="3" (click)="checkState(button3)">Sử dụng phòng họp trực tuyến Cisco WebEx
                                </mat-radio-button>
                                <mat-radio-button #button4 [checked]="checkedTeams" value="4" (click)="checkState(button4)">Sử dụng phòng họp trực tuyến MS Teams
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="selectedZoom" class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="example-full-width">
                            <mat-select required placeholder="Chọn phòng họp Zoom" formControlName="IDPhongHop">
                                <mat-option *ngFor="let tmp of listKey" value="{{tmp.Id}}">
                                    {{tmp.TenPhong}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="selectedGoogle" class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="example-full-width">
                            <mat-select required placeholder="Chọn phòng họp Google" formControlName="IDPhongHopGoogle">
                                <mat-option *ngFor="let tmp of listKeyGoogle" value="{{tmp.Id}}">
                                    {{tmp.TenPhong}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="selectedTeams" class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="example-full-width">
                            <mat-select required placeholder="Chọn phòng họp MS Teams" formControlName="IDPhongHopTeams">
                                <mat-option *ngFor="let tmp of listKeyTeams" value="{{tmp.Id}}">
                                    {{tmp.TenPhong}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div [hidden]="true" class="row" style="padding-bottom: 10px;" *ngIf="selectedZoom">
                    <div class="col-lg-6">
                        <mat-checkbox [checked]="true" formControlName="OpenURL">Mở cuộc họp bằng trình duyệt</mat-checkbox>
                    </div>
                </div>
                <div [hidden]="true" class="row" style="padding-bottom: 10px;" *ngIf="selectedZoom">
                    <div class="col-lg-6">
                        <mat-checkbox [checked]="true" formControlName="OpenApp">Mở cuộc họp bằng ứng dụng Zoom</mat-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" style="flex-grow: 1;padding-top: 10px;">
                            <div style="padding-top: 5px; margin-right: 15px;">Mời tham dự:</div>
                            <div style="padding-right: 5px;" class="cu-user-group url scale-hover-01 position-relative" *ngFor="let user of listNguoiThamGia || [];let index = index">
                                <!-- <i class="far fa-times-circle url view-hover text-dark bg-white" style="position: absolute;top:0;right:0;border-radius: 50%;"></i> -->
                                <i class="far fa-times-circle url view-hover text-dark bg-white" style="position: absolute;top:0;right:0;border-radius: 50%;" (click)="deleteUserThamGia(user)"></i>
                                <kt-avatar-user-mt [image]="user.Image" size="29" [name]="user.HoTen">
                                </kt-avatar-user-mt>
                            </div>
                            <div (click)="AddThanhVien(1)" matTooltip="Chọn người" matTooltipPosition="above" class="url user" style="border: 1px dashed #676363;border-radius: 50%;padding: 5px;display: inline-block;width: 29px;height: 29px;margin-left: 0px !important; ">
                                <i class="fas fa-user-plus pd-0" style="font-size: 13px; "></i>
                            </div>
                        </div>
                        <!-- <mat-menu #memberThamGia="matMenu">
                           <div class="page-work-detail">
                               <kt-choose-users-mt isNewView="true" [options]="options" (IsSearch)="stopPropagation($event)" (ItemSelected)="ItemSelectedThamGia($event)">
                               </kt-choose-users-mt>
                           </div>
                       </mat-menu> -->
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-lg-12">
                        <div class="row" style="flex-grow: 1;padding-top: 10px;">
                            <div style="padding-top: 5px;margin-right: 15px;">Người theo dõi:</div>
                            <div style="padding-right: 5px;" class="cu-user-group url scale-hover-01 position-relative" *ngFor="let usertd of listNguoiTheoDoi || [];let index = index">
                                <i class="far fa-times-circle url view-hover text-dark bg-white" style="position: absolute;top:0;right:0;border-radius: 50%;"></i>
                                <i class="far fa-times-circle url view-hover text-dark bg-white" style="position: absolute;top:0;right:0;border-radius: 50%;" (click)="deleteUserTheoDoi(usertd)"></i>
                                <kt-avatar-user-mt [image]="usertd.Image" size="29" [name]="usertd.HoTen">
                                </kt-avatar-user-mt>
                            </div>
                            <div (click)="AddThanhVien(2)" matTooltip="Chọn người" matTooltipPosition="above" class="url user" style="border: 1px dashed #676363;border-radius: 50%;padding: 5px;display: inline-block;width: 29px;height: 29px; ;margin-left: 0px !important;">
                                <i class="fas fa-user-plus pd-0" style="font-size: 13px; "></i>
                            </div>
                        </div>
                        <!-- <mat-menu #memberTheoDoi="matMenu">
                           <div class="page-work-detail">
                               <kt-choose-users-mt isNewView="true" [options]="options1" (IsSearch)="stopPropagation($event)" (ItemSelected)="ItemSelectedTheoDoi($event)">
                               </kt-choose-users-mt>
                           </div>
                       </mat-menu> -->
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-lg-12">
                        <mat-checkbox formControlName="XacNhanThamGia">Yêu cầu xác nhận tham dự</mat-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-checkbox (change)="showOptions($event)" formControlName="NhapTomTat">Bắt buộc nhập tóm tắt, kết luận cuộc họp</mat-checkbox>
                    </div>
                    <div class="col-lg-6" *ngIf="clickNhapTomTat">
                        <div class="row" style="flex-grow: 1;padding-top: 10px;">
                            <div style="padding: 5px; margin-right: 15px;">Người nhập tóm tắt:</div>
                            <div style="padding-right: 5px;" class="cu-user-group url scale-hover-01 position-relative" *ngFor="let userTT of listNguoiTomTat || [];let index = index">
                                <i class="far fa-times-circle url view-hover text-dark bg-white" style="position: absolute;top:0;right:0;border-radius: 50%;"></i>
                                <i class="far fa-times-circle url view-hover text-dark bg-white" style="position: absolute;top:0;right:0;border-radius: 50%;" (click)="deleteUserTomTat(userTT)"></i>
                                <kt-avatar-user-mt [image]="userTT.Image" size="29" [name]="userTT.HoTen">
                                </kt-avatar-user-mt>
                            </div>
                            <div (click)="AddThanhVien(3)" matTooltip="Chọn người" matTooltipPosition="above" class="url user" style="border: 1px dashed #676363;border-radius: 50%;padding: 5px;display: inline-block;width: 29px;height: 29px;;margin-left: 0px !important; ">
                                <i class="fas fa-user-plus pd-0" style="font-size: 13px; "></i>
                            </div>
                        </div>
                        <!-- <mat-menu #member="matMenu">
                           <div class="page-work-detail">
                               <kt-choose-users-mt isNewView="true" [options]="options2" (IsSearch)="stopPropagation($event)" (ItemSelected)="ItemSelectedTomTat($event)">
                               </kt-choose-users-mt>
                           </div>
                       </mat-menu> -->
                    </div>

                </div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-lg-12">
                        <mat-form-field class="example-full-width">
                            <textarea rows="1" class="" formControlName="GhiChu" placeholder="Ghi chú" matInput></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>