
<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h5 class="kt-portlet__head-title">{{getTitle()}}</h5>
		</div>
	</div>
	<form class="kt-form" [formGroup]="itemForm">
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-md-12 kt--margin-bottom-10-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<input matInput placeholder="{{ 'tags.tag' | translate }}" class="require" required
							formControlName="title" />
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div style="padding-left: 20px; padding-bottom: 15px;" class="col-md-12 m--margin-bottom-10-mobile">
					<kt-color-picker2 [selected]="item.color" (ItemSelected)="ItemSelected($event)">
					</kt-color-picker2>
				</div>
			</div>
		</div>
	</form>
	<div class="kt-portlet__foot">
		<div class="kt-form__actions kt-form__actions--solid">
			<div class="row text-right">
				<div class="col-lg-12">
					<button type="button" class="mat-raised-button" (click)="close()" [disabled]="disabledBtn"
						cdkFocusInitial matTooltip="{{ 'GeneralKey.trolai' | translate }}">
						<span translate="GeneralKey.trolai"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn"
							class="spinner-button-pad"></div>
					</button>&nbsp;
					<button type="button" mat-raised-button class="jee_btn-addclose" (click)="onSubmit(true)"
						[disabled]="disabledBtn" matTooltip="{{ 'tags.themtag' | translate }}">
						<span translate="tags.themtag"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn"
							class="spinner-button-pad"></div>
					</button>
					&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>