<div>
   <div class="panel-left-v2" style="height: 100%;">
      <!-- #region header -->
      <div>
         <div class="header title1"
            style="display: flex;justify-content: space-between;font-size: 14pt;
            font-weight: 500;border-bottom: 1px solid #d3d3d3de; padding-left: 10px;">
            <span>Thiết lập {{DanhMucChungService.ts_congviec}} của {{DanhMucChungService.ts_phongban}}</span>
            <div class="fle" style="display: flex;">
               <button mat-button mat-raised-button (click)="close()">{{ "COMMOM.TROLAI" | translate }}</button>&nbsp;
               <button mat-button mat-raised-button style="background-color: #3699ff; color: #f2fcfb;margin-right:10px"
                  (click)="subMit()">{{ "COMMOM.LUU"
                  | translate }}</button>
            </div>
         </div>
      </div>

      <div style="display: flex;margin-top: 10px;">
         <div class="row" style="margin:0; padding-top:10px">
            <mat-form-field style="width: 300px">
               <mat-label>Chọn {{DanhMucChungService.ts_phongban}}</mat-label>
               <mat-select [(value)]="selected">
                  <mat-option *ngFor="let dt of listProject" [value]="dt.id_row">
                     {{dt.title}}
                  </mat-option>
               </mat-select>
            </mat-form-field>
         </div>
      </div>
   </div>
</div>