<style>
  .scrollVirtual {
    height: 87vh;
    width: 100%;
    flex-grow: 1;
  }

  @media only screen and (max-width: 1566px) {
    .scrollVirtual {
      height: 82vh;
      width: 100%;
      flex-grow: 1;
    }
  }

  .mat-expanded mat-panel-title {
    display: none;
  }

  .status-items {
    align-items: center;
    padding: 3px;
  }

  .status-all {
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 2px #070707
  }

  .status-complete {
    cursor: pointer;
  }
</style>
<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 style="font-weight: bold">Phân quyền cho tài khoản</h3>
    </div>
    <div class="card-toolbar">

    </div>
  </div>
  <div class="card-body" style="padding: 10px 20px">
    <!-- <div class="row class-text-step" id="text" *ngIf="this._GuideSystemService.textStep2 == ''">
      <span>Phân quyền quản lý cho tài khoản sử dụng nhằm gán quyền cho nhân viên của bạn để thực hiện các công việc
        theo phân công ở từng phân hệ chức năng.</span><br />
      <span>Tài khoản khi được kích hoạt sẽ mặc định được truy cập các chức năng của nhân viên bạn không cần phải làm gì
        thêm. Bạn chỉ thực hiện bảng phân quyền bên dưới để <span style="color:red">phân quyền cho nhân viên quản lý và
          chịu trách nhiệm chính cho phân hệ đó.</span>&nbsp;Tài khoản quản trị hệ thống là tài khoản có toàn quyền trên
        tất cả các phân hệ và không thể thay đổi (không thể bỏ quyền)</span>
    </div> -->
    <div class="row class-text-step" id="text">
      <span [innerHTML]="this._GuideSystemService.textStep3 | safeHtml"></span>
    </div>
    <div class="example-container mat-table__wrapper" [ngStyle]="{'height': getHeightFull()}"
      style="overflow-y: auto; margin: 0 25px;">
      <table mat-table style="width: 100%" [dataSource]="data" class="dl-table-custom">
        <ng-container matColumnDef="STT">
          <th mat-header-cell *matHeaderCellDef>Họ và tên</th>
          <td mat-cell *matCellDef="let element,let vi = index">
            <span>{{ vi+1}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef>Họ và tên</th>
          <td mat-cell *matCellDef="let element">
            <span>{{ element.FullName}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef>Số điện thoại</th>
          <td mat-cell *matCellDef="let element">
            <span>{{ element.PhoneNumber}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="{{column.AppID}}" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef style="text-align:center">{{ column.AppName}}</th>
          <td mat-cell *matCellDef="let element,let vi = index" style="text-align:center">
            <div class="status-items" (click)="change(element,column)" *ngIf="!getCheck(element,column)">
              <i class="fa fa-circle status-all" style="font-size: 20px;"></i>
            </div>
            <div class="status-items" (click)="change(element,column)"
              *ngIf="getCheck(element,column) && element.IsEdit">
              <i class="fa fa-check-circle status-complete" style="font-size: 20px; color: rgb(7, 191, 7)"></i>
            </div>
            <div class="status-items" *ngIf="getCheck(element,column) && !element.IsEdit">
              <i class="fa fa-check-circle" style="font-size: 20px;"></i>
            </div>
            <!-- <div class="round">
              <input [disabled]="!element.IsEdit" type="checkbox" [checked]="getCheck(element,column)"
                (change)="change(element,column)" id="checkbox{{vi}}{{column.AppID}}" />
              <label for="checkbox{{vi}}{{column.AppID}}"></label>
            </div> -->
            <!-- <mat-checkbox [checked]="getCheck(element,column)" aria-readonly="true">
            </mat-checkbox> -->
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <button type="button" mat-raised-button class="ja_button ja_btn-goback" (click)="TroLai()">
      <span translate="landingpagekey.trolai"></span>
    </button>&nbsp;&nbsp;
    <button type="button" mat-raised-button class="ja_button ja_btn-addnew" (click)="TiepTuc()">
      <span>Tiếp tục</span>
    </button>
  </div>
</div>