<div class="choose-users-box" *ngIf="!isNewView" >
    <mat-form-field class="mat-form-field-fluid "  style="padding-left: 10px;" (click)="stopPropagation($event)">
        <input matInput [formControl]="userFilterCtrl" placeholder="{{ 'GeneralKey.nhapdetimkiem' | translate}}"
            autocomplete="off" (keyup)="keyup($event.target.value)"/>
        <mat-icon matPrefix> search</mat-icon>
    </mat-form-field>
    <div class="users-container">
        <div  class="user-item" matTooltip="@{{user.username}}" (click)="select(user)"
            *ngFor="let user of listUser ">
            <div class="align-items-center d-flex">
                <ngx-avatar size="30" src="{{user.image}}" *ngIf="user.image;else bindText"></ngx-avatar>
                <ng-template #bindText>
                    <ngx-avatar textSizeRatio="2.5" [style]="customStyle" size="30"
                        bgColor="{{_DanhMucChungService.getColorNameUser(user.hoten)}}"
                        [name]="this._DanhMucChungService.getName(user.hoten)"></ngx-avatar>
                </ng-template>
            </div>
            <div style="padding-left: 10px;">
                <div>{{ user.hoten }}</div>
                <span>{{ user.tenchucdanh }}</span>
            </div>
        </div>
    </div>
</div>
