<style>
	.mat-form-field {
		width: 100%;
	}

	.card-body {
		padding-top: 10px;
	}
</style>
<div class="card card-custom">
	<div class="card-header">
		<div class="card-title">
			<h3 class="dialog-title"><span>{{ getTitle() }}</span></h3>
		</div>
		<div class="card-toolbar">

		</div>
	</div>
	<div class="card-body">
		<form [formGroup]="itemForm" class="m-form m-form--group-seperator-dashed">
			<div class="m-form__section m-form__section--first">
				<div class="m-form__group">
					<div class="row">
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Mã khách hàng *" class="input-batbuoc" formControlName="maKNN" 
								type="text" autocomplete="off">
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Tên khách hàng *" #focusInput class="input-batbuoc" formControlName="tenKNN"
									type="text" autocomplete="off">
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Điện thoại *"
									formControlName="dienThoai" class="input-batbuoc" autocomplete="off" type="text">
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Nhóm khách hàng" formControlName="idLoai" multiple>
									<mat-option *ngFor="let tmp of listIdLoai" value="{{tmp.IDNhomKH}}">
										{{tmp.TenNhomKH}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Tỉnh thành" formControlName="idTinhThanh"
									(selectionChange)="ListIdQuanHuyen($event.value)">
									<mat-option>
										<ngx-mat-select-search [placeholderLabel]="'Tìm kiếm...'"
											[noEntriesFoundLabel]="'Không tìm thấy kết quả phù hợp'" [(ngModel)]="FilterTH"
											[ngModelOptions]="{standalone: true}" (ngModelChange)="filterTH()">
										</ngx-mat-select-search>
									</mat-option>
									<mat-option *ngFor="let tmp of filteredTinhThanh | async " value="{{tmp.IDTinhThanh}}">
										{{tmp.TenTinhThanh}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Quận huyện" formControlName="idQuanHuyen"
									(selectionChange)="ListIdPhuongXa($event.value)">
									<mat-option>
										<ngx-mat-select-search [placeholderLabel]="'Tìm kiếm...'"
											[noEntriesFoundLabel]="'Không tìm thấy kết quả phù hợp'" [(ngModel)]="FilterQH"
											[ngModelOptions]="{standalone: true}" (ngModelChange)="filterQH()">
										</ngx-mat-select-search>
									</mat-option>
									<mat-option *ngFor="let tmp of filteredQuanHuyen | async " value="{{tmp.IDQuanHuyen}}">
										{{tmp.TenQuanHuyen}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Phường xã" formControlName="idPhuongXa">
									<mat-option>
										<ngx-mat-select-search [placeholderLabel]="'Tìm kiếm...'"
											[noEntriesFoundLabel]="'Không tìm thấy kết quả phù hợp'" [(ngModel)]="FilterPX"
											[ngModelOptions]="{standalone: true}" (ngModelChange)="filterPX()">
										</ngx-mat-select-search>
									</mat-option>
									<mat-option *ngFor="let tmp of filteredPhuongXa | async " value="{{tmp.IDPhuongXa}}">
										{{tmp.TenPhuongXa}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Địa chỉ" formControlName="diaChi" 
								class="input-thuong" autocomplete="off" type="text">
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Email" formControlName="email" type="email"
								class="input-thuong" autocomplete="off" >
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Fax" formControlName="soFax" 
								class="input-thuong" autocomplete="off" type="text">
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Giới tính" formControlName="gioiTinh">
									<mat-option value="0">Khác</mat-option>
									<mat-option value="1">Nam</mat-option>
									<mat-option value="2">Nữ</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-6 kt--margin-bottokt-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Ngày sinh" [matDatepicker]="NgaySinh" formControlName="ngaySinh" #ngaySinh>
								<mat-datepicker-toggle matSuffix [for]="NgaySinh">
								</mat-datepicker-toggle>
								<mat-datepicker #NgaySinh></mat-datepicker>
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Thời hạn thanh toán" formControlName="thoiHanThanhToan"
									class="input-thuong" class="input-thuong" type="number">
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Giới hạn nợ" formControlName="gioiHanNo" 
									class="input-thuong" class="input-thuong" type="number">
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Nợ đầu kỳ" formControlName="noDauKy" 
									class="input-thuong" class="input-thuong" type="number">
							</mat-form-field>
						</div>
						<div class="col-md-6 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Ghi chú" formControlName="ghiChu"
								class="input-thuong" autocomplete="off" type="text">
							</mat-form-field>
						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="dialog-footer" style="padding-top:20px">
		<button type="button" mat-raised-button class="ja_button ja_btn-goback" (click)="goBack()">
			<span translate="landingpagekey.trolai"></span>
		</button>&nbsp;&nbsp;
		<button type="button" (click)="onSubmit(true)" mat-raised-button class="ja_button ja_btn-addcontinue"
			[disabled]="disabledBtn" matTooltip="{{ 'landingpagekey.luudong' | translate }}"><span
				translate="landingpagekey.luudong"></span></button>&nbsp;&nbsp;
		<!-- <button type="button" mat-raised-button class="ja_button ja_btn-addnew" (click)="onSubmit(false)"
			*ngIf="!viewLoading" [disabled]="disabledBtn" matTooltip="{{ 'landingpagekey.luutieptuc' | translate }}">
			<span translate="landingpagekey.luutieptuc"></span>
		</button> -->
	</div>
</div>