
.form-input-title {
    flex-grow: 1;
    padding-left: 5px;
    border-radius: 0.42rem;
    outline: none;
    border: 1px solid #b1b2b8;
    background: none;
}
table,
th,
td {
    border: 1px solid #ccc;
    padding-left: 3px;
}

.icon-close {
    border: 1px solid rgba(211, 211, 211, 0.87);
    height: 30px;
    width: 30px;
    border-radius: 4px;
}
::placeholder {
    font-size: 11pt;
    opacity: 1; /* Firefox */
  }
.customth{
    height: 50px;
    font-size: 15px;
    background-color: #f3f6f9 !important;
}
.customw{
    height: 50px;
}