<style>
  .border1{
    border-radius: 0px !important;
  }
</style>
<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="dialog-title"><span>Thêm mới yêu cầu hỗ trợ</span></h3>
    </div>
  </div>
  <div class="card-body" [ngStyle]="{'height': getHeight()}" style="overflow-y: scroll;" (scroll)="onScroll($event)">
    <div class="row" style="width:50%">
      <ng-container [ngTemplateOutlet]="setCbb" style="margin-right: 20px;width: 50%;"></ng-container>
    </div>


    <div class="cu-task-row-new ng-tns-c79-35 cu-task-row-new_subtask ng-star-inserted cu-task-row-new_active">
      <div class="cu-add-new-task pd-0">
        <div class="cu-task-row-new__container row">

          <div class="cu-task-row-new__options ng-star-inserted">
            <ng-container [ngTemplateOutlet]="Agent"></ng-container>
          </div>
        </div>
      </div>
    </div>
    <form #messageForm="ngForm" autocomplete="off">
      <div>
        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
          <input required matInput [(ngModel)]="Title" name="Title" [ngModelOptions]="{standalone: true}" id="txttitle"
            type="text" class=" row  w-100 required " placeholder="Tiêu đề yêu cầu hỗ trợ">
          <mat-error *ngIf="!Title">
            Tiêu đề hỗ trợ <strong>bắt buộc nhập</strong>
          </mat-error>
        </mat-form-field>




        <!-- {{Title}}
        <input required [(ngModel)]="Title" name="Title" [ngModelOptions]="{standalone: true}" id="txttitle" type="text"
          class="form-input-title row  w-100" placeholder="Tiêu đề yêu cầu hỗ trợ"> -->
      </div>
      <div>
        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
          <input matInput [(ngModel)]="Note" name="Note" [ngModelOptions]="{standalone: true}" id="txtnote" type="text"
            class=" row  w-100 " placeholder="Ghi chú yêu cầu hỗ trợ ( Thông tin người gửi )">
          <!-- <mat-error *ngIf="!Note">
            Ghi chú yêu cầu hỗ trợ <strong>bắt buộc nhập</strong>
          </mat-error> -->
        </mat-form-field>


      </div>
      <div style="padding-top: 10px;">
        <span style="text-transform: uppercase;color: #42b814;font-weight: bold;font-size: 14px;">Mô tả yêu cầu hỗ
          trợ</span>
      </div>
      <div>
        <quill-editor [(ngModel)]="Message" name="message" [ngModelOptions]="{standalone: true}"
          [styles]="{height: '200px', BackgroundColor: 'red'}" (onFocus)="focus($event)" 
          (onEditorChanged)="changedEditor($event)" (onBlur)="blur($event)" (onEditorCreated)="created($event)">
          <div quill-editor-toolbar>
            <span class="ql-formats">
              <button type="button" class="ql-bold"></button>
              <button type="button" class="ql-italic"></button>
              <button type="button" class="ql-underline"></button>
              <button type="button" class="ql-strike"></button>
            </span>
            <span class="ql-formats">
              <button type="button" class="ql-list" value="ordered"></button>
              <button type="button" class="ql-list" value="bullet"></button>
              <button type="button" class="ql-indent" value="-1"></button>
              <button type="button" class="ql-indent" value="+1"></button>
              <select class="ql-align" [title]="'Aligment'">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>
            </span>
            <span class="ql-formats">
              <button type="button" class="ql-blockquote"></button>
              <button type="button" class="ql-code-block"></button>
            </span>
            <span class="ql-formats">
              <button type="button" class="ql-header" value="1"></button>
              <button type="button" class="ql-header" value="2"></button>
              <select class="ql-color" [title]="'Color'"></select>
              <select class="ql-background" [title]="'BackgroundColor'"></select>
            </span>
            <span class="ql-formats">
              <button type="button" class="ql-script" value="sub"></button>
              <button type="button" class="ql-script" value="super"></button>
            </span>
            <span class="ql-formats" style="margin: 0 !important;">
              <button type="button" class="ql-direction" value="rtl"></button>
              <select class="ql-size" [title]="'Size'">
                <option value="small"></option>
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
              </select>
            </span>

            <span class="ql-formats" style="margin: 0;">
              <button type="button" class="ql-clean"></button>
              <button type="button" class="ql-link"></button>
              <button type="button" class="ql-image"></button>
              
            </span>
          </div>
          <div quill-editor-element class="ql-container ql-snow">
            <div class="ql-editor ql-blank " data-gramm="false" contenteditable="true" 
              data-placeholder="Insert text here..."  >
              <p class="editor-chat"><br></p>
            </div>
          </div>
        </quill-editor>
      </div>
    </form>
    <div style="padding:10px 0 0 0">
      <div style="float: right;right:0">
        <a class="action" (click)="selectFile()">
          <i matTooltip="{{ 'topic.upload' | translate }}" class="las la-paperclip"></i>&nbsp;
          <span translate="work.themtailieu"></span>
        </a>
        <input #myInput placeholder="Chọn file" id="imgInpdd1" type="file" name="myInput" multiple
          style="display: none;" (change)="FileSelected($event)">
      </div>
      <div>
        <span style="text-transform: uppercase;color: #42b814;font-weight: bold;font-size: 14px;">TÀI LIỆU ĐÍNH
          KÈM</span>

      </div>
    </div>
    <div>
      <ng-container [ngTemplateOutlet]="tabtailieu"></ng-container>

    </div>
  </div>

  <div class="dialog-footer">
    <button type="button" (click)="goBack()" class="ja_button ja_btn-goback" mat-raised-button><span>Trở
        lại</span></button>&nbsp;
    <button type="button" (click)="onSubmit(true)" mat-raised-button class="ja_button ja_btn-addcontinue" matTooltip="">
      <span>Lưu đóng</span>
    </button>&nbsp;
    <button type="button" (click)="onSubmit(false)" (keyup.control.enter)="onSubmit(false)" mat-raised-button
      class="ja_button ja_btn-addnew" matTooltip="">
      <mat-icon class="icon-repeat">repeat</mat-icon><span>Lưu và tiếp tục</span>
    </button>
  </div>
</div>




<ng-template #Agent>
  <!-- <div *ngIf="item_cate" >
    <span>
      Quản lý hỗ trợ
    </span>

    <div class="row">
      <ng-container style="padding-left: 10px;" *ngFor="let us of this.item_cate.Admin;let index = index">

        <div class="user url " style="justify-content: flex-end;">
  
          <ng-container>
            <ngx-avatar [size]="30" matTooltip="{{us.fullname}}" src="{{us.image}}"
              *ngIf="us.image && us.image!=undefined  ;else bindText">
            </ngx-avatar>
            <ng-template #bindText>
              <ngx-avatar [textSizeRatio]="2.5" matTooltip="{{us.fullname}}" [size]="30" [name]="getName(us.fullname)"
                bgColor="{{getColorNameUser(us.fullname)}}">
              </ngx-avatar>
            </ng-template>
          </ng-container>
        </div>
      </ng-container>
  
    </div>

    <span>
      Nhân viên hỗ trợ
    </span>
    <div class="row">

      <ng-container style="padding-left: 10px;" *ngFor="let us of this.item_cate.Agent;let index = index">
  
        <div class="user url" style="justify-content: flex-end;">
          <ng-container>
            <ngx-avatar [size]="30" matTooltip="{{us.fullname}}" src="{{us.image}}"
              *ngIf="us.image && us.image!=undefined  ;else bindText">
            </ngx-avatar>
            <ng-template #bindText>
              <ngx-avatar [textSizeRatio]="2.5" matTooltip="{{us.fullname}}" [size]="30" [name]="getName(us.fullname)"
                bgColor="{{getColorNameUser(us.fullname)}}">
              </ngx-avatar>
            </ng-template>
          </ng-container>
        </div>
      </ng-container>
  
    </div>






  </div> -->
</ng-template>

<ng-template #setCbb>
  <div class="cu-task-row-assignee">
    <div class="mat-form-field-fluid" class="btn-dp" style="color: black;font-size:10pt;font-weight: bold;min-width: 250px !important;max-width: 400px;
    padding-left: 5px;border: none;">
      <mat-select (selectionChange)="ChangeStage($event.value)" placeholder="Loại yêu cầu" #singleSelect>
        <mat-option *ngFor="let cate of this.cbbCategory2" [value]="cate.MappingCode">
          {{ cate.Title }}
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="itemForm.get('SourceType').hasError('required')">
          Loại yêu cầu bắt buộc chọn
        </mat-error> -->
    </div>

  </div>
</ng-template>

<ng-template #tabtailieu>
  <div *ngFor="let att2 of AttFile;">

    <table style="width: 100%;">
      <tr>
        <td style="width:80%; ">
          <div class="row" style="text-align:right ;right:0;">
            <img src="{{getIcon(att2.type)}}" />
            <div>
              <p>{{att2.filename}}</p>
            </div>
          </div>

        </td>

        <td style="width:20%">
          <a style="float: right;right:0" class="url" matTooltip="Xóa" (click)="deleteFile(att2)">
            <i class="fas fa-trash-alt"></i>
          </a>
          <!-- <a style="padding-right: 7px;float: right;" class="url" matTooltip="Xem trước">
            <i class="far fa-eye"></i>
          </a>
          <a style="padding-right: 7px;float: right;" class="url" matTooltip="Tải xuống">
            <i class="fas fa-download"></i>
          </a> -->


        </td>
      </tr>

      <!-- <ng-template #noattach>
        <span style="font-size:10pt;">
          Không có tài liệu đính kèm
        </span>
      </ng-template> -->

    </table>
  </div>

</ng-template>