<span style="font-size: 12pt" [matMenuTriggerFor]="commentsmenu" (menuOpened)="showcomment = true"
  (menuClosed)="this.submit.emit(true); showcomment = false">
  <div class="topbar-item">
    <div class="btn btn-icon btn-icon-mobile mr-1 pulse pulse-primary" id="kt_quick_notifications_toggle">
      <i [ngClass]="{ Notify: value > 0 }" class="far fa-comment" style="font-size: 1.5rem"></i>
      <span class="badge" style="top: 0" *ngIf="value > 0">{{ value }}</span>
    </div>
  </div>
</span>
<mat-menu #commentsmenu="matMenu">
  <div (click)="$event.stopPropagation()" style="max-height: 450px; 
    min-width: 500px; 
    min-height: 300px">
    <ng-container *ngIf="showcomment == true">
      <ng-container>
        <jee-comment-lib (NotifyComentEventSub)="NotifyComent($event)" [UserCurrent_lib]="UserCurrent_lib"
          [showCommentDefault]="true" [objectID]="(topicObjectID$.asObservable() | async)!">
        </jee-comment-lib>
      </ng-container>
    </ng-container>
  </div>
</mat-menu>